{% extends "literature/base.html" %}

{% block main-content-body %}
{% load staticfiles %}
<h3>
    Literature
</h3>
{% if error %}
    <div style="color:red">
        {{error}}
    </div>
{% endif %}
<div class="well">
    This is an overview of references and literature that are available on this
    platform. If you are logged in you can add new references to the database
    using a BibTeX file or manually. Every entry has a unique id that can be
    referenced in the OEDB, in order to make your dataset more transparent
    in case of many references. The id number is displayed in gray starting with
    a hash and the id number (e.g #1).<br/>
    <br/>
    Learn more about the BibTeX on
    <a href="https://de.wikipedia.org/wiki/BibTeX" target="_blank">Wikipedia</a>
    or <a href="http://www.bibtex.org/" target="_blank">BibTeX</a>.<br/>
    <br/>
    Use the green add button to add your references as file or fill your
    information manually. By clicking on an entry you can edit it.
</div>
<script src="{% static 'jsMath/easy/load.js' %}"></script>
     <div class="dropdown">
      {% if user.is_authenticated %}
         <button class="btn btn-success dropdown-toggle" type="button" data-toggle="dropdown">Add</button>
      {% endif %}
      <ul class="dropdown-menu">
        <li><a href="entry/add">Manually</a></li>
         <li><a data-toggle="modal" data-target="#uploadModal">Upload BibTeX</a></li>
      </ul>
    </div>

    <div class="list-group">
    {% for ref in refs %}
        <a id="has_math" class="list-group-item" href="entry/{{ref.entries_id}}">{{ref.title}} </a>
    {% endfor %}
    </div>

<SCRIPT>
  jsMath.ConvertTeX('has_math');
  jsMath.ProcessBeforeShowing('has_math');
</SCRIPT>


    <div STYLE="color:#CC0000; text-align:center">
      <b>Warning: <a HREF="http://www.math.union.edu/locate/jsMath">jsMath</a>
      requires JavaScript to process the mathematics on this page.<br>
      If your browser supports JavaScript, be sure it is enabled.</b>
    </div>

<div id="uploadModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Select BibTeX file</h4>
      </div>
      <div class="modal-body">
        <form role="form" action="entry/upload/" method="post" enctype="multipart/form-data">{% csrf_token %}
            <input name="bibtex" type="file" size="50" accept="text/*">
            <button type="submit" class="btn">Send</button>
        </form>
      </div>
    </div>

  </div>
</div>
{% endblock %}