<div class="form-group">
{% if not nolabel %}<label for="{{key}}">{{key}}:</label> {% endif %}
{% if type == 'month' %} {# input type=date y u no supported? #}
    <select name="month" id="month" onchange="" size="1">
        <option value="01">January</option>
        <option value="02">February</option>
        <option value="03">March</option>
        <option value="04">April</option>
        <option value="05">May</option>
        <option value="06">June</option>
        <option value="07">July</option>
        <option value="08">August</option>
        <option value="09">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
    </select>
{% elif type == 'year'%}
    <select name="year" id="year" onchange="" size="1">
        {% for year in years %}
            <option value="{{year}}">{{year}}</option>
        {% endfor %}
    </select>
{% elif type == 'textarea'%}
<textarea rows="4" cols="50">
    {%if value%}{{value}}{%endif%}
</textarea>
{% else %}
    <input type="text" class="form-control" name="{{key}}" id="{{key}}" value="{%if value %}{{value}}{%endif%}"></td>
{%endif%}
</div>
