django
django-bootstrap3
matplotlib
urllib3
scipy
django-widget_tweaks
psycopg2
sqlalchemy
Pillow
bibtexparser
svn
django-colorfield
requests
mwclient
geoalchemy2
-e git+https://github.com/openego/ego.io.git#egg=Package
shapely
djangoajax
