django >= 1.11
django-bootstrap3
matplotlib
urllib3
scipy
django-widget_tweaks
psycopg2
sqlalchemy
Pillow
bibtexparser
django-colorfield
requests
geoalchemy2
-e git+https://github.com/openego/ego.io.git#egg=Package
djangoajax
webcolors
djangorestframework
django-axes