django>=3.2.4,<4.0
matplotlib>=2.0
urllib3>=1.20
scipy>=0.18.1
django-widget_tweaks>=1.4.1
sqlalchemy>=1.3.0,<1.4
Pillow
bibtexparser>=0.6.2
django-colorfield>=0.1.12
requests>=2.13.0
egoio
psycopg2-binary
webcolors>=1.7
djangorestframework>=3.5.4
django-axes
shapely>=1.5.17
markdown2
alembic
django-simple-captcha
django-bootstrap5
django-fontawesome-5
omi>=0.0.7
django-jquery
zipstream-new
rdflib<6.0
rdflib-jsonld # DeprecationWarning when rdflib>=6.0
django_better_admin_arrayfield
sparqlwrapper
Pygments<=2.11.2 # latest version fails to convert fenced code blocks
nbconvert>=6.4.5
ipython # needed for IPython3Lexer for nbconvert
beautifulsoup4 # for markdown raw html cleanup
