# SPDX-FileCopyrightText: 2022 Christian Winger <https://github.com/wingechr> © Öko-Institut e.V.
# SPDX-FileCopyrightText: 2025 Jonas Huber <https://github.com/jh-RLI> © Reiner Lemoine Institut
# SPDX-FileCopyrightText: oeplatform <https://github.com/OpenEnergyPlatform/oeplatform/>
# SPDX-License-Identifier: AGPL-3.0-or-later

-r requirements.txt
-r requirements-docs.txt
flake8
black
isort
pre-commit
bumpversion
debugpy
djlint
