.tutorial-container h1 > .anchor-link,
.tutorial-container h2 > .anchor-link,
.tutorial-container h3 > .anchor-link,
.tutorial-container h4 > .anchor-link {
  font-size: 0.4em;
  margin-left: 1em;
}

.tutorial-container h1 {
  font-size: 2rem;
}
.tutorial-container h2 {
  font-size: 1.75rem;
}
.tutorial-container h3 {
  font-size: 1.5rem;
}
.tutorial-container h4 {
  font-size: 1.25rem;
}
.tutorial-container h5 {
  font-size: 1rem;
}
.tutorial-container h6 {
  font-size: 1rem;
}

.tutorial-container h1,
.tutorial-container h2,
.tutorial-container h3,
.tutorial-container h4,
.tutorial-container h5,
.tutorial-container h6 {
  margin-top: 1em;
}
