{% load django_bootstrap5 %}
{% load static %}
<!-- unit_element.html -->
<div class="unit-element mb-3">
    <div class="mb-2">
        <label for="unitName" class="form-label">Unit Name:</label>
        <div class="dropdown">
            <input type="text" name="unitName-{{unit_id}}" id="autocomplete-{{unit_id}}" class="form-control unitName" autocomplete="off">
            <div id="dropdown-content" class="dropdown-content"></div>
        </div>
    </div>

    <div class="mb-2">
        <label for="unitType" class="form-label">Unit Type:</label>
        <select name="unitType" class="form-select unitType">
            <option value="linear">Linear</option>
            <option value="squared">Squared</option>
            <option value="cubed">Cubed</option>
        </select>
    </div>
    
    <button type="button" class="btn btn-danger remove-element mt-2">Remove</button>
</div>


<script>
    // Function to initialize autocomplete and other dynamic elements
    function initializeDynamicElements() {
        document.querySelectorAll('.remove-element').forEach(button => {
            button.addEventListener('click', function () {
                this.closest('.unit-element').remove();
                // available because this component is meant to be used together with
                // the listing module oeo-ext-plugin-ui.html
                updateResultExpression();
            });
        });

        document.querySelectorAll('.unitName, .unitType').forEach(input => {
            input.addEventListener('input', updateResultExpression);
        });

        document.querySelectorAll('.unitName').forEach(input => {
            input.addEventListener('keyup', function() {
                const query = this.value;
                if (query.length > 0) {
                    // use static path here to always use the open (data seeded) endpoint for 
                    // all (local, deployed) client executions
                    fetch(`https://openenergyplatform.org/api/v0/oeo-search?query=${query}`, {
                        mode: 'cors',
                    })
                    .then(response => response.json())
                    .then(data => {
                        const dropdownContent = this.nextElementSibling;
                        dropdownContent.innerHTML = '';
                        data.docs.forEach(item => {
                            const link = document.createElement('a');
                            link.href = '#';
                            link.textContent = String(item.label[0]).replaceAll("<B>", "").replaceAll("</B>", "");
                            link.addEventListener('click', function(event) {
                                event.preventDefault(); // Prevent the default action of the anchor tag
                                input.value = this.textContent;
                                dropdownContent.classList.remove('show');
                                input.focus({ preventScroll: true }); // Focus without scrolling
                                const inputEvent = new Event('input', { bubbles: true });
                                input.dispatchEvent(inputEvent); // Trigger the input event
                            });
                            dropdownContent.appendChild(link);
                        });
                        dropdownContent.classList.add('show');
                    })
                    .catch(error => console.error('Error fetching data:', error));
                } else {
                    this.nextElementSibling.classList.remove('show');
                }
            });
        });

        document.addEventListener('click', function(event) {
            const dropdowns = document.querySelectorAll('.dropdown-content');
            dropdowns.forEach(dropdown => {
                if (!event.target.closest('.dropdown')) {
                    dropdown.classList.remove('show');
                }
            });
        });
    }

    // Event listener for initial HTMX load
    document.addEventListener('htmx:load', function () {
        initializeDynamicElements();
    });

    // Event listener for HTMX afterSwap
    document.addEventListener('htmx:afterSwap', function (event) {
        initializeDynamicElements();
    });
</script>

<style>
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown-content.show {
    display: block;
}
</style>
