<section class="profile-category htmxComponentGroupMembership">
    <h2 class="profile-category__heading profile-category__heading--border-btm">Members <span class="profile-category__heading--sm">(5)</span></h2>
    <div class="profile-category__members">
        {% for membership in group.memberships.all %}
        
            {% if is_admin %}
            <div class="profile-category__member">
                <div class="profile-category__profile-name">
                    {{ membership.user.name }}
                </div>
                <div class="profile-category__member-status">
                    <select aria-label="Group member's status">
                        {% for value, choice in choices %}
                        <option value="{{value}}" {% if membership.level == value %} selected="selected" {% endif %}>{{choice}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            {% else %}
            <div class="profile-category__member">
                <div class="profile-category__profile-name">
                    {{ membership.user.name }}
                </div>
                <div class="profile-category__member-status">
                    Admin
                </div>
            </div>
            {% endif %}
        {% endfor %}
        <!-- <div class="profile-category__member">
            <div class="profile-category__profile-name">
                <a href="#">jh-rli</a>
            </div>
            <div class="profile-category__member-status">
                Admin
            </div>
        </div>
        <div class="profile-category__member">
            <div class="profile-category__profile-name">
                <a href="#">bmlancien</a>
            </div>
            <div class="profile-category__member-status">
                Admin
            </div>
        </div>
        <div class="profile-category__member">
            <div class="profile-category__profile-name">
                <a href="#">alix-agency</a>
            </div>
            <div class="profile-category__member-status">
                <select aria-label="Group member's status">
                    <option selected>Member</option>
                    <option value="1">Admin</option>
                </select>
            </div>
        </div>
        <div class="profile-category__member">
            <div class="profile-category__profile-name">
                <a href="#">mona</a>
            </div>
            <div class="profile-category__member-status">
                <select aria-label="Group member's status">
                    <option selected>Member</option>
                    <option value="1">Admin</option>
                </select>
            </div>
        </div> -->
        <div class="profile-category__member-invite">
            <button>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
                Invite member
            </button>
        </div>
    </div>
</section>


<div class="card " style="width:60%">
    <div class="card-header">
        Members
    </div>
    {% for membership in group.memberships.all %}
    <div class="card-body">
        <div>
            <label class="form-label" for="level">{{ membership.user.name }}</label>
            {% if is_admin %}
                <form class="form-inline" action="members" method="post" style ="display:inline-block;">
                    {% csrf_token %}
                    <input type="hidden" name="mode" value="alter_user">
                    <input type="hidden" name="user_id" value="{{membership.user.id}}">
                    <select class="form-control" id="level" name="level" onchange="this.form.submit()">
                        {% for value, choice in choices %}
                            <option value="{{value}}" {% if membership.level == value %} selected="selected" {% endif %}>{{choice}}</option>
                        {% endfor %}
                    </select>
                </form>
                <form action="members" method="post" style="display:inline-block;float:right"  onsubmit="return confirm('Are you sure you want to remove {{membership.user.name}} from {{group.name}} and retract all permissions?')">
                    {% csrf_token %}
                    <input type="hidden" name="mode" value="remove_user">
                    <input type="hidden" name="user_id" value="{{membership.user.id}}">
                    <input type="submit" class="btn btn-danger" value="Remove user">
                </form>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<form action="members" method="post"  style="width:60%">
    {% csrf_token %}
    <input type="hidden" name="mode" value="add_user">
    <input class="form-control" name="name" type="text" placeholder="Add a user" >
    {% if "name" in errors %}
        <div style="color:#ff0000">{{ errors.name }}</div>
    {% endif %}
    <b>Note:</b> Users have to log in on the OEP at least once in order to be registered.<br>
    <input type="submit" value="Add">
</form>