{% load django_bootstrap5 %}
{% load static %}
{% load compress %}



{% if request.user.is_authenticated and request.user == user%}
<div class="htmxReplacementBox">
    <div class="row">
        <h2 class="header">User Groups</h2>
        <div class="collapse-container collapse-container--right">
            <div class="collapse-container__button collapse-container__button--right">
                <button type="button" data-bs-toggle="collapse" data-bs-target="#collapseGroupUse" aria-expanded="false" aria-controls="collapseGroupUse">
                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
                        <path d="m12.14 8.753-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z"/>
                    </svg>
                    How to use Groups on the Open Energy Platform?
                </button>
            </div>
            <div class="collapse" id="collapseGroupUse">
                <div class="card card-body">
                    <strong>User Group management:</strong> On the profile page, you can oversee and control your groups, including those you are part of.
                    If you're an admin or owner, you have the authority to invite users, assigning them specific permissions to assist in group management.
                    To maintain user privacy, we currently require you to personally know and seek consent from individuals you wish to invite by requesting their usernames.
                    <br>
                    <br>
                    <strong>User object permissions:</strong> Groups on the Open Energy Platform serve a singular purpose: simplifying object-level permissions.
                    This functionality currently is particularly relevant for data tables that users create in the database section of the platform. To grant permissions,
                    visit the detail view of the table where, as the owner or creator, you'll find the permissions button on the right side. From there,
                    you can add individual users with specific permissions or include a group to grant identical permissions to all its members.
                </div>
            </div>
        </div>
    </div>
    <section class="profile-category">
        <h2 class="profile-category__heading">Memberships</h2>
        <button class="profile-category__btn profile-category__btn--add" hx-get="{% url 'login:group-create' %}" hx-target=".htmxReplacementBox" hx-push-url="true" hx-push-state>
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
            </svg>
            Create Group
        </button>
        <div class="group-management">
            {% for membership in request.user.memberships.all %}
            <div class="group-management__row">
                <div class="group-management__col">
                    <div class="group-card">
                        <div class="group-card__header">
                            <div class="group-card__header-top">
                                <div class="group-card__title">
                                    <span class="group-card__title-text">
                                        {{ membership.group }}
                                    </span>
                                    {% if membership.level == 12 %}
                                    <span class="group-card__tag group-card__tag--admin">Admin</span>
                                    {% else %}
                                    <span class="group-card__tag group-card__tag--member">Member</span>
                                    {% endif %}
                                </div>
                                <div class="group-card__top-end">
                                    <div class="group-card__members">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                                        </svg>
                                       <div class="member-count" hx-get="{% url 'login:count-group-memberships' membership.group.id %}" hx-trigger="load"></div>
                                    </div>
                                    <!-- <button class="group-card__btn group-card__btn--invite">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                            <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                                        </svg>
                                        Invite
                                    </button> -->
                                    <button class="group-card__btn  group-card__btn--edit" hx-get="{% url 'login:group-edit' group_id=membership.group_id %}" hx-target=".htmxReplacementBox" hx-push-url="true" hx-push-state>Edit</button>
                                </div>
                            </div>
                        </div>
                        <div class="group-card__body">
                            <span>{% if membership.group.description %}{{ membership.group.description }} {% endif %}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>

    <!-- Might not be implemented -> staged for later implementation -->
    <!-- <section class="profile-category">
        <h2 class="profile-category__heading">Group invitations</h2>
        <div class="group-management">
            <div class="group-management__row">
                <div class="group-management__col">
                    <div class="group-card">
                        <div class="group-card__header">
                            <div class="group-card__header-top">
                                <div class="group-card__title">
                                    <span class="group-card__title-text">
                                        <a href="#">Energy modelling</a>
                                    </span>
                                </div>
                                <div class="group-card__top-end">
                                    <div class="group-card__members">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-people" viewBox="0 0 16 16">
                                            <path d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1zm-7.978-1L7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002-.014.002zM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4m3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0M6.936 9.28a6 6 0 0 0-1.23-.247A7 7 0 0 0 5 9c-4 0-5 3-5 4q0 1 1 1h4.216A2.24 2.24 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816M4.92 10A5.5 5.5 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0m3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4"/>
                                        </svg>
                                        25 members
                                    </div>
                                    <button class="group-card__btn  group-card__btn--accept">Accept</button>
                                </div>
                            </div>
                        </div>
                        <div class="group-card__body">
                            <span>Energy modelling related</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->


</div>
{% endif %}
