<section class="profile-category htmxComponentGroupMembership">
  <h2 class="profile-category__heading profile-category__heading--border-btm">
    <span class="profile-category__heading--sm">
      <div class="member-count"
           hx-get="{% url 'login:count-organization-memberships' organization.id %}"
           hx-trigger="load"></div>
    </span>
  </h2>
  <div class="profile-category__members">
    {% for membership in organization.memberships.all %}
      {% if is_admin %}
        <div class="profile-category__member">
          <div class="profile-category__profile-name">{{ membership.user.name }}</div>
          <div class="profile-category__member-status">
            <form hx-post="{% url 'login:partial-organization-membership' organization_id=organization.id %}"
                  hx-trigger="change"
                  hx-target=".htmxComponentGroupMembership"
                  hx-swap="outerHTML">
              <input type="hidden" name="mode" value="alter_user" />
              <input type="hidden" name="user_id" value="{{ membership.user.id }}" />
              <select aria-label="Group member's status" name="selected_value">
                {% for value, choice in choices %}
                  <option value="{{ value }}"
                          {% if membership.level == value %}selected="selected"{% endif %}>
                    {{ choice }}
                  </option>
                {% endfor %}
              </select>
            </form>
          </div>
        </div>
      {% else %}
        <div class="profile-category__member">
          <div class="profile-category__profile-name">{{ membership.user.name }}</div>
          <div class="profile-category__member-status">
            {% for value, choice in choices %}
              <div>
                {% if membership.level == value %}{{ choice }}{% endif %}
              </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      {% if can_delete or is_admin %}
        <form hx-post="{% url 'login:partial-organization-membership' organization_id=organization.id %}"
              hx-target=".htmxComponentGroupMembership"
              hx-confirm="Are you sure you want to remove {{ membership.user.name }} from {{ organization.name }} and retract all permissions?"
              hx-swap="outerHTML">
          <input type="hidden" name="mode" value="remove_user" />
          <input type="hidden" name="user_id" value="{{ membership.user.id }}" />
          <input type="submit" class="btn btn-danger" value="Remove user" />
        </form>
      {% endif %}
    {% endfor %}
    {% if error_message %}
      <div style="display: block; color: red;">{{ error_message }}</div>
    {% endif %}
    {% include 'login/partials/organization_component_invite_user.html' %}
  </div>
</section>
