<!--
SPDX-FileCopyrightText: 2025 Christian Winger <https://github.com/wingechr> © Öko-Institut e.V.
SPDX-FileCopyrightText: 2025 Jonas Huber <https://github.com/jh-RLI> © Reiner Lemoine Institut
SPDX-FileCopyrightText: 2026 Hendrik Huyskens <https://github.com/henhuy> © Reiner Lemoine Institut

SPDX-License-Identifier: AGPL-3.0-or-later
-->
{% load django_bootstrap5 %}
<section class="profile-category htmxFormComponent">
  <h2 class="profile-category__heading profile-category__heading--border-btm">
    Organization Tables
  </h2>
  {% if organization_tables %}
    <div class="profile-category__organization_table">
      {% for table in organization_tables %}
        <div>- {{ table.name }}</div>
      {% endfor %}
    </div>
  {% else %}
    <div class="profile-category__no_organization_table">
      No tables are assigned to this organization.
    </div>
  {% endif %}
</section>
