{% extends "base/base-full.html" %}
{% load base_tags %}
{% load socialaccount %}

{% block main-content-body %}
<div class="login-form-container">
    <h2>Log in to Your Account</h2>
    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        {{ form.as_p }} <!-- This will render the form fields provided by Allauth -->
        <button type="submit">Log in</button>
    </form>

    {# Include social login options if you have any configured #}
    {% if provider in socialaccount_providers %}
        <div>
            <h3>Or log in with</h3>
            <ul>
                {% providers_media_js %}
                {% for provider in socialaccount_providers %}
                    <li><a href="{% provider_login_url provider.id %}">{{ provider.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
</div>
{% endblock %}
