{% extends "base/base.html" %}
{% load base_tags %}

{% block main-content-body %}
    <h3>Login</h3>
    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
        <p>Your account doesn't have access to this page. To proceed,
        please login with an account that has access.</p>
        {% else %}
        <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}

    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div class="form-group form-row">
            {{ form.username.errors }}
            {{ form.username.label_tag }} {{ form.username | addclass:"form-control" }}
        </div>
        <div class="form-group form-row">
            {{ form.password.errors }}
            {{ form.password.label_tag }} {{ form.password | addclass:"form-control" }}
        <input type="hidden" name="next" value="{{ next }}">
        </div>
        <div>
            <a href="/user/register">Create a new account</a>
        </div>
        {% url 'password_reset' as password_reset_url %}
        {% if password_reset_url %}
            <div class="password-reset-link">
                <a href="{{ password_reset_url }}">Forgotten your password or username?</a>
            </div>
        {% endif %}
        <div class="submit-row">
        <label>&nbsp;</label><input class="btn btn-success" type="submit" value="Log in">
        </div>
    </form>
{% endblock %}
