{% extends "base/base.html" %}
{% load bootstrap3 %}

{% block content %}
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/filterform.css' %}">
	<h2>Group Management </h2>
	{% if group_id == None %}
	    <h3>Create Group</h3>
	{% else %}
	    <h3>Edit Group</h3>
	{% endif %}

<form method='post'>{% csrf_token %}
	<table style="table-layout:fixed; width:100%">
	    <tr>
	        <td style="padding:15px 15px 15px 15px; width:20%; "> Name </td>
	        <td style="width:80%"><input name="group_name" type="text" class="form-control" value="{{ form.label }}"/></td>
	    </tr>
	    <tr>
	    	<td style="padding:15px 15px 15px 15px; width:20%; "> Permissions </td>
	        {% for field in form %}		 	
				 	<td style="width:45%">
				 	{{ field }}
			    	</td> 
			{% endfor %}
	    </tr>	
	    <tr>
	        <td></td>
	        <td style="padding-top:15px;">
	            <input type="submit" name="submit" class="btn btn-success" value="Save"/>
	            <a href="/user/{{ user.pk }}/group/" class="btn btn-default">Cancel</a>
	            {% if group_id != None %}
	            <input type="submit" name="submit" class="btn btn-warning" value="Delete"/>
	            {% endif %}
	        </td>
	    </tr>
	</table>
</form>
{% endblock %}
{% block content-right %}
<hr>
<h3>Manage Groups</h3>
<div style="overflow: hidden;">
	<a href="/user/{{ user.pk }}/group/" class="btn btn-default">Manage Groups</a>
</div>
{% endblock %}