{% extends "base/base.html" %}
{% block main-content-body %}
<h3>
    Create new user
</h3>
<form action="" method="post">{% csrf_token %}
    {% for field in form %}
    <div class="mb-3">
        {{ field.label_tag }}
        {% for error in field.errors %}
            <div class="alert alert-danger">
                {{ error }}
            </div>
        {% endfor %}
        {{ field }}
    </div>

    {% endfor %}
    <div>
        You can change your password here: <a href="../password_change"> here </a>
    </div>
    <input type="submit" class="btn btn-success" value="Submit" />
</form>

{% endblock %}