{% extends "base/base-profile.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load compress %}
{% block main-content-body %}
  {% include "login/user_nav.html" %}
  {% if request.user.is_authenticated and request.user == user %}
    {% include "login/partials/organizations.html" %}
  {% endif %}
{% endblock %}
{% block main-right-sidebar-content %}
  {% include "login/sidebar_user.html" %}
{% endblock %}
{% block after-body-bottom-js %}
  {% compress js %}
    <script src="{% static 'ontology/htmx.js' %}"></script>
  {% endcompress %}
{% endblock after-body-bottom-js %}
