{% extends "base/base-profile.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load compress %}
{% block main-content-body %}
  {% include "login/user_nav.html" %}
  {% if request.user.is_authenticated and request.user == user %}
    {% include "login/partials/organizations.html" %}
  {% endif %}
{% endblock %}
{% block main-right-sidebar-content %}
  {% include "login/sidebar_user.html" %}
{% endblock %}
{% block after-body-bottom-js %}
  {% compress js %}
    <script src="{% static 'ontology/htmx.js' %}"></script>
  {% endcompress %}
  <script>
    document.body.addEventListener("htmx:configRequest", (event) => {
      event.detail.headers["X-CSRFToken"] = "{{ csrf_token }}";
    });

    document.addEventListener("htmx:afterRequest", function (event) {
      var target = event.detail.target; // Get the target element where the response was inserted
      var xhr = event.detail.xhr; // Get the XMLHttpRequest object containing the response
      var response = xhr.response; // Get the JSON response

      if (response && response.detail_html) {
        // Replace the content of the target element with the HTML content for the detail page
        target.innerHTML = response.detail_html;
      }
    });

    document.addEventListener("htmx:beforeSwap", function (event) {
      if (window.location.search.includes("?")) {
        var newUrl = window.location.href.split("?")[0];
        window.history.replaceState({}, document.title, newUrl);
      }
    });
  </script>
{% endblock after-body-bottom-js %}
