{% extends "base/base.html" %}
{% load bootstrap3 %}
{% block content %}
<h1> {{ user.name }} </h1>
<script>
    function toggler(divId) {
        $("#" + divId).toggle();
    }
</script>
<table class="table">
    {% if user == request.user %}
        <tr>
            <th> E-Mail: </th>
            <td> {{ user.mail_address }} </td>
        </tr>
    {% endif %}
    <tr>
        <th style="width:20%"> Affiliation: </th>
        <td>
            {% if user.affiliation %}
                {{ user.affiliation }}
            {% elif user == request.user %}
                <a href="{{user.id}}/edit">Add your affiliation</a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <th> Description: </th>
        <td> {% if user.desctiption %}
                {{ user.description }}
            {% elif user == request.user %}
                <a href="{{user.id}}/edit">Add a description</a>
            {% else %}
                -
            {% endif %} </td>
    </tr>
    {% if user == request.user %}
        <tr>
            <th> API-Token: </th>
            <td>
                <a id="toggler" href="#" onclick="toggler('token');">Show token</a>
                <div style="display:none" id="token">
                {% if token %}
                     {{ token }}
                {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <th> Password </th>
            <td>
                <a href="{{user.id}}/passwd">Change your password</a>
            </td>
        </tr>
    {% endif %}
</table>

{% endblock %}
{% block content-right %}
<hr>
<h3>Manage Groups</h3>
<div style="overflow: hidden;">
	<a href="/user/groups/" class="btn btn-default">Manage Groups</a>
</div>
{% endblock %}