{% extends "base/base.html" %}
{% load bootstrap3 %}
{% block content %}
<h1> {{ user.name }} </h1>

<table class="table">
    {% if user == request.user %}
        <tr>
            <th> E-Mail: </th>
            <td> {{ user.mail_address }} </td>
        </tr>
    {% endif %}
    <tr>
        <th> Affiliation: </th>
        <td>
            {% if user.affiliation %}
                {{ user.affiliation }}
            {% else %}
                <a href="{{user.id}}/edit">Add your affiliation</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th> Description: </th>
        <td> {% if user.desctiption %}
                {{ user.description }}
            {% else %}
                <a href="{{user.id}}/edit">Add a description</a>
            {% endif %} </td>
    </tr>
    {% if user == request.user %}
        <tr>
            <th> API-Token: </th>
            <td>
                {% if token %}
                     {{ token }}
                {% endif %}
            </td>
        </tr>
    {% endif %}
</table>

{% endblock %}
{% block content-right %}
<hr>
<h3>Manage Groups</h3>
<div style="overflow: hidden;">
	<a href="/user/groups/" class="btn btn-default">Manage Groups</a>
</div>
{% endblock %}