{% extends "base/base-profile.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block main-content-body %}
{% include "login/user_nav.html" %}

{% if profile_user == request.user %}
<h2 class="header">Your Security Information</h2>
<table class="table">
        <tr>
            <th> API-Token: </th>
            <td>
                <a id="toggler" href="#" onclick="toggler('token');">Show token</a>
                <div style="display:none" id="token">
                {% if token %}
                     {{ token }}
                {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <th> Password </th>
            <td>
                <a href="password_change">Change your password</a>
            </td>
        </tr>
        {% comment %}
        {# TODO: implement tests before we allow user deletion  #}
        <tr>
            <th> Account </th>
            <td>
                <a href="{% url 'account-delete' request.user.id %}">Delete your account</a>
            </td>
        </tr>
        {% endcomment %}
</table>
    <br>
    {% if request.user.is_authenticated and request.user == user%}
        <hr>
        <h2 class="header">Manage Profile</h2>
        <div style="overflow: hidden;">
<a href="{% url 'edit' request.user.id %}" class="btn btn-secondary">Edit</a>
        </div>
        <hr>
        <h2 class="header">Manage Groups</h2>
        <div style="overflow: hidden;">
            <a href="/user/groups/" class="btn btn-secondary">Manage Groups</a>
        </div>
    {% endif %}
{% endif %}
{% endblock %}

{% block main-right-sidebar-content %}
{% if profile_user == request.user %}
<div class="profile-sidebar">
    <div class="profile-sidebar__img">
        {% if profile_user.profile_img %}
        <img class="rounded-circle account-img" src="{{ profile_user.profile_img.url }}" width="200" height="200" alt="Profile picture">
        {% else %}
        <svg width="200" height="200" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
            <rect width="200" height="200" fill="#e5eef5"/>
            <path d="m50 48.551c5.543 0 10.078-4.5352 10.078-10.078 0-5.543-4.5352-10.078-10.078-10.078s-10.078 4.5352-10.078 10.078c0 5.543 4.5352 10.078 10.078 10.078zm0-17.633c4.1562 0 7.5586 3.4023 7.5586 7.5586s-3.4023 7.5586-7.5586 7.5586-7.5586-3.4023-7.5586-7.5586 3.4023-7.5586 7.5586-7.5586z" fill="#5295c6"/>
            <path d="m35.391 71.602h29.156c0.62891 0 1.3242-0.25 1.7617-0.75391 0.44141-0.50391 0.69141-1.1953 0.62891-1.8906-0.62891-9.6367-7.9336-16.879-17.004-16.879-9.0664 0-16.309 7.3047-16.938 16.941-0.0625 0.69141 0.1875 1.3867 0.62891 1.8906 0.50391 0.4375 1.1328 0.69141 1.7656 0.69141zm14.609-17.004c7.6836 0 13.918 6.2344 14.484 14.484h-28.969c0.56641-8.25 6.8008-14.484 14.484-14.484z" fill="#5295c6"/>
        </svg>
    {% endif %}
    </div>
    <div class="profile-sidebar__block">
        <div><p class="profile-sidebar__name"> {{ profile_user.name }} </p></div>
        <p> 
            {% if profile_user.fullname %}
                {{ profile_user.fullname }}
            {% else %}
                No full name added
            {% endif %}
        </p>
        <p>Member since {{ profile_user.registration_date|date:"d/m/Y" }}</p>
    </div>
    <div class="profile-sidebar__block">
        <p>
            {% if profile_user.work %}
                {{ profile_user.work }}
            {% else %}
                No profession added
            {% endif %}
        </p>
        <p> 
            {% if profile_user.location %}
                {{ profile_user.location }}
            {% else %}
                No location added
            {% endif %}
        </p>
        <p> 
            {% if profile_user == request.user %}
                {{ profile_user.email }} 
            {% endif %}
        </p>
        <p> 
            {% if profile_user.linkedin %}
                <a href="{{ profile_user.linkedin }}">{{ profile_user.linkedin }}</a>
            {% else %}
                No LinkedIn page added
            {% endif %}
        </p>
        <p> 
            {% if profile_user.facebook %}
                <a target="_blank" href="{{ profile_user.facebook }}">{{ profile_user.facebook }}</a>
            {% else %}
                No Facebook page added
            {% endif %}
        </p>
        <p> 
            {% if profile_user.twitter %}
                <a href="{% url 'edit' request.user.id %}">{{ profile_user.twitter }}</a>
            {% else %}
                No Twitter added
            {% endif %}
        </p>
    </div>
</div>
    
    <table class="table">

    <tr>
        <th style="width:20%"> Affiliation: </th>
        <td>
            {% if profile_user.affiliation %}
                {{ profile_user.affiliation }}
            {% elif profile_user == request.user %}
                No affiliation added.
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <th> Description: </th>
        <td> 
            {% if profile_user.description %}
                {{ profile_user.description }}
            {% else %}
                No description added.
            {% endif %} 
        </td>
    </tr>
</table>
{% endif %}
{% endblock %}

