<!--
SPDX-FileCopyrightText: 2025 Christian Winger <https://github.com/wingechr> © Öko-Institut e.V.
SPDX-FileCopyrightText: 2025 Jonas Huber <https://github.com/jh-RLI> © Reiner Lemoine Institut
SPDX-FileCopyrightText: 2026 Hendrik Huyskens <https://github.com/henhuy> © Reiner Lemoine Institut

SPDX-License-Identifier: AGPL-3.0-or-later
-->
{% extends "base/base-profile.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load compress %}
{% block main-content-body %}
  {% include "login/user_nav.html" %}
  {% if request.user.is_authenticated and request.user == user %}
    <div class="htmxReplacementBox"
         hx-get="{% url 'login:group-list' group_type=group_type %}"
         hx-trigger="load">Loading {{ group_type }}s</div>
  {% endif %}
{% endblock %}
{% block main-right-sidebar-content %}
  {% include "login/sidebar_user.html" %}
{% endblock %}
{% block after-body-bottom-js %}
  {% compress js %}
    <script src="{% static 'ontology/htmx.js' %}"></script>
  {% endcompress %}
  <script>
    /*
     * Handle user autocomplete and add client side form validation.
     */
    $(function () {
      let validSelection = false;
      let autocompleteSource = []; // This will be filled with your autocomplete data

      function initAutocomplete() {
        $("#username-input").autocomplete({
          source: function (request, response) {
            $.ajax({
              url: "{% url 'api:usrprop' %}",
              dataType: "json",
              data: { name: request.term },
              success: function (data) {
                autocompleteSource = data; // Assuming 'data' is an array of strings
                response(data);
              },
            });
          },
          select: function (event, ui) {
            validSelection = true;
          },
        });

        $("#username-input").on("input", function () {
          validSelection = false;
        });
      }

      initAutocomplete();

      $(document).on("htmx:afterSwap", function (evt) {
        if ($(evt.detail.target).hasClass("htmxComponentGroupMembership")) {
          initAutocomplete();
        }
      });

      $(document).on("submit", "#invite-form", function (e) {
        var inputValue = $("#username-input").val();
        if (!validSelection || !autocompleteSource.includes(inputValue)) {
          e.preventDefault(); // Prevent form submission
          alert(
            "Please select a valid user name from the list that appears after you start typing."
          );
        }
      });
    });
  </script>
  <script>
    /*
     * Handle table autocomplete and add client side form validation.
     */
    $(function () {
      let validSelection = false;
      let autocompleteSource = []; // This will be filled with your autocomplete data

      function initAutocomplete() {
        $("#table-input").autocomplete({
          source: function (request, response) {
            $.ajax({
              url: "{% url 'api:tableprop' %}",
              dataType: "json",
              data: { name: request.term },
              success: function (data) {
                autocompleteSource = data; // Assuming 'data' is an array of strings
                response(data);
              },
            });
          },
          select: function (event, ui) {
            validSelection = true;
          },
        });

        $("#table-input").on("input", function () {
          validSelection = false;
        });
      }

      initAutocomplete();

      $(document).on("htmx:afterSwap", function (evt) {
        if ($(evt.detail.target).hasClass("htmxComponentGroupTables")) {
          initAutocomplete();
        }
      });

      $(document).on("submit", "#table-form", function (e) {
        var inputValue = $("#table-input").val();
        if (!validSelection || !autocompleteSource.includes(inputValue)) {
          e.preventDefault(); // Prevent form submission
          alert(
            "Please select a valid table name from the list that appears after you start typing."
          );
        }
      });
    });
  </script>
{% endblock after-body-bottom-js %}
