{% extends "base/base.html" %}
{% load django_bootstrap5 %}
{% load static %}


{% block main-right-sidebar-content %}
    <br>
    <div>
    {% if profile_user.profile_img %}
    <img class="rounded-circle account-img" src="{{ profile_user.profile_img.url }}" width="200" height="200" alt="Profile picture">
{% else %}
    <img class="rounded-circle account-img" src="/media/user_foto.jpg" width="200" height="200" alt="Profile picture">
{% endif %}
    </div>
    <br>
    <div><h2> {{ profile_user.name }} </h2></div>
    <td> {% if profile_user.fullname %}
                {{ profile_user.fullname }}
            {% else %}
                <p>Full Name</p>
            {% endif %} </td>
    <br>
    <br>
    <p>Member since {{ profile_user.registration_date|date:"d/m/Y" }}</p>
    <hr>
    <td> {% if profile_user.work %}
                {{ profile_user.work }}
            {% else %}
                <p>Profession</p>
            {% endif %} </td>
    <td> {% if profile_user.location %}
                {{ profile_user.location }}
            {% else %}
            <p>Location</p>
    {% endif %} </td>
    <br>
    <td> {% if profile_user.email %}
            <th style="width:20%"> E-Mail: </th>
            <td> {{ profile_user.email }} </td>
            {% endif %}
    <br>
    <br>
    <td> {% if profile_user.linkedin %}
        <a href="{{ profile_user.linkedin }}">{{ profile_user.linkedin }}</a>
            {% else %}
                LinkedIn
            {% endif %} </td>
    <br>
    <td> {% if profile_user.facebook %}
        <a target="_blank" href="{{ profile_user.facebook }}">{{ profile_user.facebook }}</a>
            {% else %}
                Facebook
            {% endif %} </td>
    <br>
    <td> {% if profile_user.twitter %}
        <a href="{{ profile_user.twitter }}">{{ profile_user.twitter }}</a>
            {% else %}
                Twitter
            {% endif %} </td>
    <br>
    <hr>

{% endblock %}

{% block main-content-body %}
{% include "login/user_nav.html" %}
    <div>
        <ul>
            {% if latest_review is not None %}
            <li>
                <a href="/dataedit/view/{{ review.schema }}/{{ review.table }}">{{ latest_review.schema }} - {{ latest_review.table }}</a>
                <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseReviewHistory" aria-expanded="false" aria-controls="collapseReviewHistory">
                   Show review history 
                </button>
                <div class="collapse" id="collapseReviewHistory">
                    <div class="card card-body">
                        <p> History </p>
                        {% for review in reviews %}
                        <ul>
                            <li>
                                {{ review }}
                            </li>
                        </ul>
                        {% empty %}
                            No reviews found for this user.
                        {% endfor %}
                    </div>
                </div>
            </li>
            {% else %}
            <li>
                No reviews found for this User.
            </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}