{# this is the subpage navigation on the user profile page #}
{% load static %}
<script>
    function toggler(divId) {
        $("#" + divId).toggle();
    }
</script>

<div class="pages-nav-tabs">
  {% if profile_user %}
  <a href="{% url 'tables' profile_user.id %}">Tables</a>
  {% endif%}
  {% if request.user.is_authenticated and profile_user == request.user %}
  <a href="{% url 'reviews' profile_user.id %}" >Reviews</a>
  {% endif%}
  {% if request.user.is_authenticated and profile_user == request.user %}
  <a href="{% url 'settings' profile_user.id %}">Settings</a>
  {% endif%}
</div>