{% extends "base/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block main-content-body %}
{% include "login/user_nav.html" %}

{% if profile_user == request.user %}
<h2>Your Security Information</h2>
<table class="table">
        <tr>
            <th> API-Token: </th>
            <td>
                <a id="toggler" href="#" onclick="toggler('token');">Show token</a>
                <div style="display:none" id="token">
                {% if token %}
                     {{ token }}
                {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <th> Password </th>
            <td>
                <a href="password_change">Change your password</a>
            </td>
        </tr>
        {% comment %}
        {# TODO: implement tests before we allow user deletion  #}
        <tr>
            <th> Account </th>
            <td>
                <a href="{% url 'account-delete' request.user.id %}">Delete your account</a>
            </td>
        </tr>
        {% endcomment %}
</table>
    <br>
    {% if request.user.is_authenticated and request.user == user%}
        <hr>
        <h3>Manage Profile</h3>
        <div style="overflow: hidden;">
<a href="{% url 'edit' request.user.id %}" class="btn btn-secondary">Edit</a>
        </div>
        <hr>
        <h3>Manage Groups</h3>
        <div style="overflow: hidden;">
            <a href="/user/groups/" class="btn btn-secondary">Manage Groups</a>
        </div>
    {% endif %}
{% endif %}
{% endblock %}
{% block main-right-sidebar-content %}
    <br>
    <div>
    {% if profile_user.profile_img %}
    <img class="rounded-circle account-img" src="{{ profile_user.profile_img.url }}" width="200" height="200" alt="Profile picture">
{% else %}
    <img class="rounded-circle account-img" src="/media/user_foto.jpg" width="200" height="200" alt="Profile picture">
{% endif %}
    </div>
    <br>
    <div><h2> {{ profile_user.name }} </h2></div>
    <td> {% if profile_user.username %}
                {{ profile_user.username }}
            {% else %}
                <a href="{% url 'edit' request.user.id %}">Add username</a>
            {% endif %} </td>
    <br>
    <br>
    <p>Member since {{ profile_user.registration_date|date:"d/m/Y" }}</p>
    <hr>
    <td> {% if profile_user.work %}
                {{ profile_user.work }}
            {% else %}
                <a href="{% url 'edit' request.user.id %}">Add profession</a>
            {% endif %} </td>
    <br>
    <td> {% if profile_user.location %}
                {{ profile_user.location }}
            {% else %}
                <a href="{% url 'edit' request.user.id %}">Add location </a>
            {% endif %} </td>
    <br>
    <td> {% if profile_user == request.user %}
            <th style="width:20%"> E-Mail: </th>
            <td> {{ profile_user.email }} </td>
            {% endif %}
    <br>
    <br>
    <td> {% if profile_user.linkedin %}
        <a href="{{ profile_user.linkedin }}">{{ profile_user.linkedin }}</a>
            {% else %}
                <a href="{% url 'edit' request.user.id %}">Add LinkedIn page</a>
            {% endif %} </td>
    <br>
    <td> {% if profile_user.facebook %}
        <a target="_blank" href="{{ profile_user.facebook }}">{{ profile_user.facebook }}</a>
            {% else %}
                <a href="{% url 'edit' request.user.id %}">Add Facebook page</a>
            {% endif %} </td>
    <br>
    <td> {% if profile_user.twitter %}
        <a href="{% url 'edit' request.user.id %}">{{ profile_user.twitter }}</a>
            {% else %}
                <a href="{% url 'edit' request.user.id %}">Add Twitter page</a>
            {% endif %} </td>
    <br>
    <hr>
    <table class="table">

    <tr>
        <th style="width:20%"> Affiliation: </th>
        <td>
            {% if profile_user.affiliation %}
                {{ profile_user.affiliation }}
            {% elif profile_user == request.user %}
                <a href="{% url 'edit' request.user.id %}">Add your affiliation</a>
            {% else %}
                -
            {% endif %}
        </td>
    </tr>
    <tr>
        <th> Description: </th>
        <td> {% if profile_user.description %}
                {{ profile_user.description }}
            {% elif profile_user == request.user %}
                <a href="{% url 'edit' request.user.id %}">Add a description</a>
            {% else %}
                -
            {% endif %} </td>
    </tr>
</table>
{% endblock %}
