{% extends "base/base-profile.html" %}
{% load compress %}
{% load django_bootstrap5 %}
{% load static %}

{% block main-content-body %}
{% if profile_user == request.user %}
{% include "login/user_nav.html" %}

{% include "login/partials/tables_published.html" %}

{% include "login/partials/tables_draft.html" %}

<div id="schemaWhitelistData" style="display: none;">{{ schema_whitelist|json_script:"schemaWhitelistData" }}</div>

<!-- Modal for publishing functionality (after pressing publish button) -->
{% include "login/modals/table_publish.html" %}

{% endif %}
   
{% endblock %}


{% block main-right-sidebar-content %}
    {% include "login/sidebar_user.html" %}
{% endblock main-right-sidebar-content %}

{% block after-body-bottom-js %}

    {% compress js %}
    <script src="{% static 'ontology/htmx.js' %}"></script>
    {% endcompress %}

<script type="text/javascript">
    $(function () {
        $('[data-bs-toggle="tooltip"]').tooltip()
    })

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.startsWith(name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function publishTable(schema, tableName, toSchema, embargoPeriod) {
        const data = embargoPeriod ? { embargo: { duration: embargoPeriod } } : {};

        return fetch(`/api/v0/schema/${schema}/tables/${tableName}/move_publish/${toSchema}/`, {
            method: 'POST',
            headers: {
            'X-CSRFToken': getCookie("csrftoken"),
            'Content-Type': 'application/json',
            'Accept': 'application/json',
            },
            body: JSON.stringify(data)
        }).then(response => {
            if (response.ok) {
            alert('Table moved successfully.');
            window.location.reload();
            } else {
            response.text().then(text => { alert(`Error moving table: ${text}`); });
            }
        });
    }

    document.body.addEventListener('htmx:configRequest', function (event) {
        event.detail.headers['X-CSRFToken'] = getCookie('csrftoken');
    });

    // Refresh the page after any htmx request ... keep until partials are 
    // implemented for the draft & published tables 
    // document.addEventListener('htmx:afterRequest', function(event) {
    //     if (event.detail.successful) {
    //         window.location.reload();
    //     }
    // });

    document.addEventListener('DOMContentLoaded', function () {
        let schemaWhitelist = [];
        let relatedButton;
        let publishModalInstance; // Declare publishModalInstance in a higher scope

        const schemaDataElement = document.querySelector('#schemaWhitelistData');
        if (schemaDataElement) {
            schemaWhitelist = JSON.parse(schemaDataElement.textContent);
        }

        // Event listener for modal show event
        var publishModal = new bootstrap.Modal(document.getElementById('publishModal'));
        publishModalInstance = bootstrap.Modal.getInstance(publishModal._element);

        publishModalInstance._element.addEventListener('show.bs.modal', function (event) {
            relatedButton = event.relatedTarget;
            const dropdown = this.querySelector('.schema-dropdown');
            dropdown.innerHTML = '';
            schemaWhitelist.forEach(schema => {
                dropdown.innerHTML += `<option value="${schema}">${schema}</option>`;
            });
        });

        // Event listener for Confirm button click inside the modal
        document.querySelector('.confirm-publish').addEventListener('click', function () {
            const schema_dropdown = document.querySelector('.schema-dropdown');
            const embargo_dropdown = document.querySelector('.embargo-dropdown');
            if (relatedButton) {
                const schema = relatedButton.getAttribute('data-schema');
                const tableName = relatedButton.getAttribute('data-tableName');
                const toSchema = schema_dropdown.value;
                const embargoPeriod = embargo_dropdown.value;

                publishTable(schema, tableName, toSchema, embargoPeriod);
            } else {
                console.error('relatedButton is not defined.');
            }
        });
    });

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    })


    function open_wizzard(){
        location.href = "{% url 'dataedit:wizard_create' %}"
    }
</script>

{% endblock after-body-bottom-js %}
