{% extends "account/base.html" %}

{% load i18n %}
{% load allauth %}
{% load account socialaccount %}

{% block head_title %}
    {% trans "" %}
{% endblock head_title %}
{% block content %}
    <div class="login">
        <div class="login__wrap">

            <!-- Logo -->
            <div class="login__logo">
                <img src="/static/OEP_logo_2_no_text.svg" alt="OEP Logo">
            </div>

            <!-- Heading -->
            <h1 class="login__heading">{% trans "Sign Up" %}</h1>
            {% element h2 %}
                {% trans "You are nearly done! Just one last step...." %}
            {% endelement %}
            {% element p %}
                {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}You are about to use your {{provider_name}} account to login to
        {{site_name}}.{% endblocktrans %}
            {% endelement %}
            {% element p %}
                {% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Please complete the following form, as we did not get this information from your provider:{% endblocktrans %}
            {% endelement %}
            {% url 'socialaccount_signup' as action_url %}
            {% element form form=form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form unlabeled=True %}
                    {% endelement %}
                    {{ redirect_field }}
                {% endslot %}
                {% slot actions %}
                    {% element button type="submit" %}
                        {% trans "Sign Up" %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        </div>
    </div>
{% endblock content %}
