{% load modelview_extras %}
<script>
var counter_{{ field.name }} = 1; 
function addInput_{{ field.name }}(val){
    var newdiv = document.createElement('div');
    newdiv.id = "div_{{ field.name }}_" + counter_{{ field.name }};
    newdiv.className="btn-group arraywrapper";
    newdiv.innerHTML = "<input class='form-control' type='text' id=id_{{ field.name }}_" + counter_{{ field.name }} + " name={{ field.name }}_" + counter_{{ field.name }} + " value='" + val + "'><span class='removeicon fas fa-times' onclick='delInput_{{ field.name }}("+ counter_{{ field.name }} + ")'></span>";
    document.getElementById("{{ field.name }}_container").appendChild(newdiv,0);
    counter_{{ field.name }}++;
}
function delInput_{{ field.name }}(c){
    var parent = document.getElementById("{{ field.name }}_container");
    var child = document.getElementById("div_{{ field.name }}_"+c);
    parent.removeChild(child);
}
</script>
<div>
<div id="{{ field.name }}_container">
    <script>
    {% for entry in field|splitarray %}  
            addInput_{{ field.name }}("{{ entry }}")
    {% endfor %}
    </script>
</div> <a href="javascript:addInput_{{ field.name }}('');" style="color:green">
        <span class='fas fa-plus'></span>
    </a>
</div>
