{% extends "modelview/detail_view.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load modelview_extras %}

{% block after-head %}
  <link rel="stylesheet" href="{% static 'css/custom_alert.css' %}">
{% endblock after-head %}

{% block main-right-sidebar-content-actions %}
{% if not user.is_authenticated %}
Login to edit
{% endif %}
{% endblock main-right-sidebar-content-actions %}

{% block factsheets_content %}

<div id="root"></div>


{% endblock factsheets_content %}

{% block factsheets-after-body-bottom-js %}

<script>

    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    const csrftoken = getCookie('csrftoken');

    load_instance("root", '{{ iri }}', '{{ factory }}');

    function hide_field(path) {
        document.getElementById("display__" + path).hidden = false;
        // document.getElementById("hint_for_edit").remove();
        // document.getElementById("edit__" + path).hidden = true;
        let input = document.getElementById("edit__" + path);
        input.onfocusout = "";
    }

    function show_field(path) {
        let parent_of_editable = document.getElementById("display__" + path).parentElement;
        let edit_hint = document.createElement("div");
        edit_hint.setAttribute("id", "hint_for_edit");
        edit_hint.innerHTML = 'After edit, press Enter to save!';
        //parent_of_editable.appendChild(edit_hint);

        document.getElementById("display__" + path).hidden = true;
        let edit = document.getElementById("edit__" + path);
        edit.hidden = false;
        let input = document.getElementById("input__" + path);

        setCaretPosition(input, input.value.length);
    }

    function setCaretPosition(ctrl, pos) {
        // Modern browsers
        if (ctrl.setSelectionRange) {
            ctrl.focus();
            ctrl.setSelectionRange(pos, pos);

            // IE8 and below
        } else if (ctrl.createTextRange) {
            var range = ctrl.createTextRange();
            range.collapse(true);
            range.moveEnd('character', pos);
            range.moveStart('character', pos);
            range.select();
        }
    }

    let templates = {{rdf_templates | safe}};

    // temporary
    /*

    */
    function load_instance(parentId, identifier, factory, path) {
        let parent = document.getElementById(parentId);
        let subject = factory + "/" + identifier;
        $.ajax({
            url: "/factsheets/rdf/" + subject + "/?format=json",
            headers: {
                Accept: "application/json",
                "Content-Type": "text/plain; charset=utf-8"
            },
            success: (tuples) => {
                parent.appendChild(createPropertyTable(subject, identifier, factory, path, tuples))
            }
        });
    }

    function createPropertyTable(subject, identifier, factory, path, tuples) {
        let table = document.createElement("table");
        table.className = "table";
        table.style.cssText = "border: 1px solid #dee2e6";
        table.className = "table";
        table.id = "container__" + path;
        const tr = document.createElement("tr");
        const tdSearch = document.createElement("div");
        tdSearch.style.cssText = "display: flex; justify-content: space-between; align-items: center; background-color: rgb(161 214 251 / 22%); height: 50px";
        const searchInput = document.createElement("input");
        searchInput.id = "search_input";
        searchInput.style.cssText = "margin-right: 10px; width: 300px;";
        searchInput.setAttribute("type", "text");
        searchInput.setAttribute("placeholder", "Search...");

        searchInput.onkeyup = function() {

          var entered_text = document.getElementById('search_input').value;
          const tuples_keys = Object.keys(tuples);

          if (entered_text != '') {
            for (k of tuples_keys) {
              if (k != 'iri') {
                document.getElementById( 'property_row_' + k).hidden = true;
                }
            }
          }

          if (searchInput.value == '') {
            for (k of tuples_keys) {
              if (k != 'iri') {
                document.getElementById( 'property_row_' + k).hidden = false;
                }
            }
          }


          tuples_keys.find(element => {
            if (element != 'iri') {
              if (
                element.split("_").some(r => entered_text.split(" ").includes(r)) ||
                element.match(/.{1,1}/g).some(r => entered_text.split(" ").includes(r)) ||
                element.match(/.{1,2}/g).some(r => entered_text.split(" ").includes(r)) ||
                element.match(/.{1,3}/g).some(r => entered_text.split(" ").includes(r)) ||
                element.match(/.{1,4}/g).some(r => entered_text.split(" ").includes(r)) ||
                element.match(/.{1,5}/g).some(r => entered_text.split(" ").includes(r)) ||
                element.match(/.{1,6}/g).some(r => entered_text.split(" ").includes(r)) ||
                element.match(/.{1,7}/g).some(r => entered_text.split(" ").includes(r)) ||
                element.match(/.{1,8}/g).some(r => entered_text.split(" ").includes(r)) ||
                element.match(/.{1,9}/g).some(r => entered_text.split(" ").includes(r))
              )
              {
                document.getElementById( 'property_row_' + element).hidden = false
              }
            }
          });


        };
        // bellow should be enabled later
        //const filterInput = document.createElement("select");
        //filterInput.style.cssText = "float: right; height: 30px;";
        //var option0 = new Option('Filter by...', 'value', false, false);
        //option0.setAttribute("disabled", "disabled");
        //option0.setAttribute("selected", "selected");
        //var option1 = new Option('Name', 'value', false, false);
        //var option2 = new Option('Number of elements', 'value', false, false);
        //filterInput.appendChild(option0);
        //filterInput.appendChild(option1);
        //filterInput.appendChild(option2);
        //tdSearch.appendChild(filterInput);

        const study_title = document.createElement("div");
        study_title.innerText = "{{ iri }}";
        study_title.style.cssText = "margin-left: 10px; font-weight: bold; font-size: 22px;";

        tdSearch.appendChild(study_title);
        tdSearch.appendChild(searchInput);
        if (path == undefined) {
          tr.appendChild(tdSearch);
        }
        table.appendChild(tr);
        let index = 0;
        for (const [property, values] of Object.entries(tuples)) {
            if (property !== "iri") {
                table.appendChild(createPropertyRow(subject, property, identifier, factory, path, values));
            }
            index++
        }
        return table;
    }

    function createPropertyRow(subject, property, identifier, factory, path, values) {
        const trMain = document.createElement("tr");
        trMain.id = "property_row_" + property
        trMain.style.cssText = "display: flex; flex-direction: column;";

        const tr = document.createElement("tr");
        tr.style.cssText = "display: flex;";
        // Create field header
        const tdElem = document.createElement("td");
        tdElem.style.cssText = "width: 95%;";

        const thExpand = document.createElement("a");
        thExpand.href = "javascript:void(0)";
        const folderIcon = document.createElement("span");
        folderIcon.className = "far fa-folder";
        const thName = document.createElement("span");
        thName.style.cssText = "margin-left: 10px;";
        const caretDownSpan = document.createElement("span");
        caretDownSpan.className = "fas fa-caret-down";
        caretDownSpan.style.cssText = "margin-left: 10px;";
        thExpand.appendChild(caretDownSpan);

        const t = templates[factory][property];
        thName.innerText = t.verbose_name + " " + "(" + values.length + ")";
        thName.appendChild(thExpand);
        tdElem.appendChild(folderIcon);
        tdElem.appendChild(thName);
        tr.appendChild(tdElem);

        const actionTd = document.createElement("td");
        actionTd.style.cssText = "width: 5%; text-align: right;";
        const addNew = document.createElement("span");
        addNew.className = "fas fa-folder-plus";
        addNew.style.cssText = "cursor: pointer;"
        {% if user.is_authenticated %}
          actionTd.appendChild(addNew);
        {% endif %}
        tr.appendChild(actionTd);

        $(thExpand).click(function () {
          for (let [index, v] of values.entries()) {
            document.getElementById(t.verbose_name.replaceAll(' ', '_') + "_" + index).hidden = !document.getElementById(t.verbose_name.replaceAll(' ', '_') + "_" + index).hidden;
            document.getElementById(t.verbose_name.replaceAll(' ', '_') + "_" + index).hidden == true ? caretDownSpan.className = "fas fa-caret-down" : caretDownSpan.className = "fas fa-caret-up";
            }
          });


        let nextPath;
        if (path) {
            nextPath = path + "." + property;
        } else {
            nextPath = property;
        }
        let idx = 0;


        const trChilds = document.createElement("tr");
        trChilds.style.cssText = "display: flex; flex-direction: column;";
        trChilds.id = t.verbose_name.replaceAll(' ', '_') + "_" + 'newItems';
        trChilds.hidden = true;
        const addTd = document.createElement("td");
        addTd.style.cssText = "width: 100%; background-color: #dae0e5";

        const addNewItem = {
          add: async () => createAddNewItem()
        }

        const createAddNewItem = () => {
          return new Promise((complete, failed)=>{
            $('#add_name').off('click');
            $('#add_name').on('click', ()=> { $('.add_new_entry').hide(); complete(true); });
            $('.add_new_entry').show();
          });
        }

        const addItem = async () => {
          const confirm = await addNewItem.add();

          if(confirm){
            const new_name = document.getElementById("new_entry_text").value.replace(" ", "_");
            let newValue = { 'literal': new_name};
            let oldValue = { 'literal': ""};
            document.getElementById(t.verbose_name.replaceAll(' ', '_') + "_" + 'newItems').hidden = false;
            // In case of a literal, create just an input field. Otherwise, instantiate a new rdf node
            $.post("/factsheets/rdf/" + factory + "/" + identifier + "/",
                {query: JSON.stringify({ property: property, newValue: newValue, oldValue: oldValue }), csrfmiddlewaretoken: csrftoken},
                function (data) {
                    idx = createDisplay(addTd, data.iri.split("/").pop(), property, t, data, nextPath, idx);
                });
          }
        }

        $(addNew).click(function () {
          if (!t.literal && t.template == undefined) {
            addItem();
          } else {
              document.getElementById(t.verbose_name.replaceAll(' ', '_') + "_" + 'newItems').hidden = false;
              idx = createDisplay(addTd, subject, property, t, "", nextPath, idx, true);
          }
          for (let [index, v] of values.entries()) {
            if (document.getElementById(t.verbose_name.replaceAll(' ', '_') + "_" + index).hidden == true) {
              document.getElementById(t.verbose_name.replaceAll(' ', '_') + "_" + index).hidden = false;
            }
          }
        });

        trMain.appendChild(tr);

        for (let [index, v] of values.entries()) {
          const childTr = document.createElement("tr");
          childTr.style.cssText = "display: flex;";
          childTr.id = t.verbose_name.replaceAll(' ', '_') + "_" + index;
          childTr.hidden = true;
          const childTd = document.createElement("td");
          childTd.style.cssText = "width: 100%;";

          const ul = document.createElement("ul");
          ul.className = "list-group";
          idx = createDisplay(ul, subject, property, t, v, nextPath, idx);
          childTd.appendChild(ul);
          childTr.appendChild(childTd);
          trMain.appendChild(childTr);
        }

        trChilds.appendChild(addTd);
        trMain.appendChild(trChilds);

        return trMain;
    }

    function isValidHttpUrl(string) {
      let url;
      try {
        url = new URL(string);
      } catch (_) {
        return false;
      }
      return url.protocol === "http:" || url.protocol === "https:";
    }

    function createDisplay(ul, subject, property, t, data, path, idx, unfold = false) {
        let id = path + "." + idx;
        let li = document.createElement("div");
        li.className = "list-group-item";

        let container = document.createElement("div");
        // container.className ="container";
        addHint = document.createElement("div");
        addHint.innerHTML = 'Press Enter to save!';
        addHint.setAttribute("id", "hint_for_add");
        addHint.hidden = true;

        li.appendChild(container);
        container.appendChild(addHint);

        let current_value = {};
        let editButton;
        {% if user.is_authenticated %}
        let deleteButton = document.createElement("span");
        deleteButton.style.cssText = "cursor: pointer;"
        //deleteButton.className = "btn btn-secondary";
        let bin = document.createElement("i");
        bin.className = "fas fa-trash";
        deleteButton.appendChild(bin);
        {% endif %}
        let element;
        if (t.template) {

            if (t.template.type === "text" || t.template.type === "textarea") {
                let label;
                let i = document.createElement("input");
                let temp = data;
                data = {};
                data[t.template.field] = temp
                current_value = data;

                if (current_value[t.template.field] != undefined) {
                  if (isValidHttpUrl(temp)) {
                    label = document.createElement("a");
                    label.innerText = current_value[t.template.field];
                    label.href = current_value[t.template.field];
                  } else {
                    label = document.createElement("span");
                    label.innerText = current_value[t.template.field];
                  }
                  i.value = temp;
                } else {
                  if (isValidHttpUrl(temp)) {
                    label = document.createElement("a");
                    label.innerText = temp;
                    label.href = temp;
                  } else {
                    label = document.createElement("span");
                    label.innerText = temp;
                  }
                  i.value = temp;
                }
                label.style.cssText = "font-size: 14px;"
                i.className = "form-control";

                // Save on enter
                $(i).keydown(function (event) {
                    addHint.hidden = false;
                    let keyPressed = event.keyCode || event.which;
                    if (keyPressed === 13) {
                        let newValue = {};
                        newValue[t.template.field] = i.value;
                        $.post("/factsheets/rdf/" + subject + "/",
                            {
                                query: JSON.stringify({
                                    property: property,
                                    oldValue: current_value,
                                    newValue: newValue
                                }),
                                csrfmiddlewaretoken: csrftoken
                            },
                            function (result) {
                                current_value = newValue;
                                label.innerText = current_value[t.template.field];
                                document.getElementById("edited_value").innerText = current_value[t.template.field];
                            })
                            $(".message_on_edit").show();
                    }
                });
                element = createEditable(subject, property, id, label, i, unfold);
            } else if (t.template.type === "select") {
                let label = document.createElement("a");
                label.style.cssText = "font-size: 14px;"

                let i = document.createElement("select");
                i.className = "form-control";

                let o = document.createElement("option");
                if (data) {
                    o.value = data.iri;
                    o.selected = true;
                    let iri2label = {}

                    const collecting = {
                      collect: async () => collectLabelsPromise()
                    }
                    const collectLabelsPromise = () => {
                      return new Promise((complete, failed)=>{
                              $.get("/factsheets/rdf/instances/",
                                  {iri: t.template.class, subclass: t.template.subclass, csrfmiddlewaretoken: csrftoken},
                                  function (result) {
                                      for (const [k, v] of Object.entries(result.instances)) {
                                        iri2label[v.iri] = v.label
                                      }
                                      complete(true);
                                  }
                              );
                      });
                    }
                    const assignLabels = async () => {
                      const confirm = await collecting.collect();
                      if(confirm){
                         if (data.iri in iri2label) {
                           o.innerText = iri2label[data.iri];
                           label.innerText = iri2label[data.iri];
                         } else {
                           o.innerText = data.label || data.iri;
                           label.innerText = data.label || data.iri;
                         }
                         label.href = data.iri;
                         current_value = data;
                      } else {
                        console.log("Error in collecting labels!");
                      }
                    }

                    assignLabels();

                } else {
                    o.innerText = "Choose one"
                }
                i.appendChild(o);

                var options_label = {}
                // Load options on demand
                $(i).click(function (event) {
                  //  $(i).find('option').remove();
                    $.get("/factsheets/rdf/instances/",
                        {iri: t.template.class, subclass: t.template.subclass, csrfmiddlewaretoken: csrftoken},
                        function (result) {
                            let current_o;
                            for (const instance of result.instances) {
                                options_label[instance.iri] = instance.label;
                                var o = document.createElement("option");
                                o.value = instance.iri;
                                o.innerText = instance.label;
                                i.appendChild(o);
                            }
                        }
                    );
                });

                i.onchange = function () {
                  const new_selected = {
                    iri: i.value,
                    label: options_label[i.value]
                  }
                  $.post("/factsheets/rdf/" + subject + "/",
                    {
                        query: JSON.stringify({
                            property: property,
                            oldValue: current_value,
                            newValue: new_selected
                        }), csrfmiddlewaretoken: csrftoken
                    },
                    function () {
                      label.innerText = options_label[i.value];
                      document.getElementById("edited_value").innerText = options_label[i.value];
                      $('.message_on_edit').show();
                    });
                }
                element = createEditable(subject, property, id, label, i, unfold);
            } else {
                console.log("Unknown template: " + t.template.type)
            }
            {% if user.is_authenticated %}
            editButton = document.createElement("span");
            editButton.style.cssText = "margin-right: 8px; cursor: pointer;"
            $(editButton).click(() => show_field(id));
            //editButton.className = "btn btn-secondary";
            let i = document.createElement("i");
            i.className = "fas fa-pen";
            editButton.appendChild(i);
            {% endif %}

        } else {
            current_value = data;
            element = createExpandable(data, id, t["factory"])
        }
        {% if user.is_authenticated %}

        const ui = {
          confirm: async (message) => createConfirm(message)
        }

        const createConfirm = (message) => {
          return new Promise((complete, failed)=>{
            $('#confirmMessage').text(message)

            $('#confirmYes').off('click');
            $('#confirmNo').off('click');

            $('#confirmYes').on('click', ()=> { $('.confirm').hide(); complete(true); });
            $('#confirmNo').on('click', ()=> { $('.confirm').hide(); complete(false); });

            $('.confirm').show();
          });
        }

        const deleteItem = async () => {
          const confirm = await ui.confirm('Do you really want to remove this item?');

          if(confirm){
            if (current_value && (current_value.literal || current_value.iri)) {
              $.post("/factsheets/rdf/" + subject + "/",
              {
                query: JSON.stringify({property: property, oldValue: current_value}),
                csrfmiddlewaretoken: csrftoken
              }, () => {
                li.remove()
              })
            } else {
              li.remove()
            }
          }
        }

        $(deleteButton).click(() => {
            deleteItem();
        });

        let buttonGroup = document.createElement("div");
        buttonGroup.className = "btn-group float-end";

        if (editButton) {
            buttonGroup.append(editButton);
        }
        buttonGroup.append(deleteButton);
        container.append(buttonGroup);
        {% endif %}
        container.appendChild(element);
        ul.appendChild(li);
        idx++;
        return idx
    }

    function createEditable(subject, property, id, labelText, field, unfold = false) {
        let container = document.createElement("div");
        let labelDiv = document.createElement("div");
        labelDiv.id = "display__" + id;
        labelDiv.appendChild(labelText);
        labelDiv.hidden = unfold;

        container.appendChild(labelDiv);

        let formDiv = document.createElement("div");
        formDiv.id = "edit__" + id;
        let form = document.createElement("div");
        field.id = "input__" + id;
        $(field).focusout(() => hide_field(id));

        form.appendChild(field);
        // Submit to API
        formDiv.appendChild(form);
        formDiv.hidden = !unfold;
        container.appendChild(formDiv);
        return container;
    }

    function expand(factory, name, id) {
        document.getElementById("expand__" + id).hidden = true;
        document.getElementById("collapse__" + id).hidden = false;
        //console.log('#', id, name, factory, id)
        load_instance(id, name, factory, id)
    }

    function collapse(id) {
        document.getElementById("expand__" + id).hidden = false;
        document.getElementById("collapse__" + id).hidden = true;
        document.getElementById("container__" + id).remove();
    }

    function createExpandable(instance, id, factory) {
        let container = document.createElement("div");
        container.id = id;
        let label = document.createElement("span");
        //let link = document.createTextNode(parseInt(id.split('.').pop()) + 1);
        let link = document.createTextNode(instance.iri.split('/').pop().replaceAll("-", " ").replaceAll("_", " "));
        label.appendChild(link);
        label.style.cssText = "font-size: 14px;"

        container.appendChild(label);

        // A link to expand a new instance
        let expander = document.createElement("span");
        expander.className = "fas fa-caret-down";
        expander.style.cssText = "margin: 1px 5px; cursor: pointer;"
        //expander.innerText = "Show more...";
        let name = instance.iri.split("/").pop();
        expander.id = "expand__" + id;
        expander.href = "javascript:void(0)";
        $(expander).click(() => expand(factory, name, id));
        container.appendChild(expander);

        // A link to collapse an instance
        let collapser = document.createElement("span");
        collapser.className = "fas fa-caret-up";
        collapser.style.cssText = "margin: 1px 5px; cursor: pointer;"
        //collapser.style.cssText = "background-color: #D89EB7; border-radius: 8px; color:white; padding: 2px 6px; text-align: center; font-size: 12px; margin: 1px 4px; cursor: pointer;"
        //collapser.innerText = "Show less";
        collapser.id = "collapse__" + id;
        collapser.hidden = true;
        collapser.href = "javascript:void(0)";
        $(collapser).click(() => collapse(id));
        container.appendChild(collapser);

        return container
    }


</script>

<div class="message_on_edit">
  <div style="background-color: #eaf6fe;">
    <div><i class="fa fa-info-circle fa-2x" aria-hidden="true"></i></div>
    <div style="margin: 15px;"><span id="edit_message">The new value is set as: </span><span id="edited_value"></span></div>
    <div>
      <input id="edit_confirm" type="button" value="Ok" class="ok_button" onClick="$('.message_on_edit').hide();" />
    </div>
  </div>
</div>

<div class="confirm">
  <div  style="background-color: #eaf6fe;">
    <div><i class="fa fa-minus-circle fa-2x" aria-hidden="true"></i></div>
    <div id="confirmMessage" style="margin: 15px;"></div>
    <div>
      <input id="confirmYes" type="button" value="Yes" class="delete_button"/>
      <input id="confirmNo" type="button" value="No" class="cancel_button"/>
    </div>
  </div>
</div>

<div class="add_new_entry">
  <div  style="background-color: #eaf6fe;">
    <div><i class="fa fa-plus-circle fa-2x" aria-hidden="true"></i></div>
    <div style="margin: 15px;">Please enter a name for this new entry:</div>
    <div>
      <input id="new_entry_text" class="form-control" type="text" placeholder="">
      <input id="add_name" type="button" value="Submit" class="ok_button"  />
    </div>
  </div>
</div>

{% endblock %}
