{% extends "base/base.html" %}
{% load modelview_extras %}
{% block content %}
{% load bootstrap3 %}
{% load staticfiles %}

<style>
    .btn-add{
    background: transparent;
    color: green;
}
    input[type="checkbox"]:checked+label{
    font-weight: bold;
    border: 3px solid;
}
</style>

<script type="text/javascript">
    $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    });
 
      var confirmOnLeave = function(msg) {
 
      window.onbeforeunload = function (e) {
        e = e || window.event;
        msg = msg || '';
 
        // For IE and Firefox
        if (e) {e.returnValue = msg;}
 
        // For Chrome and Safari
        return msg;
    };
 
};
 
confirmOnLeave();

</script>
<link rel="stylesheet" href="{% static 'css/form-style.css' %}">
<h1> Model </h1>

<div class="tagcontainer">
    {% load dataedit.taghandler %}
    {% get_tags as all_tags %}
    {% if not tags %}
        No tags were added, yet.
    {% endif %}
    {% for t in tags %}
        <a href="" class="btn tag" style="background:{{t.color}};color:{% readable_text_color t.color %}">{{ t.name }}</a>
    {% endfor %}
    <button data-toggle="collapse"  data-target="#tag_handler" class="btn btn-add btn-circle glyphicon glyphicon-plus">
    </button>
    <div id="tag_handler" class="collapse">
        <form action="/factsheets/models/2/tags/add/" method="post">
            {% csrf_token %}
            <h4>Choose tags to attach:</h4>
            {% for t in all_tags %}
                <span  >
                    <input type="checkbox" class="hidden" name="tag_{{t.id}}" id="select_{{t.id}}" {% if t in tags %} checked {% endif %}>
                    <label style="background:{{t.color}};color:{% readable_text_color t.color %}" class="btn tag" for="select_{{t.id}}">{{t.name}}</label>
                </span>
            {% endfor %}
            <input type="hidden" name="schema" value="{{schema}}"/>
            {% if table %}
                <input type="hidden" name="table" value="{{table}}"/>
            {% endif %}
            <input type="submit" class="btn btn-success" value="Apply">
        </form>
    </div>
</div>

{% if method == "update"%}
    <form action="/factsheets/models/{{ name }}/update/" method="post" role="form" enctype="multipart/form-data">
{% else %}
    <form action="/factsheets/models/add/" method="post" role="form" enctype="multipart/form-data">
{% endif %}
{% csrf_token %}
<div style="width:100%">

<ul class="nav nav-tabs" style="width:100%">
  <li class="active"><a data-toggle="tab" href="#Basic">General Information</a></li>
  <li><a data-toggle="tab" href="#Openness">Openness</a></li>
  <li><a data-toggle="tab" href="#Software">Software</a></li>
  <li><a data-toggle="tab" href="#Coverage">Coverage</a></li>
  <li><a data-toggle="tab" href="#Math">Mathematical Properties</a></li>  
  <li><a data-toggle="tab" href="#Integration">Model Integration</a></li>
  <li><a data-toggle="tab" href="#References">References</a></li>
  
  <span onclick="window.onbeforeunload = function (e) {};">
  <input class="btn btn-info right" type="submit" value="Submit all" />
  </span>
</ul>

</div>
    {% if errors %}
        <ul class="list-group">
            {% for label, message in errors %}
                <li class="list-group-item list-group-item-danger"><b>{{ label }}</b>: {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
<div class="tab-content">
    <div id="Basic" class="tab-pane fade in active">
        <table class="formtable">
            {% include 'modelview/editmodel_snippet.html' with field=form.model_name %}
            {% include 'modelview/editmodel_snippet.html' with field=form.acronym %}
            {% include 'modelview/editmodel_snippet.html' with field=form.institutions%}
            {% include 'modelview/editmodel_snippet.html' with field=form.authors %}
            {% include 'modelview/editmodel_snippet.html' with field=form.current_contact_person %}
            {% include 'modelview/editmodel_snippet.html' with field=form.contact_email %}
            {% include 'modelview/editmodel_snippet.html' with field=form.website %}
            {% include 'modelview/editmodel_snippet.html' with field=form.logo %}
            {% include 'modelview/editmodel_snippet.html' with field=form.primary_purpose %}
            {% include 'modelview/editmodel_snippet.html' with field=form.primary_outputs %}
            {% include 'modelview/editmodel_snippet.html' with field=form.support %}
            {% include 'modelview/editmodel_snippet.html' with field=form.framework add=form.framework_yes_text%}

            {% include 'modelview/editmodel_snippet.html' with field=form.user_documentation %}
            {% include 'modelview/editmodel_snippet.html' with field=form.code_documentation %}
            {% include 'modelview/editmodel_snippet.html' with field=form.documentation_quality %}
            {% include 'modelview/editmodel_snippet.html' with field=form.source_of_funding %}
            {% include 'modelview/editmodel_snippet.html' with field=form.number_of_devolopers %}
            {% include 'modelview/editmodel_snippet.html' with field=form.number_of_users %}
        </table>
    </div>
    <script>
        function open_source_click(cb) {
            var yes = document.getElementsByClassName('open_source_yes'),
                no = document.getElementsByClassName('open_source_no');
                sty_yes = 'none'
                sty_no = ''
            if (cb.checked) {
                sty_no = 'none'
                sty_yes = ''                
            } 
            for (i = 0; i < yes.length; i++) {
                yes[i].style.display = sty_yes;
            }
            for (i = 0; i < no.length; i++) {
                no[i].style.display = sty_no;
            }
        }
    </script>
    <div id="Openness" class="tab-pane fade">
        <table class="formtable">
            {% include 'modelview/editmodel_snippet.html' with field=form.open_source event='onclick'%}
            <div id="open_source_no">
                {% include 'modelview/editmodel_snippet.html' with field=form.open_up class="open_source_no" visible=form.open_source.value|yesno:"none," %}
                {% include 'modelview/editmodel_snippet.html' with field=form.costs class="open_source_no" visible=form.open_source.value|yesno:"none," %}
            </div>
            <div id="open_source_yes">
                {% include 'modelview/editmodel_snippet.html' with field=form.license               add=form.license_other_text class="open_source_yes" visible=form.open_source.value|yesno:",none" %}
                {% include 'modelview/editmodel_snippet.html' with field=form.source_code_available                             class="open_source_yes" visible=form.open_source.value|yesno:",none" %}
                {% include 'modelview/editmodel_snippet.html' with field=form.gitHub                                            class="open_source_yes" visible=form.open_source.value|yesno:",none" %}
                {% include 'modelview/editmodel_snippet.html' with field=form.link_to_source_code                               class="open_source_yes" visible=form.open_source.value|yesno:",none" %}
                {% include 'modelview/editmodel_snippet.html' with field=form.data_provided                                     class="open_source_yes" visible=form.open_source.value|yesno:",none" %}
                {% include 'modelview/editmodel_snippet.html' with field=form.cooperative_programming class="open_source_yes" visible=form.open_source.value|yesno:",none" %}
            </div>
        </table>
    </div>
    <div id="Software" class="tab-pane fade">
        <table class="formtable">
            {% include 'modelview/editmodel_snippet.html' with field=form.modelling_software %}
            {% include 'modelview/editmodel_snippet.html' with field=form.interal_data_processing_software %}
            {% include 'modelview/editmodel_snippet.html' with field=form.external_optimizer add=form.external_optimizer_yes_text %}
            {% include 'modelview/editmodel_snippet.html' with field=form.additional_software %}
            {% include 'modelview/editmodel_snippet.html' with field=form.gui %}
        </table>
    </div>
    <div id="Coverage" class="tab-pane fade">
        <table class="formtable">
        <tr><th> Modeled energy sectors (final energy) </th><td>
        <table class="checktable">
            {% include 'modelview/editmodel_snippet.html' with field=form.energy_sectors_electricity %}
            {% include 'modelview/editmodel_snippet.html' with field=form.energy_sectors_heat %}
            {% include 'modelview/editmodel_snippet.html' with field=form.energy_sectors_liquid_fuels %}
            {% include 'modelview/editmodel_snippet.html' with field=form.energy_sectors_gas %}
            {% include 'modelview/editmodel_snippet.html' with field=form.energy_sectors_others add=form.energy_sectors_others_text%}
        </table></td></tr>
        
        
        <tr>
            <th> Modeled demand sectors </th>
            <td>
                <table class="checktable"> 
                    {% include 'modelview/editmodel_snippet.html' with field=form.demand_sectors_households %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.demand_sectors_industry %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.demand_sectors_commercial_sector %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.demand_sectors_transport %}
                </table>
            </td>
        </tr>
        
        <tr>
            <th> Modeled energy carriers (primary energy carriers) </th>
            <td>
                <table class="formtable" align="center"> 
                    <tr>
                        <th>
                            Gas
                        </th>
                        <td>
                            <table class="checktable" align="center">
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_gas_natural_gas %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_gas_biogas %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_gas_hydrogen %}
                            </table>
                        </td>
                    </tr>    
                    <tr>
                        <th>
                            Liquids
                        </th>
                        <td>
                            <table class="checktable" align="center">
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_liquids_petrol %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_liquids_diesel %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_liquids_ethanol %}
                            </table>
                        </td>
                    </tr>    
                    <tr>
                        <th>
                            Solid
                        </th>
                        <td>
                            <table class="checktable" align="center">
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_solid_hard_coal %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_solid_hard_lignite %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_solid_hard_uranium %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_solid_hard_biomass %}
                            </table>
                        </td>
                    </tr>    
                    <tr>
                        <th>
                            Renewables
                        </th>
                        <td>
                            <table class="checktable" align="center">
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_renewables_sun %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_renewables_wind %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_renewables_hydro %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.energy_carrier_renewables_geothermal_heat %}
                            </table>
                        </td>
                    </tr>    
                </table>
            </td>
        </tr>
        <tr>
            <th> Modeled technologies: components for generation or conversion </td>
            <td>
                <table class="formtable"> 
                    <tr>
                        <th>
                            Renewables
                        </th>
                        <td>
                            <table class="checktable" align="center">            
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_renewables_PV %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_renewables_wind %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_renewables_hydro %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_renewables_biomass %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_renewables_biogas %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_renewables_solar_thermal %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_renewables_others add=form.generation_renewables_others_text%}
                            </table>
                        </td>
                    </tr>    
                    <tr>
                        <th>
                            Conventional
                        </th>
                        <td>
                            <table class="checktable" align="center">            
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_conventional_gas %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_conventional_coal %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_conventional_oil %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_conventional_liquid_fuels %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.generation_conventional_nuclear %}
                            </table>
                        </td>
                    </tr> 
                    {% include 'modelview/editmodel_snippet.html' with field=form.generation_CHP %}
                </table>
            </td>
        </tr>   

        <tr>
            <th> Modeled technologies: components for transfer, infrastructure or grid </th>
            <td>
                <table class="formtable" align="center"> 
                    <tr>
                        <th>
                            Electricity
                        </th>
                        <td>
                            <table class="checktable" align="center">
                                {% include 'modelview/editmodel_snippet.html' with field=form.transfer_electricity_distribution %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.transfer_electricity_transition %}
                            </table>
                        </td>
                    </tr> 
                    <tr>
                        <th>
                            Gas
                        </th>
                        <td>
                            <table class="checktable" align="center">
                                {% include 'modelview/editmodel_snippet.html' with field=form.transfer_gas_distribution %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.transfer_gas_transition %}
                            </table>
                        </td>
                    </tr> 
                    <tr>
                        <th>
                            Heat
                        </th>
                        <td>
                            <table class="checktable" align="center">
                                {% include 'modelview/editmodel_snippet.html' with field=form.transfer_heat_distribution %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.transfer_heat_transition %}  
                            </table>
                        </td>
                    </tr>     
                </table>
            </td>
        </tr>
        <tr>
            <th> Properties electrical grid </th>
            <td>
                <table class="checktable" align="center"> 
                    {% include 'modelview/editmodel_snippet.html' with field=form.network_coverage_AC %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.network_coverage_DC %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.network_coverage_NT %}
                </table>
            </td>
        </tr>
        <tr>
            <th> Modeled technologies: components for storage </th>
            <td>
                <table class="formtable" align="center"> 
                    <tr>
                        <th> Storage (electricity) </th>
                        <td>
                            <table class="checktable" align="center">
                                {% include 'modelview/editmodel_snippet.html' with field=form.storage_electricity_battery %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.storage_electricity_kinetic %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.storage_electricity_CAES %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.storage_electricity_PHS %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.storage_electricity_chemical %}
                             </table>
                        </td>
                    </tr> 
                    <tr>
                        <th> Storage (other) </th>
                        <td>
                            <table class="checktable" align="center">

                                {% include 'modelview/editmodel_snippet.html' with field=form.storage_heat %}
                                {% include 'modelview/editmodel_snippet.html' with field=form.storage_gas %}
                            </table>
                        </td>
                    </tr> 
                </table>
            </td>
        </tr>
            {% include 'modelview/editmodel_snippet.html' with field=form.user_behaviour add=form.user_behaviour_yes_text %}
            {% include 'modelview/editmodel_snippet.html' with field=form.changes_in_efficiency %}
            {% include 'modelview/editmodel_snippet.html' with field=form.market_models %}
            {% include 'modelview/editmodel_snippet.html' with field=form.geographical_coverage %}
            <tr>
            <th> Geographic (spatial) resolution </th>
            <td>
                <table class="checktable" align="center"> 
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_global %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_continents %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_national_states %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_TSO_regions %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_federal_states %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_regions %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_NUTS_3 %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_municipalities %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_districts %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_households %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_power_stations %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.geo_resolution_others add=form.geo_resolution_others_text%}
                </table>
            </td>
        </tr>            
            {% include 'modelview/editmodel_snippet.html' with field=form.comment_on_geo_resolution %}
        <tr>
            <th> Time resolution </th>
            <td>
                <table class="checktable" align="center"> 
                    {% include 'modelview/editmodel_snippet.html' with field=form.time_resolution_anual %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.time_resolution_hour %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.time_resolution_15_min %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.time_resolution_1_min %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.time_resolution_other add=form.time_resolution_other_text %}
                </table>
            </td>
        </tr>            
        <tr>
            <th> Observation period </th>
            <td>
                <table class="checktable" align="center"> 
                    {% include 'modelview/editmodel_snippet.html' with field=form.observation_period_less_1_year %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.observation_period_1_year %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.observation_period_more_1_year %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.observation_period_other add=form.observation_period_other_text %}
                </table>
            </td>
        </tr>
        <tr>
            <th> Additional dimensions </th>
            <td>
                <table class="checktable" align="center"> 
                    {% include 'modelview/editmodel_snippet.html' with field=form.additional_dimensions_sector_ecological add=form.additional_dimensions_sector_ecological_text %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.additional_dimensions_sector_economic add=form.additional_dimensions_sector_economic_text%}
                    {% include 'modelview/editmodel_snippet.html' with field=form.additional_dimensions_sector_social add=form.additional_dimensions_sector_social_text%}
                    {% include 'modelview/editmodel_snippet.html' with field=form.additional_dimensions_sector_others add=form.additional_dimensions_sector_others_text%}
                </table>
            </td>
        </tr>
        
        </table>
    </div>
    <div id="Math" class="tab-pane fade">
        <table class="formtable">
        
        <tr>
            <th> Model class </th>
            <td>
                <table class="checktable" align="center"> 
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_class_optimization_LP %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_class_optimization_MILP %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_class_optimization_Nonlinear add=form.model_class_optimization_LP_MILP_Nonlinear_text%}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_class_simulation_Agentbased %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_class_simulation_System_Dynamics %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_class_simulation_Accounting_Framework %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_class_simulation_Game_Theoretic_Model %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_class_simulation_bottom_up %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_class_simulation_top_down %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_class_other add=form.model_class_other_text%}
                </table>
            </td>
        </tr>

        

            {% include 'modelview/editmodel_snippet.html' with field=form.short_description_of_mathematical_model_class %}
            
        <tr>
            <th> Mathematical objective </th>
            <td>
                <table class="checktable" align="center"> 
                    {% include 'modelview/editmodel_snippet.html' with field=form.mathematical_objective_cO2 %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.mathematical_objective_costs %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.mathematical_objective_rEshare %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.mathematical_objective_other add=form.mathematical_objective_other_text %}
                </table>
            </td>
        </tr>
        <tr>
            <th> Approach to uncertainty </th>
            <td>
                <table class="checktable" align="center"> 
                    {% include 'modelview/editmodel_snippet.html' with field=form.uncertainty_deterministic %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.uncertainty_Stochastic %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.uncertainty_Other add=form.uncertainty_Other_text %}
                </table>
            </td>
        </tr>   
            {% include 'modelview/editmodel_snippet.html' with field=form.montecarlo %}
            {% include 'modelview/editmodel_snippet.html' with field=form.typical_computation_time %}
            {% include 'modelview/editmodel_snippet.html' with field=form.typical_computation_hardware %}
            {% include 'modelview/editmodel_snippet.html' with field=form.technical_data_anchored_in_the_model %}
        </table>
    </div>
    <div id="References" class="tab-pane fade">
        <table class="formtable">
            {% include 'modelview/editmodel_snippet.html' with field=form.citation_reference %}
            {% include 'modelview/editmodel_snippet.html' with field=form.citation_DOI %}
            {% include 'modelview/editmodel_snippet.html' with field=form.references_to_reports_produced_using_the_model %}
            {% include 'modelview/editmodel_snippet.html' with field=form.larger_scale_usage %}
            
            <tr><th> Model Validation </th><td>
		<table class="checktable">
		    {% include 'modelview/editmodel_snippet.html' with field=form.validation_models %}
		    {% include 'modelview/editmodel_snippet.html' with field=form.validation_measurements %}
		    {% include 'modelview/editmodel_snippet.html' with field=form.validation_others add=form.validation_others_text%}
		</table></td></tr>
            {% include 'modelview/editmodel_snippet.html' with field=form.example_research_questions %}
            {% include 'modelview/editmodel_snippet.html' with field=form.model_specific_properties %}
            {% include 'modelview/editmodel_snippet.html' with field=form.properties_missed %}
        </table>
    </div>
    <div id="Integration" class="tab-pane fade">
        <table class="formtable">
            {% include 'modelview/editmodel_snippet.html' with field=form.interfaces %}
            {% include 'modelview/editmodel_snippet.html' with field=form.model_file_format add=form.model_file_format_other_text%}
            {% include 'modelview/editmodel_snippet.html' with field=form.model_input add=form.model_input_other_text%}
            {% include 'modelview/editmodel_snippet.html' with field=form.model_output add=form.model_output_other_text%}
            {% include 'modelview/editmodel_snippet.html' with field=form.integrating_models %}
            {% include 'modelview/editmodel_snippet.html' with field=form.integrated_models %}
        </table>
    </div>
</div>
</form>
{% endblock %}
