<tr><td>{{ amount.label }}: </td><td> <span id="hide1{{ kind.name }}" style="display:inline;"> {{ amount }} </span>
				      <span id="hide3{{ kind.name }}" style="display:none;"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>
				      <span onclick="Hide_Display('{{ kind.name }}')"> {{ kind }} </span> 
				      <span id="hide2{{ kind.name }}" style="display:inline;"> {{ year }} </span> </td><tr>
				      <script type="text/javascript">
					<!--
					  Hide_Display('{{ kind.name }}');
					//-->
				      </script>
