{% extends "modelview/base.html" %}
{% load modelview_extras %}
{% block factsheets_content %}
{% load bootstrap3 %}
{% load staticfiles %}

<style>
    .btn-add{
    background: transparent;
    color: green;
}
    input[type="checkbox"]:checked+label{
    font-weight: bold;
    border: 3px solid;
}
</style>


<script type="text/javascript">
    $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
    });
 
      var confirmOnLeave = function(msg) {
 
      window.onbeforeunload = function (e) {
        e = e || window.event;
        msg = msg || '';
 
        // For IE and Firefox
        if (e) {e.returnValue = msg;}
 
        // For Chrome and Safari
        return msg;
    };
 
};
 
confirmOnLeave();

</script>
<link rel="stylesheet" href="{% static 'css/form-style.css' %}">
<h1> Framework </h1>
<sup color="light grey">* required field</sup>

{% if method == "update"%}
    <form action="/factsheets/frameworks/{{ name }}/update/" method="post" role="form" enctype="multipart/form-data">
{% else %}
    <form action="/factsheets/frameworks/add/" method="post" role="form">
{% endif %}
{% csrf_token %}

<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#Basic">General Information</a></li>
  <li><a data-toggle="tab" href="#Openness">Openness</a></li>
  <li><a data-toggle="tab" href="#Software">Software</a></li>
  <li><a data-toggle="tab" href="#Design">Design and Interfaces</a></li>
  <li><a data-toggle="tab" href="#References">References</a></li>
  <li><a data-toggle="tab" href="#Tags">Tags</a></li>
  <span onclick="window.onbeforeunload = function (e) {};">
  <input class="btn btn-info right" type="submit" value="Submit all" />
  </span>

</ul>
    {% if errors %}
        <ul class="list-group">
            {% for label, message in errors %}
                <li class="list-group-item list-group-item-danger"><b>{{ label }}</b>: {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
<div class="tab-content">
    <div id="Basic" class="tab-pane fade in active">
        <table class="formtable">
        {% include 'modelview/editmodel_snippet.html' with field=form.model_name %}
        {% include 'modelview/editmodel_snippet.html' with field=form.acronym %}
        <tr>
            <th class="formlabel">{% bootstrap_label form.methodical_focus_1.label %}*
                {% if form.methodical_focus_1.help_text != "" %}
                    <a href="javascript://" data-toggle="popover" data-trigger="focus" title="" data-content="{{ form.methodical_focus_1.help_text }}">
                        <span class='glyphicon glyphicon-question-sign'></span>
                    </a>
                {% endif %}
            </th>
            <td>
                <table>
                    <tr>
                        <td>{% bootstrap_field form.methodical_focus_1 show_label=False show_help=False set_required=True %}</td>
                    </tr>
                    <tr>
                        <td>{% bootstrap_field form.methodical_focus_2 show_label=False show_help=False set_required=False %}</td>
                    </tr>
                    <tr>
                        <td>{% bootstrap_field form.methodical_focus_3 show_label=False show_help=False set_required=False %}</td>
                    </tr>
                </table>
            </td>
        </tr>
        {% include 'modelview/editmodel_snippet.html' with field=form.institutions %}
        {% include 'modelview/editmodel_snippet.html' with field=form.authors %}
        {% include 'modelview/editmodel_snippet.html' with field=form.current_contact_person %}
        {% include 'modelview/editmodel_snippet.html' with field=form.contact_email %}
        {% include 'modelview/editmodel_snippet.html' with field=form.website %}
        {% include 'modelview/editmodel_snippet.html' with field=form.logo %}
        {% include 'modelview/editmodel_snippet.html' with field=form.primary_purpose %}
        {% include 'modelview/editmodel_snippet.html' with field=form.support %}
        {% include 'modelview/editmodel_snippet.html' with field=form.framework add=form.framework_yes_text %}
        {% include 'modelview/editmodel_snippet.html' with field=form.user_documentation %}
        {% include 'modelview/editmodel_snippet.html' with field=form.code_documentation %}
        {% include 'modelview/editmodel_snippet.html' with field=form.documentation_quality %}
        {% include 'modelview/editmodel_snippet.html' with field=form.source_of_funding %}
        {% include 'modelview/editmodel_snippet.html' with field=form.number_of_devolopers %}
        {% include 'modelview/editmodel_snippet.html' with field=form.number_of_users %}        
        </table>
    </div>
    <script>
        function open_source_click(cb) {
            var yes = document.getElementsByClassName('open_source_yes'),
                no = document.getElementsByClassName('open_source_no');
                sty_yes = 'none'
                sty_no = ''
            if (cb.checked) {
                sty_no = 'none'
                sty_yes = ''                
            } 
            for (i = 0; i < yes.length; i++) {
                yes[i].style.display = sty_yes;
            }
            for (i = 0; i < no.length; i++) {
                no[i].style.display = sty_no;
            }
        }
    </script>
    <div id="Openness" class="tab-pane fade in">
        <table class="formtable">

        {% include 'modelview/editmodel_snippet.html' with field=form.open_source event='onclick'%}
        <div id="open_source_no">
            {% include 'modelview/editmodel_snippet.html' with field=form.open_up class="open_source_no" visible=form.open_source.value|yesno:",none"%}
            {% include 'modelview/editmodel_snippet.html' with field=form.costs class="open_source_no" visible=form.open_source.value|yesno:",none"%}
        </div>
        <div id="open_source_yes">
            {% include 'modelview/editmodel_snippet.html' with field=form.license add=form.license_other_text class="open_source_yes" visible=form.open_source.value|yesno:"none," %}
            {% include 'modelview/editmodel_snippet.html' with field=form.source_code_available class="open_source_yes" visible=form.open_source.value|yesno:"none," %}
            {% include 'modelview/editmodel_snippet.html' with field=form.gitHub class="open_source_yes" visible=form.open_source.value|yesno:"none," %}
            {% include 'modelview/editmodel_snippet.html' with field=form.link_to_source_code class="open_source_yes" visible=form.open_source.value|yesno:"none," %}
            {% include 'modelview/editmodel_snippet.html' with field=form.data_provided class="open_source_yes" visible=form.open_source.value|yesno:"none," %}
            {% include 'modelview/editmodel_snippet.html' with field=form.cooperative_programming class="open_source_yes" visible=form.open_source.value|yesno:"none," %}
        </div>
        </table>
    </div>
    
    <div id="Software" class="tab-pane fade in">
        <table class="formtable">
        {% include 'modelview/editmodel_snippet.html' with field=form.modelling_software %}
        {% include 'modelview/editmodel_snippet.html' with field=form.interal_data_processing_software %}
        {% include 'modelview/editmodel_snippet.html' with field=form.external_optimizer add=form.external_optimizer_yes_text %} 
        {% include 'modelview/editmodel_snippet.html' with field=form.additional_software %}
        {% include 'modelview/editmodel_snippet.html' with field=form.gui %}
        </table>
    </div>
    <div id="Design" class="tab-pane fade in">
        <table class="formtable">
        <th> Observation period </th>
            <td>
                <table class="checktable" align="center"> 
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_types_grid %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_types_demand_simulation %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_types_feed_in_simulation %}
                    {% include 'modelview/editmodel_snippet.html' with field=form.model_types_other add=form.model_types_other_text%}
                </table>
            </td>
        {% include 'modelview/editmodel_snippet.html' with field=form.api_doc %}
        {% include 'modelview/editmodel_snippet.html' with field=form.data_api %}
        {% include 'modelview/editmodel_snippet.html' with field=form.abstraction %}
        {% include 'modelview/editmodel_snippet.html' with field=form.used %}
        </table>
    </div>
    <div id="References" class="tab-pane fade in">
        <table class="formtable">
        {% include 'modelview/editmodel_snippet.html' with field=form.citation_reference %}
        {% include 'modelview/editmodel_snippet.html' with field=form.citation_DOI %}
        {% include 'modelview/editmodel_snippet.html' with field=form.references_to_reports_produced_using_the_model %}
        {% include 'modelview/editmodel_snippet.html' with field=form.larger_scale_usage %}
        </table>
    </div>
    {%include 'modelview/tag_selector.html'%}
</div>

</form>
{% endblock %}
