{% extends "modelview/base.html" %}
{% load modelview_extras %}
{% block factsheets_content %}
{% load django_bootstrap5 %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/form-style.css' %}">
<h1> Scenario </h1>
{% if method == "update"%}
    <form action="/factsheets/scenarios/{{ name }}/update/" method="post" role="form">
{% else %}
    <form action="/factsheets/scenarios/add/" method="post" role="form">
{% endif %}
{% csrf_token %}

{% include 'modelview/error_snipet.html' with errors=errors %}

<ul class="nav nav-tabs" style="width:100%">
  <li class="active" style="padding-right: 5px; padding-left: 5px"><a data-bs-toggle="tab" href="#Basic">Study</a></li>
  <li style="padding-right: 5px; padding-left: 5px"><a data-bs-toggle="tab" href="#Empirical">Empirical Data</a></li>
  <li style="padding-right: 5px; padding-left: 5px"><a data-bs-toggle="tab" href="#Assumtions">Assumptions</a></li>
  <li style="padding-right: 5px; padding-left: 5px"><a data-bs-toggle="tab" href="#Results">Results</a></li>
  <span onclick="window.onbeforeunload = function (e) {};">
  <input class="btn btn-info right" type="submit" value="Submit all" />
  </span>

</ul>
    {% bootstrap_form_errors form %}
<div class="tab-content">
    <div id="Basic" class="tab-pane fade show active">
        <table class="formtable">
	  {% include 'modelview/editmodel_snippet.html' with field=form.study %}
        </table>
    </div>
    <div id="Empirical" class="tab-pane fade">
        <table class="formtable">
            <tr>
                <th>
                    Exogenous time series used
                </th>
                <td>
                    <table class="checktable">
                       {% include 'modelview/editmodel_snippet.html' with field=form.exogenous_time_series_used_climate %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.exogenous_time_series_used_feedin %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.exogenous_time_series_used_loadcurves %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.exogenous_time_series_used_others add=form.exogenous_time_series_used_others_text %}

                    </table>
                </td>
            </tr>
            {% include 'modelview/editmodel_snippet.html' with field=form.technical_data %}
            {% include 'modelview/editmodel_snippet.html' with field=form.social_data %}
            {% include 'modelview/editmodel_snippet.html' with field=form.economical_data %}
            {% include 'modelview/editmodel_snippet.html' with field=form.ecological_data %}
            {% include 'modelview/editmodel_snippet.html' with field=form.preProcessing %}
            {% include 'modelview/editmodel_snippet.html' with field=form.name_of_scenario %}
        </table>
    </div>
    <div id="Assumtions" class="tab-pane fade">
        <table class="formtable">
            {% include 'modelview/editscenario_snippet_year.html' with name='energy_savings' amount=form.energy_saving_amount kind=form.energy_saving_kind year=form.energy_saving_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='emission_reductions' amount=form.emission_reductions_amount kind=form.emission_reductions_kind year=form.emission_reductions_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='potential_energy_savings' amount=form.potential_energy_savings_amount kind=form.potential_energy_savings_kind year=form.potential_energy_savings_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='share_RE_heat' amount=form.share_RE_heat_amount kind=form.share_RE_heat_kind year=form.share_RE_heat_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='share_RE_power' amount=form.share_RE_power_amount kind=form.share_RE_power_kind year=form.share_RE_power_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='share_RE_mobility' amount=form.share_RE_mobility_amount kind=form.share_RE_mobility_kind year=form.share_RE_mobility_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='share_RE_total' amount=form.share_RE_total_amount kind=form.share_RE_total_kind year=form.share_RE_total_year %}

            <tr>
                <th>
                    Cost development
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.cost_development_capex %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.cost_development_opex %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.cost_development_learning_curves %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.cost_development_constant %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.cost_development_rediscount %}

                    </table>
                </td>
            </tr>
            {% include 'modelview/editmodel_snippet.html' with field=form.technological_innovations %}

            <tr>
                <th>
                    Potential wind
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_wind_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_wind_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_wind_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_wind_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_wind_other add=form.potential_wind_other_text%}

                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Potential solar electric
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_electric_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_electric_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_electric_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_electric_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_electric_other add=form.potential_solar_electric_other_text %}

                    </table>
                </td>
            </tr>

            <tr>
                <th>
                    Potential solar thermal
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_thermal_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_thermal_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_thermal_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_thermal_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_thermal_other add=form.potential_solar_thermal_other_text%}
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Potential biomass
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_biomass_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_biomass_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_biomass_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_biomass_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_biomass_other add=form.potential_biomass_other_text%}
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Potential geothermal
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_geothermal_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_geothermal_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_geothermal_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_geothermal_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_geothermal_other add=form.potential_geothermal_othertext %}
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Potential hydro power
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_hydro_power_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_hydro_power_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_hydro_power_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_hydro_power_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_hydro_power_other add=form.potential_hydro_power_other_text%}
                    </table>
                </td>
            </tr>

            {% include 'modelview/editmodel_snippet.html' with field=form.social_developement %}
            {% include 'modelview/editmodel_snippet.html' with field=form.economic_development %}
            {% include 'modelview/editmodel_snippet.html' with field=form.development_of_environmental_aspects %}
            {% include 'modelview/editmodel_snippet.html' with field=form.postprocessing %}
            {% include 'modelview/editmodel_snippet.html' with field=form.further_assumptions_for_postprocessing add=form.further_assumptions_for_postprocessing_text%}
        </table>
    </div>
    <div id="Results" class="tab-pane fade">
        <table class="formtable">
            {% include 'modelview/editmodel_snippet.html' with field=form.uncertainty_assessment %}
            {% include 'modelview/editmodel_snippet.html' with field=form.robustness %}
            {% include 'modelview/editmodel_snippet.html' with field=form.comparability_Validation %}
            {% include 'modelview/editmodel_snippet.html' with field=form.conclusions %}
        </table>
    </div>
</div>
</form>
{% endblock %}

{% block after-body-bottom-js %}
<script type="text/javascript">

    $(document).ready(function(){
    $('[data-bs-toggle="tooltip"]').tooltip();
    });

      var confirmOnLeave = function(msg) {

      window.onbeforeunload = function (e) {
        e = e || window.event;
        msg = msg || '';

        // For IE and Firefox
        if (e) {e.returnValue = msg;}

        // For Chrome and Safari
        return msg;
    };

};

    function Hide_Display(name)
    {
	x = document.getElementById('id_'+name).value;
	divInfo1 = document.getElementById('hide1'+name);
	divInfo2 = document.getElementById('hide2'+name);
	divInfo3 = document.getElementById('hide3'+name);


	if ( x == 'not estimated')
	{
	    divInfo1.style.display = 'none';
	    divInfo2.style.display = 'none';
	    divInfo3.style.display = 'inline';
	}
	else
	{
	    divInfo1.style.display = 'inline';
	    divInfo2.style.display = 'inline';
	    divInfo3.style.display = 'none';
	}
    }

      var confirmOnLeave = function(msg) {

      window.onbeforeunload = function (e) {
        e = e || window.event;
        msg = msg || '';

        // For IE and Firefox
        if (e) {e.returnValue = msg;}

        // For Chrome and Safari
        return msg;
    };

};

confirmOnLeave();




</script>
{% endblock %}
