{% extends "base/base.html" %}
{% load bootstrap3 %}
{% bootstrap_javascript_url %}
{% load staticfiles %}
{% load modelview_extras %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/mv-style.css' %}">
<div class="container">
    <div style="float: left;">
        <h1> {{ model.model_name }} {% if  model.acronym %} ({{ model.acronym }}) {% endif %} </h1>
    </div>
    <div>
        <a class="btn btn-info" style="float:right; position: absolute;bottom: 5;right: 0;" href="edit"><span name="icon"></span>Edit</a>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="fill-div" data-toggle="collapse" href="#BasicInformation">Basic Information</a>
          </h4>
        </div>
        <div id="BasicInformation" class="panel-collapse collapse in profilebox in">
            
            <div class="container" style="padding:0">            
                <div class="mv-column-left">
                    
                    <table class="profiletable">
                    <!-- <tr><td class="rowlabel"> id_name</td><td> {{ model.id_name }}</td></tr> -->
                        {% include 'modelview/model_snippet.html' with model=model field='model_name' %}
                        {% include 'modelview/model_snippet.html' with model=model field='acronym' %}
                        {% include 'modelview/model_snippet.html' with model=model field='institutions' %}
                        {% include 'modelview/model_snippet.html' with model=model field='authors' %}
                        {% include 'modelview/model_snippet.html' with model=model field='current_contact_person' %}
                        {% include 'modelview/model_snippet.html' with model=model field='contact_email' %}
                        {% include 'modelview/model_snippet.html' with model=model field='website' %}
                        {% include 'modelview/model_snippet.html' with model=model field='logo' %}
                        {% include 'modelview/model_snippet.html' with model=model field='primary_purpose' %}
                        {% include 'modelview/model_snippet.html' with model=model field='primary_outputs' %}
                        {% include 'modelview/model_snippet.html' with model=model field='support' %}
                        {% include 'modelview/model_snippet.html' with model=model field='framework' add=model.framework_yes_text%}
                        {% include 'modelview/model_snippet.html' with model=model field='user_documentation' %}
                        {% include 'modelview/model_snippet.html' with model=model field='code_documentation' %}
                        {% include 'modelview/model_snippet.html' with model=model field='documentation_quality' %}
                        {% include 'modelview/model_snippet.html' with model=model field='source_of_funding' %}
                        {% include 'modelview/model_snippet.html' with model=model field='number_of_devolopers'  %}
                        {% include 'modelview/model_snippet.html' with model=model field='number_of_users'  %}                    
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container" style="padding:0;flex-wrap: wrap;">            
    <div class="mv-column-left">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#Openness">Openness</a>
                  </h4>
                </div>
                <div id="Openness" class="panel-collapse collapse in profilebox">
                    <table class="profiletable">
                        {% include 'modelview/model_snippet.html' with model=model field='open_source' %}
                        {% if not model.open_source %}
                            {% include 'modelview/model_snippet.html' with model=model field='open_up' %}
                            {% include 'modelview/model_snippet.html' with model=model field='costs' %}
                        {% else %}
                            {% include 'modelview/model_snippet.html' with model=model field='license' add=model.license_other_text %}
                            {% include 'modelview/model_snippet.html' with model=model field='source_code_available' %}
                            {% include 'modelview/model_snippet.html' with model=model field='gitHub' %}
                            {% include 'modelview/model_snippet.html' with model=model field='link_to_source_code'  %}
                            {% include 'modelview/model_snippet.html' with model=model field='data_provided'  %}
                            {% include 'modelview/model_snippet.html' with model=model field='cooperative_programming'  %}
                        {% endif %}

                                                
                    </table>
                    {% if model.gitHub %}
                        <div data-theme="default" data-height="150" data-width="400" data-github="{{ gh_org }}/{{ gh_repo }}" class="github-card"></div>
                        <script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script> 
                        <table class="profiletable">
                         <tr><td class="rowlabel">GitHub Contributions Graph</td><td> 
                        <img src="/static/media/GitHub_{{ gh_org }}_{{ gh_repo }}_Contribution.png">
                        </td></tr>
                                                
                    </table>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="mv-column-right">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a href="#Software" data-toggle="collapse">Software</a>
                  </h4>
                </div>
                <div id="Software" class="panel-collapse collapse in profilebox">
                    <table class="profiletable">
                        {% include 'modelview/model_snippet.html' with model=model field='modelling_software'  %}
                        {% include 'modelview/model_snippet.html' with model=model field='interal_data_processing_software'  %}
                        {% include 'modelview/model_snippet.html' with model=model field='external_optimizer'  add=model.external_optimizer_yes_text%}
                        {% include 'modelview/model_snippet.html' with model=model field='additional_software'  %}
                        {% include 'modelview/model_snippet.html' with model=model field='gui'  %}
                    </table>
                </div>
            </div>
        </div>
    
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="panel-heading">
                  <h4 class="panel-title">
                    <a data-toggle="collapse" href="#References">References</a>
                  </h4>
                </div>
                <div id="References" class="panel-collapse collapse  profilebox">
                    <div>
                        <table class="profiletable">
                            {% include 'modelview/model_snippet.html' with model=model field='citation_reference'  %}
                            {% include 'modelview/model_snippet.html' with model=model field='citation_DOI'  %}
                            {% include 'modelview/model_snippet.html' with model=model field='references_to_reports_produced_using_the_model'  %}
                            {% include 'modelview/model_snippet.html' with model=model field='larger_scale_usage'  %}
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#MathematicalProperties">Design and Interface</a>
          </h4>
        </div>
        <div id="MathematicalProperties" class="panel-collapse collapse profilebox">
            <table class="profiletable">
                                        {% include 'modelview/model_snippet.html' with model=model field='support'  %}
                        {% include 'modelview/model_snippet.html' with model=model field='api_doc'  %}
                        {% include 'modelview/model_snippet.html' with model=model field='data_api'  %}
                        {% include 'modelview/model_snippet.html' with model=model field='abstraction'  %}
                        {% include 'modelview/model_snippet.html' with model=model field='used'  %}
            </table>
        </div>
    </div>
</div>
{% endblock %}
