{% load modelview_extras %}
<tr>
    <td class="sheetlabel">
        {% assign_field_attr model field 'help_text' as vname %}
        {% assign_field model field as val %}
        {% get_field_attr model field 'verbose_name' fieldNameOverride %}
        {% if vname %}
            <i data-toggle='tooltip' title="{{ vname }}">
                <span class='fas fa-question'></span>
            </i>
        {% endif %}
    </td>
    <td>
        {% if not add %}
            {% if val != None %}
                {% if val == False %}
                    <span class='fas fa-times'></span>
                {% elif val == True  %}
                    <span class='fas fa-check'></span>
                {% elif 'http://' in val or 'www.' in val or 'https://' in val %}
                    <a href="{% get_field model field %} ">{% get_field model field %}</a>
                {% else %}
                    {% get_field model field %}
                {% endif %}
            {% else %}
                -
            {% endif %}
        {% endif %}
        {% if val and add%}
            {{ add }}
        {% endif %}
    </td>
</tr>
