{% load modelview_extras %}
<tr>
    <td class="sheetlabel"> 
        {% assign_field_attr model field 'help_text' as vname %} 
        {% assign_field model field as val %} 
        {% get_field_attr model field 'verbose_name' cut="(comma-separated)"%} 
        {% if vname %}
            <a href='#' data-toggle='tooltip' title='{{ vname }}'>
                <span class='glyphicon glyphicon-question-sign'></span>
            </a>
        {% endif %} :
    </td>
    <td> 
        {% if not add  %} 
            {% if val != None %}
                {% if val = False %}
                    <span class='glyphicon glyphicon-remove'></span> 
                {% elif val = True  %}
                    <span class='glyphicon glyphicon-ok'></span> 
                {% else %}
                    {% get_field model field %} 
                {% endif %}
            {% else %}
                -
            {% endif %} 
        {% endif %} 
        {% if val %} 
            {{ add }} 
        {% endif %}
    </td>
</tr>
