{% load modelview_extras %}
<tr>
    <td class="sheetlabel"> 
        {% assign_field_attr model field 'help_text' as vname %} 
        {% assign_field model field as val %} 
        {% get_field_attr model field 'verbose_name'%} 
        {% if vname %}
            <a href='javascript://' data-toggle='popover' data-trigger="focus" title="" data-content="{{ vname }}">
                <span class='glyphicon glyphicon-question-sign'></span>
            </a>
        {% endif %}
    </td>
    <td> 
        {% if not add %} 
            {% if val != None %}
                {% if val == False %}
                    <span class='glyphicon glyphicon-remove'></span> 
                {% elif val == True  %}
                    <span class='glyphicon glyphicon-ok'></span> 
                {% elif 'http://' in val or 'www.' in val or 'https://' in val %}
                    <a href="{% get_field model field %} ">{% get_field model field %}</a>
                {% else %}
                    {% get_field model field %} 
                {% endif %}
            {% else %}
                -
            {% endif %} 
        {% endif %} 
        {% if val and add%} 
            {{ add }} 
        {% endif %}
    </td>
</tr>
