{% extends "modelview/base.html" %}
{% load bootstrap5 %}
{% load static %}
{% load modelview_extras %}
{% load dataedit.taghandler %}
{% block after-head %}
<link rel="stylesheet" href="{% static 'css/mv-style.css' %}">
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css">


<style>
</style>
{% endblock %}


{% block site-header %}
  <h2 class="site-header">{{ label }} Factsheets</h2>
{% endblock site-header %}

{% block main-right-sidebar-content %}
  <hr>
  <h3>Actions</h3>
    <a role="button" class="btn btn-success" href="add">
      <span class="fas fa-plus"></span> Add {{ label }}
    </a>
    <a id="dlcsv" role="button"  class="btn btn-info" href="download">
      <span class="fas fa-download"></span> Download CSV
    </a>
  <hr>

  <h3>Tags</h3>
  <div style="display: flex; flex-flow: wrap">
      {% for t in tags %}
          <label class="tag-checkbox-container {% if t.id in tags %} tag-checkbox-checked {% endif %}" style="background:{{ t.color }};color:{% readable_text_color t.color %}">
              <input {% if t.id in tags %} checked="checked" {% endif %} type="checkbox" class="tag-checkbox" name="tags" id="select_{{ t.id }}" value="{{ t.id }}" onchange="apply_tag_filter(event.target)">
              <span>{{ t.name }}</span>
              <span class="tag-checkbox-icon fas fa-check"></span>
          </label>
      {% endfor %}
  </div>
  <hr>

  <h3>Fields</h3>
  <div class="checkbox-container">
  {% for heading,d in fields.items %}
      <div class="checkbox-item">
          <a class="fill-div" data-toggle="collapse" href="#{{heading.split|join:'_'}}">{{heading}}</a>

          <div id="{{heading.split|join:'_'}}" class="collapse">
              {% for key,value in d.items %}
                  <div style="display: flex;flex-flow: nowrap;align-items: center">
                      <input type="checkbox" onchange="apply_filter(event.target)" id="{{key}}" {% if key.split|join:'_' in default %} checked="checked" {%endif %}>
                      <label style="margin: 0" for="{{key}}">{{key}}</label>
                  </div>
              {% endfor %}
          </div>
      </div>
  {% endfor %}
  </div>
  <hr>

{% endblock main-right-sidebar-content %}

{% block factsheets_content %}

{% if label == 'Model' or label == 'Framework' %}
    <div style="width:100%; overflow-y: auto; padding-bottom: 1em">
        <table id="overview" class="display" style="width:100%;">
        </table>
    </div>

{% elif label == 'Scenario' %}

    <div class="list-group">
        {% for id, name in models %}
            <a class="list-group-item" href="{{id}}">{{ name }}</a>
        {% endfor %}
    </div>

{% endif %}




{% endblock %}

{% block after-body-bottom-js %}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>

    <script>
    var dt;

    var full_data = [
        {% for model in models %}
            {
                {% for d in fields.values %}
                    model_name: '<a href="{{model.id}}">{{model.model_name}}</a>',
                    tags: [ {% for tag in model.tags %} {id:'{{tag.id}}', name:'{{tag.name}}', color:'{{tag.color}}',  textcolor:'{% readable_text_color tag.color %}'}, {%endfor%} ],

                    {% for group in d.values %}
                        {% for field in group %}
                            {{ field }}: {{model|get_model_value:field}},
                        {% endfor %}
                    {% endfor %}

                {% endfor %}
            },
        {% endfor %}
    ]

    var render_tag = function (data, type, row){
        var s = '';
        for(var i in data){
            if(i <= 4) {
                var tag = data[i];
                s += '<a href="" class="btn tag" style="background:' + tag.color + '; color:' + tag.textcolor + '; display:inline-block;">' + tag.name + '</a>'
            }
        }
        return s;
    }

    var all_columns = [
        {data: 'model_name', name: 'Name', title: 'Name', visible: true},
        {% for d in fields.values %}
            {% for l, group in d.items %}
                    {% for field in group %}
                        {data: '{{ field }}', name: '{{ field }}', title: '{{ field|white_out:'_' }}', visible: {% if field in default %} true {% else %} false {%endif %}},
                    {% endfor %}
            {% endfor %}
        {% endfor %}
        {data: 'tags', name: 'tags', title: 'tags', visible: true, render:render_tag },
    ];

    var fields = {
        {% for d in fields.values %}
            {% for l, group in d.items %}
                '{{ l }}' : [
                    {% for field in group %}
                        '{{ field }}',
                    {% endfor %}
                ],
            {% endfor %}
        {% endfor %}
    };

    var active_tags = [];

    var apply_filter = function (sender){
        for (var i in fields[sender.id]) {
            var property = fields[sender.id][i]
            var column = dt.column(property+':name')
            column.visible( sender.checked );
        }


    }




    var apply_tag_filter = function (sender){
        if(sender.checked && active_tags.indexOf(sender.id) <0){
            active_tags.push(sender.id);
        } else {
            var id = active_tags.indexOf(sender.id);
            if(id>=0){
                active_tags.splice(id, 1);
            }
        }
        set_csv_link();
        dt.draw();
    }

    var set_csv_link = function (){
        var href='download?';
        href += 'tags=';
        href += active_tags.join([separator = ',']);
        document.getElementById("dlcsv").setAttribute("href", href);
    }

    $(document).ready( function () {
        dt = $('#overview').DataTable( {data: full_data, columns: all_columns});
        var tags_col = dt.column('tags:name').index();
        $.fn.dataTable.ext.search.push(
        function( settings, data, dataIndex ) {
            for (var required of active_tags) {
                var matches = false;
                var tags = dt.row(dataIndex).data().tags
                if(tags === undefined){
                    return false;
                }
                for (var tag of tags) {
                    if (required === 'select_'+tag.id) {
                        matches=true
                    }
                }
                if(!matches){
                    return false;
                }
            }
            return true;
        }
);

    } );


    </script>

{% endblock %}
