{% extends "base/base.html" %}
{% load modelview_extras %}
{% block main-content-body %}
{% load bootstrap4 %}
{% load static %}


<link rel="stylesheet" href="{% static 'css/form-style.css' %}">
<h1> Scenario </h1>
{% if method == "update"%}
    <form action="/factsheets/scenarios/{{ name }}/update/" method="post" role="form">
{% else %}
    <form action="/factsheets/scenarios/add/" method="post" role="form">
{% endif %}
{% csrf_token %}
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#Basic">Study</a></li>
  <li><a data-toggle="tab" href="#Empirical">Empirical Data</a></li>
  <li><a data-toggle="tab" href="#Assumtions">Assumptions</a></li>
  <li><a data-toggle="tab" href="#Results">Results</a></li>
  <span onclick="window.onbeforeunload = function (e) {};">
  <input class="btn btn-info right" type="submit" value="Submit all" />
  </span>


<input type="hidden" name="new" id="id_new" value="False">

</ul>
    {% if errors %}
        <ul class="list-group">
            {% for label, message in errors %}
                <li class="list-group-item list-group-item-danger"><b>{{ label }}</b>: {{ message }} </li>
            {% endfor %}
        </ul>
    {% endif %}
    {% bootstrap_form_errors form %}
<div class="tab-content">
    <div id="Basic" class="tab-pane fade show active">
	<br />
        <span id="new_study" style="display:none">
	<input class="btn btn-success"  type="button" value="Select existing study" onClick="javascript:existing_study()"/>
        <table class="formtable">
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.name_of_the_study %}
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.author_Institution %}
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.contact_email %}
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.client %}
            <tr>
                <th>
                    Funding
                </th>
                <td>
                    <table class="checktable">
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.funding_private %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.funding_public %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.funding_no_funding %}
                    </table>
                </td>
            </tr>
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.citation_reference %}
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.citation_doi %}
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.aim %}
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.new_aspects %}
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.spatial_Geographical_coverage %}
            <tr>
                <th>
                    Time frame
                </th>
                <td>
                    <table class="checktable">
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_frame_2020 %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_frame_2030 %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_frame_2050 %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_frame_other add=formstudy.time_frame_other_text %}
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Time frame
                </th>
                <td>
                    <table class="checktable">
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_frame_2_target_year %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_frame_2_transformation_path %}
                    </table>
                </td>
            </tr>
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.tools_models %}
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.tools_other %}
            <tr>
                <th>
                    Modeled energy sectors
                </th>
                <td>
                    <table class="checktable">
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.modeled_energy_sectors_electricity %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.modeled_energy_sectors_heat %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.modeled_energy_sectors_liquid_fuels %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.modeled_energy_sectors_gas %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.modeled_energy_sectors_others add=formstudy.modeled_energy_sectors_others_text %}
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Modeled demand sectors
                </th>
                <td>
                    <table class="checktable">
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.modeled_demand_sectors_households %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.modeled_demand_sectors_industry %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.modeled_demand_sectors_commercial_sector %}
                            {% include 'modelview/editmodel_snippet.html' with field=formstudy.modeled_demand_sectors_transport %}
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Economic (behavioural) rationale
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.economic_behavioral_perfect %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.economic_behavioral_myopic %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.economic_behavioral_qualitative %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.economic_behavioral_agentbased %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.economic_behavioral_other add=formstudy.economic_behavioral_other_text %}
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Technologies included
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.renewables_PV %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.renewables_wind %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.renewables_hydro %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.renewables_biomass %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.renewables_biogas %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.renewables_solar %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.renewables_others add=formstudy.renewables_others_text %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.conventional_generation_gas %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.conventional_generation_coal %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.conventional_generation_oil %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.conventional_generation_liquid %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.conventional_generation_nuclear %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.CHP %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.networks_electricity_gas_electricity %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.networks_electricity_gas_gas %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.networks_electricity_gas_heat %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.storages_battery %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.storages_kinetic %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.storages_CAES %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.storages_PHS %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.storages_chemical %}
                    </table>
                </td>
            </tr>



            {% include 'modelview/editmodel_snippet.html' with field=formstudy.economic_focuses_included %}
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.social_focuses_included %}
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.endogenous_variables %}
            {% include 'modelview/editmodel_snippet.html' with field=formstudy.sensitivities %}
            <tr>
                <th>
                    Time steps
                </th>
                <td>
                    <table class="checktable">
                         {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_steps_anual %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_steps_hour %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_steps_15_min %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_steps_1_min %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_steps_sec %}
                        {% include 'modelview/editmodel_snippet.html' with field=formstudy.time_steps_other add=formstudy.time_steps_other_text%}
                    </table>
                </td>
            </tr>

        </table>
        </span>



        <span id="existing_study" style="display=inline">
        <table class="formtable">
	  <input class="btn btn-success" type="button" value="Create new study" onClick="javascript:new_study()"/>
	  {% include 'modelview/editmodel_snippet.html' with field=form.study %}
        </table>
        </span>
    </div>
    <div id="Empirical" class="tab-pane fade">
        <table class="formtable">
            <tr>
                <th>
                    Exogenous time series used
                </th>
                <td>
                    <table class="checktable">
                       {% include 'modelview/editmodel_snippet.html' with field=form.exogenous_time_series_used_climate %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.exogenous_time_series_used_feedin %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.exogenous_time_series_used_loadcurves %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.exogenous_time_series_used_others add=form.exogenous_time_series_used_others_text %}

                    </table>
                </td>
            </tr>
            {% include 'modelview/editmodel_snippet.html' with field=form.technical_data %}
            {% include 'modelview/editmodel_snippet.html' with field=form.social_data %}
            {% include 'modelview/editmodel_snippet.html' with field=form.economical_data %}
            {% include 'modelview/editmodel_snippet.html' with field=form.ecological_data %}
            {% include 'modelview/editmodel_snippet.html' with field=form.preProcessing %}
            {% include 'modelview/editmodel_snippet.html' with field=form.name_of_scenario %}
        </table>
    </div>
    <div id="Assumtions" class="tab-pane fade">
        <table class="formtable">
            {% include 'modelview/editscenario_snippet_year.html' with name='energy_savings' amount=form.energy_saving_amount kind=form.energy_saving_kind year=form.energy_saving_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='emission_reductions' amount=form.emission_reductions_amount kind=form.emission_reductions_kind year=form.emission_reductions_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='potential_energy_savings' amount=form.potential_energy_savings_amount kind=form.potential_energy_savings_kind year=form.potential_energy_savings_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='share_RE_heat' amount=form.share_RE_heat_amount kind=form.share_RE_heat_kind year=form.share_RE_heat_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='share_RE_power' amount=form.share_RE_power_amount kind=form.share_RE_power_kind year=form.share_RE_power_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='share_RE_mobility' amount=form.share_RE_mobility_amount kind=form.share_RE_mobility_kind year=form.share_RE_mobility_year %}
            {% include 'modelview/editscenario_snippet_year.html' with name='share_RE_total' amount=form.share_RE_total_amount kind=form.share_RE_total_kind year=form.share_RE_total_year %}

            <tr>
                <th>
                    Cost development
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.cost_development_capex %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.cost_development_opex %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.cost_development_learning_curves %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.cost_development_constant %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.cost_development_rediscount %}

                    </table>
                </td>
            </tr>
            {% include 'modelview/editmodel_snippet.html' with field=form.technological_innovations %}

            <tr>
                <th>
                    Potential wind
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_wind_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_wind_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_wind_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_wind_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_wind_other add=form.potential_wind_other_text%}

                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Potential solar electric
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_electric_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_electric_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_electric_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_electric_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_electric_other add=form.potential_solar_electric_other_text %}

                    </table>
                </td>
            </tr>

            <tr>
                <th>
                    Potential solar thermal
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_thermal_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_thermal_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_thermal_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_thermal_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_solar_thermal_other add=form.potential_solar_thermal_other_text%}
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Potential biomass
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_biomass_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_biomass_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_biomass_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_biomass_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_biomass_other add=form.potential_biomass_other_text%}
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Potential geothermal
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_geothermal_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_geothermal_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_geothermal_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_geothermal_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_geothermal_other add=form.potential_geothermal_othertext %}
                    </table>
                </td>
            </tr>
            <tr>
                <th>
                    Potential hydro power
                </th>
                <td>
                    <table class="checktable">
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_hydro_power_whole %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_hydro_power_technical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_hydro_power_economical %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_hydro_power_ecological %}
                        {% include 'modelview/editmodel_snippet.html' with field=form.potential_hydro_power_other add=form.potential_hydro_power_other_text%}
                    </table>
                </td>
            </tr>

            {% include 'modelview/editmodel_snippet.html' with field=form.social_developement %}
            {% include 'modelview/editmodel_snippet.html' with field=form.economic_development %}
            {% include 'modelview/editmodel_snippet.html' with field=form.development_of_environmental_aspects %}
            {% include 'modelview/editmodel_snippet.html' with field=form.postprocessing %}
            {% include 'modelview/editmodel_snippet.html' with field=form.further_assumptions_for_postprocessing add=form.further_assumptions_for_postprocessing_text%}
        </table>
    </div>
    <div id="Results" class="tab-pane fade">
        <table class="formtable">
            {% include 'modelview/editmodel_snippet.html' with field=form.uncertainty_assessment %}
            {% include 'modelview/editmodel_snippet.html' with field=form.robustness %}
            {% include 'modelview/editmodel_snippet.html' with field=form.comparability_Validation %}
            {% include 'modelview/editmodel_snippet.html' with field=form.conclusions %}
        </table>
    </div>
</div>
</form>
{% endblock %}


{% block after-body-bottom-js %}

<script type="text/javascript">

    $(document).ready(function(){
        $('[data-toggle="tooltip"]').tooltip();
    });

    function existing_or_new_study(){
        var divInfoExisting = document.getElementById('existing_study');
        var divInfoNew = document.getElementById('new_study');
        var HiddenNew = document.getElementById('id_new');

        if (HiddenNew.value == 'True'){
            divInfoExisting.style.display = 'none';
            divInfoNew.style.display = 'inline';
        } else {
            divInfoExisting.style.display = 'inline';
            divInfoNew.style.display = 'none';
        }
    }

    function existing_study(){
        var divInfoExisting = document.getElementById('existing_study');
        var divInfoNew = document.getElementById('new_study');
        var HiddenNew = document.getElementById('id_new');

        HiddenNew.value = 'False';
        divInfoExisting.style.display = 'inline';
        divInfoNew.style.display = 'none';
    }

    function new_study(){
        var divInfoExisting = document.getElementById('existing_study');
        var divInfoNew = document.getElementById('new_study');
        var HiddenNew = document.getElementById('id_new');

        HiddenNew.value = 'True';
        divInfoExisting.style.display = 'none';
        divInfoNew.style.display = 'inline';
    }


    function Hide_Display(name){
        var x = document.getElementById('id_'+name).value;
        var divInfo1 = document.getElementById('hide1'+name);
        var divInfo2 = document.getElementById('hide2'+name);
        var divInfo3 = document.getElementById('hide3'+name);


        if ( x == 'not estimated'){
            divInfo1.style.display = 'none';
            divInfo2.style.display = 'none';
            divInfo3.style.display = 'inline';
        } else {
            divInfo1.style.display = 'inline';
            divInfo2.style.display = 'inline';
            divInfo3.style.display = 'none';
        }
    }

    var confirmOnLeave = function(msg) {

      window.onbeforeunload = function (e) {
        e = e || window.event;
        msg = msg || '';

        // For IE and Firefox
        if (e) {e.returnValue = msg;}

        // For Chrome and Safari
        return msg;
    };

};

confirmOnLeave();
existing_or_new_study();




</script>

{% endblock %}
