{% extends "modelview/base.html" %}

{% block factsheets_content %}
{% load staticfiles %}
{% load bootstrap3 %}

<h3> Overview </h3>

<div>
The Factsheets are a standardized<sup><a href="#fn1" id="ref1">[1]</a></sup> collection and presentation of information about modelling frameworks, models and scenarios used in climate and energy system modelling.

It is presented in a format which emphasises key points concisely.

The use of interactive fields and pre-defined responses is designed to make it easy to insert new Factsheets and filter for existing entries.
<br/>
<br/>

The Factsheets are separated in three categories: Framework-, Model-, and Scenario-Factsheets:

A Framework is mostly a kind of toolbox where you can build a model of. Examples are TIMES, oemof, OSeMOSYS, Balmorel.

The Model is then adapted for a certain region, a set of technologies or other regarded aspects.

With the model you can simulate several Scenarios of the region (e.g. CO<sub>2</sub> neutral energy supply, phase out coal, zero acceptance of wind power).

<center>
    {% include 'modelview/FactSheets_schema.svg' %}
</center>

    The Fact Sheets are made to reach three main objectives: <br/> <br/>
    <ul type="1">
        <li> Find models/frameworks for your needs or just get an overview about
             the existing ones</li>
        <li> Compare a selection of models for different purposes - e.g. to
             develop a strategy to link them</li>
        <li> Store your model/framework information to provide transparency.</li>
    </ul>

    <br/>
    <br/>


    When publishing a study, there is a full set of linked Factsheets (and datasets)
    to improve transparency and to avoid repeated and long explications of the used
    tools as well as senseless printing of assumptions which the users need in
    exportable formats. The model on which the study is based can be described
    in a model Fact Sheet. This will link to a framework Fact Sheet (if based on
    one) and it will be linked from the scenario Fact Sheets that describe the
    various scenarios of the study. Usually different scenarios with modified
    input data and assumptions are calculated and compared. As input data is
    one of the most important information of the scenario, the scenario
    factsheet will include links to the datasets in a publicly available
    database (the concept of the OpenEnergy Database is to provide a place to
    store and publish this data).<br/>
<br/>



    The current Factsheets are a result of bringing together existing
    characterizations and improving it in two workshops and in an online
    discussion. This discussion is reopened with the growing interest to use the
    factsheets. The release of Dec. 2017 will include functions to filter the
    Fact Sheets and to compare them regarding specified characteristics. In 2018
    we will broaden the view of energy system models and provide the possibility
    to specify health, social and other aspects.
<br/>
<br/>

<sup id="fn1">[1] The standardization process is still going on.</sup>
<br/>
<br/>
</div>

{% endblock %}