{% extends "modelview/base.html" %}

{% block factsheets_content %}
{% load static %}
{% load django_bootstrap5 %}

<h2>Factsheets Overview</h2>
<p>The Open Energy Platform hosts a series of factsheets – currently we offer
    <a href="https://openenergy-platform.org/factsheets/models/">Model
        Factsheets</a>,
    <a href="https://openenergy-platform.org/factsheets/frameworks/">Framework
        Factsheets</a> and
    <a href="https://openenergy-platform.org/factsheets/scenarios/">Scenario
        Factsheets</a> that help to
    learn more about the context of the data you can find in the database.

    The Factsheets are a standardized collection and presentation of
    information about modelling software used in climate
    and energy system modelling. The use of interactive fields and pre-defined
    responses is designed to make it easy to insert data and filter
    for existing entries.
    For example, you may want to know more about the background of some of the
    data you found than the metadata attached directly to it can provide. Then
    factsheets are a helpful place to visit.
</p>
<p>
    Specifically, our current Scenario Factsheets provide some dedicated
    information about specific scenarios for which projection data is available
    on the OEP. Please note, however, that their format was
    developed some time ago and they will undergo substantial updates.
    In the future, these scenario factsheets will also be succeeded by <a
        href="https://openenergy-platform.org/factsheets/rdf/study/">Study
    Factsheets (alpha)</a> that will hold more functionality.
    These improved factsheets will be based on RDF and the <a
        href="https://github.com/OpenEnergyPlatform/oekg">Open Energy Knowledge
    Graph (OEKG)</a> which is currently under heavy development. Please note that this is just a preview
    and not a fully functional feature yet.
</p>

<p>These study factsheets will inform about scenario contexts
    and enable you to explore scenario bundles. Scenario bundles tie together
    various information about a scenario available on the OEP. This
    includes information on the scenario projection data available, the
    frameworks and models applied, and the study context. Study factsheets
    will make these relations visible and usable.
    And not only that: the study factsheets will be based on the concepts
    available in the Open Energy Ontology (OEO).
</p>
<p>Anyone is invited to contribute to development as this is a
    community-driven process. Most of the development takes place on GitHub. We
    have
    some
    <a href="https://github.com/OpenEnergyPlatform/oeplatform/blob/develop/CONTRIBUTING.md">helpful
        guidelines</a> on the workflow providing detailed
    information. <a
            href="https://github.com/OpenEnergyPlatform/ontology/wiki/Welcome!-How-to-participate">Welcome!
        We invite you to participate</a>.
</p>

{% endblock %}
