{% extends "modelview/detail_view.html" %}

{% load static %}
{% load modelview_extras %}

{% block main-right-sidebar-content-actions %}

{% endblock main-right-sidebar-content-actions %}

{% block factsheets_content %}

<h1>{% if obj.label %}{{ obj.label }}{% else %}{{ obj.iri.values.0 }}{% endif %}</h1>

<form id="study-form" onsubmit="">
    {% include 'modelview/form_element_factory.html' %}
</form>

<div class="modal fade" id="instanceModal" tabindex="-1" role="dialog" aria-labelledby="instanceModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="instanceModalLabel">Choose an existing instance</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <ul id="instanceList" class="list-group">
                    </ul>
                </form>
            </div>
            <div class="modal-footer">
                <button id="submit-modal-btn" type="button" class="btn btn-primary">Add</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>



{% endblock factsheets_content %}

{% block factsheets-after-body-bottom-js %}

<script>

    let instances = {{ obj.instance_dict | safe }};
    let templates = {{ obj.build_template_structure | safe }};
    let structure = {{ obj.structure_spec | safe }};

    $('#instanceModal').on('show.bs.modal', function (event) {
        let button = $(event.relatedTarget);
        let classident = button.data('classid');
        let path = button.data('path');


        let ul = document.getElementById("instanceList");
        ul.innerHTML = '';
        let insts = instances[classident];
        for (let v of insts) {
            let li = document.createElement("li");
            li.className = "list-group-item my-auto";
            let div = document.createElement("p");
            div.className = "form-group ml-2";
            let input = document.createElement("input");
            input.value=v.iri;
            input.setAttribute("aria-label", "...");
            input.type="checkbox";
            input.className="form-check-input";
            input.setAttribute("data-label", v.label);
            div.appendChild(input);
            div.append(v.label);
            li.appendChild(div);
            ul.appendChild(li);
        }
        let submit = $("#submit-modal-btn");

        submit.click(function(event){
            let parent = document.getElementById("container_"+path);
            ul.querySelectorAll("input").forEach(function(a){
                if(a.checked){
                    let childTr = document.createElement("tr");
                    let childLi = document.createElement("td");
                    let child = document.createElement("input");
                    child.className = "form-control";
                    child.type = "hidden";
                    child.disabled = true;
                    child.value = a.value;
                    child.id = path + "." + getNextIndex(path) + ".iri.0";
                    let display = document.createElement("div");
                    display.innerText = a.getAttribute("data-label");
                    childLi.appendChild(child);
                    childLi.appendChild(display);
                    childTr.appendChild(childLi);
                    parent.firstChild.appendChild(childTr);
                }
            });
        })

    });

    function group_by_first(xs) {
        if (xs.length === 1 && xs[0].path.length === 0){
            return xs[0].value;
        }
        let children = {};
        for(let x of xs){
            let path = x.path.shift();
            let ident;
            if (x.path.length === 0) {
                ident = 0;
            } else {
                ident = x.path.shift();
            }
            children[path] = (children[path] || []);
            children[path][ident] = (children[path][ident] || []);
            children[path][ident].push(x);
        }
        for(let key of Object.keys(children)){
            children[key] = children[key].map(group_by_first);
        }
        return children;

    }

    function get_dict(elements){
        return group_by_first(elements);
    }

    function path_to_structure(path, d){
        idx = path.shift();
        for (el of d){
            if(el["id"] === idx){
                return el
            }
        }

    }

    function getNextIndex(path){
        return 1 + [... document.querySelectorAll(`input[id^=${path.replaceAll(".", "\\.")}]`)].reduce(function(s_max, s){return Math.max(s.id.split(".")[1], s_max);},0);
    }

    var createLeaf = function (path) {
        // Extract largest id
        let parent = document.getElementById("container_"+path);
        let value = getNextIndex(path);
        // Remove all numbers from path
        let reduced_path = path.split(".").reduce(function(carry, x){
            if(carry[1]){
                carry[0].push(x)
            }
            carry[1] = !carry[1];
            return carry
        }, [[],true])[0].join(".");
        let element = document.createElement('div');
        // Does JS not have a .format() method!?
        let tempHTML = templates[reduced_path].replaceAll("{prefix}", path+"."+value);
        element.className = "form-group";
        element.innerHTML = tempHTML;
        if(parent.firstChild === null){
            parent.appendChild(document.createElement("tbody"))
        }
        let tr = document.createElement("tr");
        let td = document.createElement("td");
        td.appendChild(element);
        tr.appendChild(td);
        parent.firstChild.appendChild(tr);
        return element;
    };

    // check if structure is truthy
    if(structure) {
        let submitButton = document.createElement('div');
        submitButton.className = 'btn btn-primary';
        submitButton.innerHTML = 'Submit';
        submitButton.onclick = async function() {
            // insert code here
            id_list = [];
            structure.forEach(each => {
                id_list.push(each.id);
            });
            return_dictionary = {};
            let value_dict = {};
            for (var k = 0; k < id_list.length ; k++) {
                let id = id_list[k];
                let input_elements = document.querySelectorAll(`input[id^=${id}]`);
                Object.assign(value_dict, get_dict(Array.prototype.map.call(input_elements, function(ie){
                    let el = document.getElementById(ie.id);
                    return {path:el.id.split("."),  value:el.value}
                })));
            }
            var url = "edit";
            var form = $('<form action="' + url + '" method="post">' +
                '<input type="hidden" name="data" value=\'' + JSON.stringify(value_dict) + '\'/>' + '{% csrf_token %}' +
                '</form>');
            $('body').append(form);
            form.submit();
            //return_dictionary = value_dict;
        };
        let studyForm = document.getElementById('study-form');
        studyForm.appendChild(submitButton);
    }
    else {
        let studyForm = document.getElementById('study-form');

        let masterDiv = document.createElement('div');
        masterDiv.className = 'rounded form-group alert alert-danger alert-dismissible fade show';
        masterDiv.innerHTML = 'Error!'.bold() + ' Data received was found to be invalid';

        let closeButton = document.createElement('html');
        closeButton.innerHTML = '<button type="button" class="close" data-dismiss="alert">&times;</button>';

        masterDiv.appendChild(closeButton);
        studyForm.appendChild(masterDiv);
    }

</script>

{% endblock %}