{% extends "base/base.html" %}
{% load bootstrap3 %}
{% bootstrap_javascript_url %}
{% load staticfiles %}
{% load modelview_extras %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/mv-style.css' %}">
<div class="container">
    <div style="float: left;">
        <h1> {{ model.name_of_scenario }} </h1>
    </div>
    <div>
        <a class="btn btn-info" style="float:right; position: absolute;bottom: 5;right: 0;" href="edit"><span name="icon"></span>Edit</a>
    </div>
</div>
<!--
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a class="fill-div" data-toggle="collapse" href="#Study">Study</a>
          </h4>
        </div>
        <div id="Study" class="panel-collapse collapse profilebox">
            <table class="profiletable">
                <tr>
                    <td class="sheetlabel">
                        Study
                    </td>
                    <td>

                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
-->        
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#MathematicalProperties">Empirical Data</a>
          </h4>
        </div>
        <div id="MathematicalProperties" class="panel-collapse collapse profilebox">
            <table class="profiletable">
                <tr>
                    <td class="sheetlabel">
                        Exogenous time series used
                    </td>
                    <td>
                        {% checklist model "exogenous_time_series_used_climate,exogenous_time_series_used_feedin,exogenous_time_series_used_loadcurves,exogenous_time_series_used_others=exogenous_time_series_used_others_text" %}
                    </td>
                </tr>
                
                {% include 'modelview/model_snippet.html' with model=model field='technical_data' %}
                {% include 'modelview/model_snippet.html' with model=model field='social_data' %}
                {% include 'modelview/model_snippet.html' with model=model field='economical_data' %}
                {% include 'modelview/model_snippet.html' with model=model field='ecological_data' %}
                {% include 'modelview/model_snippet.html' with model=model field='preProcessing' %}
                {% include 'modelview/model_snippet.html' with model=model field='name_of_scenario' %}
                
            </table>
        </div>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#Coverage">Assumptions</a>
          </h4>
        </div>
        <div id="Coverage" class="panel-collapse collapse  profilebox">
            <table class="profiletable">
                {% develop_year model 'energy_saving' %}
                {% develop_year model 'potential_energy_savings' %}
                {% develop_year model 'emission_reductions' %}
                {% develop_year model 'share_RE_heat' %}
                {% develop_year model 'share_RE_mobility' %}
                {% develop_year model 'share_RE_power' %}
                {% develop_year model 'share_RE_total' %}                
                <tr>
                    <td class="sheetlabel">
                        Cost development
                    </td>
                    <td>
                        <table>
                            {% checklist model "cost_development_capex,cost_development_opex,cost_development_learning_curves,cost_development_constant,cost_development_rediscount" %}

                        </table>
                    </td>
                </tr>
                {% include 'modelview/model_snippet.html' with model=model field='technological_innovations' %}
                <tr>
                    <td class="sheetlabel">
                        Potential wind
                    </td>
                    <td>
                        {% checklist model "potential_wind_whole,potential_wind_technical,potential_wind_economical,potential_wind_ecological,potential_wind_other,potential_wind_other_text" %}
                    </td>
                </tr>
                
                
                <tr>
                    <td class="sheetlabel">
                        Potential solar electric
                    </td>
                    <td>
                        {% checklist model "potential_solar_electric_whole,potential_solar_electric_technical,potential_solar_electric_economical,potential_solar_electric_ecological,potential_solar_electric_other=potential_solar_electric_other_text" %}
                    </td>
                </tr>
                <tr>
                    <td class="sheetlabel">
                        Potential solar thermal
                    </td>
                    <td>
                        {% checklist model "potential_solar_thermal_whole,potential_solar_thermal_technical,potential_solar_thermal_economical,potential_solar_thermal_ecological,potential_solar_thermal_other=potential_solar_thermal_other_text" %}
                    </td>
                </tr>
                
                <tr>
                    <td class="sheetlabel">
                        Potential biomass
                    </td>
                    <td>
                        {% checklist model "potential_biomass_whole,potential_biomass_technical,potential_biomass_economical,potential_biomass_ecological,potential_biomass_other=potential_biomass_other_text" %}
                    </td>
                </tr>
                
                <tr>
                    <td class="sheetlabel">
                        Potential geothermal
                    </td>
                    <td>
                        {% checklist model "potential_geothermal_whole,potential_geothermal_technical,potential_geothermal_economical,potential_geothermal_ecological,potential_geothermal_other,potential_geothermal_othertext" %}
                    </td>
                </tr>
                
                <tr>
                    <td class="sheetlabel">
                        Potential hydro power
                    </td>
                    <td>
                        {% checklist model "potential_hydro_power_whole,potential_hydro_power_technical,potential_hydro_power_economical,potential_hydro_power_ecological,potential_hydro_power_other,potential_hydro_power_other_text" %}
                    </td>
                </tr>
                
                {% include 'modelview/model_snippet.html' with model=model field='social_developement' %}
                {% include 'modelview/model_snippet.html' with model=model field='economic_development' %}
                {% include 'modelview/model_snippet.html' with model=model field='development_of_environmental_aspects' %}
                {% include 'modelview/model_snippet.html' with model=model field='postprocessing' %}
                {% include 'modelview/model_snippet.html' with model=model field='further_assumptions_for_postprocessing' %}
            </table>
        </div>
    </div>
</div>
<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#Results">Results</a>
          </h4>
        </div>
        <div id="Results" class="panel-collapse collapse profilebox">
            <table class="profiletable">
                {% include 'modelview/model_snippet.html' with model=model field='uncertainty_assessment' %}
                {% include 'modelview/model_snippet.html' with model=model field='robustness' %}
                {% include 'modelview/model_snippet.html' with model=model field='comparability_Validation' %}
                {% include 'modelview/model_snippet.html' with model=model field='conclusions' %}
            </table>
        </div>
    </div>
</div>

{% endblock %}
