{% extends "modelview/detail_view.html" %}
{% load bootstrap4 %}
{% load static %}
{% load modelview_extras %}

{% block main-right-sidebar-content-actions %}

{% endblock main-right-sidebar-content-actions %}

{% block factsheets_content %}

<h1>{% if study.label %}{{ obj.title }}{% else %}{{ obj.iri }}{% endif %}</h1>

<form id="study-form">
</form>

<script>
    structure = {{ obj.structure_spec | safe }};
    var clickCache = []; // stores button clicks

    var createLeaf = function (each, addButton, flag, outer_id) {
        let value = 0;
        clickCache.forEach((button) => {
            if(button.key == addButton) value = button.value;
        })
        let tempHTML = document.createElement('input');
        tempHTML.innerHTML = each.template;
        tempHTML.id = flag? outer_id + '.' + value + '.' + each.id : each.id + '.' + value; 
        tempHTML.className = 'form-control'

        let smallElement = document.createElement('small');
        smallElement.className = 'form-text text-muted';
        smallElement.innerHTML = each.help_text;  //flag? outer_id + '.' + value + '.' + each.id : each.id + '.' + value; 

        let tempHeading = flag? document.createElement('h3'): document.createElement('h2');
        tempHeading.innerHTML = each.verbose_name;

        let element = document.createElement('div');
        element.className = flag? 'form-group rounded border bg-light p-2 m-1': 'form-group rounded border bg-light p-2'; 
        if(tempHTML.id.includes('0')) { element.appendChild(tempHeading); }
        element.appendChild(tempHTML);
        element.appendChild(smallElement);
        
        return element; 
    }
    
    {% comment %} var createSubstructure = function (each, addButton) {
        let subElement = document.createElement('div');
        subElement.className = 'form-group border p-3 border rounded bg-light';
        
        // gets the button value
        let value = 0;
        clickCache.forEach((button) => {
            if(button.key == addButton) value = button.value;
        });

        each.substructure.forEach((innereach, i) => {
            let tempHTML = document.createElement('input');
            tempHTML.innerHTML = innereach.template;
            tempHTML.id = each.id  + '.' + value + '.' + innereach.id;
            tempHTML.className = 'form-control'

            let smallElement = document.createElement('small');
            smallElement.className = 'form-text text-muted';
            smallElement.innerHTML = each.id  + '.' + value + '.' + innereach.id; // innereach.help_text;

            let tempHeading = document.createElement('h3');
            tempHeading.innerHTML = innereach.verbose_name;

            let element = document.createElement('div');
            element.className = 'form-group'; 
            element.appendChild(tempHeading);
            element.appendChild(tempHTML);
            element.appendChild(smallElement);
            
            subElement.appendChild(element);
        });
        return subElement;
    } {% endcomment %}

    // check if structure is truthy
    if(structure) {
        let studyForm = document.getElementById('study-form');
        structure.forEach((each) => {
            if(each.substructure) {
                let masterDiv = document.createElement('div');
                masterDiv.className = 'form-group border p-3 bg-light rounded'; 

                let tempHeading = document.createElement('h2');
                tempHeading.className = 'form-group';
                tempHeading.innerHTML = each.verbose_name;
                masterDiv.appendChild(tempHeading);

                each.substructure.forEach((innereach) => {
                    if(!innereach.id.includes('classes')) {
                        let element = createLeaf(innereach, null, true, each.id);
                        let addButton = document.createElement('div');
                        addButton.className = 'form-group btn btn-secondary p-2 m-1';
                        addButton.innerHTML = 'Add new';
                        addButton.onclick = async function() {
                        clickCache.forEach((button) => {
                            if(button.key == addButton) button.value += 1;
                            });
                            let newElem = createLeaf(innereach, addButton, true, each.id);
                            masterDiv.insertBefore(newElem, addButton);
                        };
                        clickCache.push({
                            'key' : addButton,
                            'value' : 0
                        });
                        
                        masterDiv.appendChild(element);          
                        masterDiv.appendChild(addButton);
                        studyForm.appendChild(masterDiv);
                    }
                });
            }
            else { // leaf
                let masterDiv = document.createElement('div');
                masterDiv.className = 'form-group'; 
                if(!each.id.includes('classes')) {
                    element = createLeaf(each);
                    let addButton = document.createElement('div');
                    addButton.className = 'btn btn-secondary';
                    addButton.innerHTML = 'Add new';
                    addButton.onclick = async function() {
                    clickCache.forEach((button) => {
                        if(button.key == addButton) button.value += 1;
                        });
                        let newElem = createLeaf(each, addButton);
                        masterDiv.insertBefore(newElem, addButton);
                    };
                    clickCache.push({
                        'key' : addButton,
                        'value' : 0
                    });
                    
                    masterDiv.appendChild(element);          
                    masterDiv.appendChild(addButton);
                    studyForm.appendChild(masterDiv);
                }  
            } 
        });

        let submitButton = document.createElement('div');
        submitButton.className = 'btn btn-primary';
        submitButton.innerHTML = 'Submit';
        submitButton.onclick = async function() { 
            // insert code here
            id_list = [];
            structure.forEach(each => {
                if(!each.id.includes('classes')) id_list.push(each.id);
            });
            return_dictionary = {}; 
            let value_dict = {};
            let data_list = [];
            let counter = 0;
            for (var k = 0; k < id_list.length ; k++) {
                let id = id_list[k];
                let temp_varDict = {};
                let data_list = [];
                let input_elements = document.querySelectorAll(`input[id^=${id}]`);
                for(var i = 0; i < input_elements.length ; i++) {
                    id_string = input_elements[i];
                    let element_id = document.getElementById(id_string.id).id;
                    list_elements = element_id.split('.');
                    let element = document.getElementById(id_string.id).value;
                    if(list_elements.length == 2){
                        key = list_elements[0]
                    }
                    else {
                        key = list_elements[2]
                    }
                    if(key in temp_varDict) {
                        temp_varDict = {}
                        temp_varDict[key] = element;
                    }
                    else {
                        temp_varDict[key] = element;
                    }
                    data_list.push(temp_varDict);
                }
                var set1 = new Set(data_list);
                let array = Array.from(set1);
                value_dict[id] = array;
            }
            return_dictionary = value_dict;
        };
        
        studyForm.appendChild(submitButton);
    }
    else {
        let studyForm = document.getElementById('study-form');
        
        let masterDiv = document.createElement('div');
        masterDiv.className = 'rounded form-group alert alert-danger alert-dismissible fade show';
        masterDiv.innerHTML = 'Error!'.bold() + ' Data received was found to be invalid';

        let closeButton = document.createElement('html');
        closeButton.innerHTML = '<button type="button" class="close" data-dismiss="alert">&times;</button>';
        
        masterDiv.appendChild(closeButton);
        studyForm.appendChild(masterDiv);
    }

</script>

{% endblock factsheets_content %}