{% extends "modelview/detail_view.html" %}
{% load bootstrap4 %}
{% load static %}
{% load modelview_extras %}

{% block main-right-sidebar-content-actions %}

{% endblock main-right-sidebar-content-actions %}

{% block factsheets_content %}

<h1>{% if study.label %}{{ obj.title }}{% else %}{{ obj.iri }}{% endif %}</h1>

<form id="study-form" onsubmit="">
    {% include 'modelview/form_element_factory.html' %}
</form>

<script>

    function group_by_first(xs) {
        if (xs.length === 1 && xs[0].path.length === 0){
            return xs[0].value;
        }
        let children = {};
        for(let x of xs){
            let path = x.path.shift();
            let ident;
            if (x.path.length === 0) {
                ident = 0;
            } else {
                ident = x.path.shift();
            }
            children[path] = (children[path] || []);
            children[path][ident] = (children[path][ident] || []);
            children[path][ident].push(x);
        }
        for(let key of Object.keys(children)){
            children[key] = children[key].map(group_by_first);
        }
        return children;

    }

    function get_dict(elements){
        return group_by_first(elements);
    }

    function path_to_structure(path, d){
        idx = path.shift();
        for (el of d){
            if(el["id"] === idx){
                return el
            }
        }

    }

    let templates = {{ obj.build_template_structure | safe }};

    let structure = {{ obj.structure_spec | safe }};

    var createLeaf = function (path) {
        // Extract largest id
        let parent = document.getElementById("container_"+path);
        let value = 1 + [... document.querySelectorAll(`input[id^=${path.replaceAll(".", "\\.")}]`)].reduce(function(s_max, s){return Math.max(s.id.split(".")[1], s_max);},0);
        // Remove all numbers from path
        let reduced_path = path.split(".").reduce(function(carry, x){
            if(carry[1]){
                carry[0].push(x)
            }
            carry[1] = !carry[1];
            return carry
        }, [[],true])[0].join(".");
        let element = document.createElement('div');
        // Does JS not have a .format() method!?
        let tempHTML = templates[reduced_path].replaceAll("{prefix}", path+"."+value);
        element.className = "form-group";
        element.innerHTML = tempHTML;
        parent.appendChild(element);
        return element; 
    };

    // check if structure is truthy
    if(structure) {
        /*
        structure.forEach((each) => {
            if(each.substructure) {
                let masterDiv = document.createElement('div');
                masterDiv.className = 'form-group border p-3 bg-light rounded'; 

                let tempHeading = document.createElement('h2');
                tempHeading.className = 'form-group';
                tempHeading.innerHTML = each.verbose_name;
                masterDiv.appendChild(tempHeading);

                each.substructure.forEach((innereach) => {
                    if(!innereach.id.includes('classes')) {
                        let element = document.createElement('div');// createLeaf(innereach, null, true, each.id);
                        let addButton = document.createElement('div');
                        addButton.className = 'form-group btn btn-secondary p-2 m-1';
                        addButton.innerHTML = 'Add new';
                        addButton.onclick = async function() {
                        clickCache.forEach((button) => {
                            if(button.key == addButton) button.value += 1;
                            });
                            let newElem = createLeaf(innereach, addButton, true, each.id);
                            masterDiv.insertBefore(newElem, addButton);
                        };
                        clickCache.push({
                            'key' : addButton,
                            'value' : 0
                        });
                        
                        masterDiv.appendChild(element);          
                        masterDiv.appendChild(addButton);
                        studyForm.appendChild(masterDiv);
                    }
                });
            }
            else { // leaf
                let masterDiv = document.createElement('div');
                masterDiv.className = 'form-group'; 
                if(!each.id.includes('classes')) {
                    element = createLeaf(each);
                    let addButton = document.createElement('div');
                    addButton.className = 'btn btn-secondary';
                    addButton.innerHTML = 'Add new';
                    addButton.onclick = async function() {
                    clickCache.forEach((button) => {
                        if(button.key == addButton) button.value += 1;
                        });
                        let newElem = createLeaf(each, addButton);
                        masterDiv.insertBefore(newElem, addButton);
                    };
                    clickCache.push({
                        'key' : addButton,
                        'value' : 0
                    });
                    
                    masterDiv.appendChild(element);          
                    masterDiv.appendChild(addButton);
                    studyForm.appendChild(masterDiv);
                }  
            } 
        });*/

        let submitButton = document.createElement('div');
        submitButton.className = 'btn btn-primary';
        submitButton.innerHTML = 'Submit';
        submitButton.onclick = async function() { 
            // insert code here
            id_list = [];
            structure.forEach(each => {
                if(!each.id.includes('classes')) id_list.push(each.id);
            });
            return_dictionary = {}; 
            let value_dict = {};
            for (var k = 0; k < id_list.length ; k++) {
                let id = id_list[k];
                let input_elements = document.querySelectorAll(`input[id^=${id}]`);
                Object.assign(value_dict, get_dict(Array.prototype.map.call(input_elements, function(ie){
                    let el = document.getElementById(ie.id);
                    return {path:el.id.split("."),  value:el.value}
                })));
            }
            var url = "edit";
            var form = $('<form action="' + url + '" method="post">' +
              '<input type="text" name="data" value=\'' + JSON.stringify(value_dict) + '\'/>' + '{% csrf_token %}' +
              '</form>');
            $('body').append(form);
            form.submit();
            //return_dictionary = value_dict;
        };
        let studyForm = document.getElementById('study-form');
        studyForm.appendChild(submitButton);
    }
    else {
        let studyForm = document.getElementById('study-form');
        
        let masterDiv = document.createElement('div');
        masterDiv.className = 'rounded form-group alert alert-danger alert-dismissible fade show';
        masterDiv.innerHTML = 'Error!'.bold() + ' Data received was found to be invalid';

        let closeButton = document.createElement('html');
        closeButton.innerHTML = '<button type="button" class="close" data-dismiss="alert">&times;</button>';
        
        masterDiv.appendChild(closeButton);
        studyForm.appendChild(masterDiv);
    }

</script>

{% endblock factsheets_content %}