{% extends "base/base.html" %}
{% load bootstrap3 %}
{% bootstrap_javascript_url %}
{% load staticfiles %}
{% load modelview_extras %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/mv-style.css' %}">
<div class="container">
    <div style="float: left;">
        <h1> {{ model.name_of_the_study }} </h1>
    </div>
    <div>
        <a class="btn btn-info" style="float:right; position: absolute;bottom: 5;right: 0;" href="edit"><span name="icon"></span>Edit</a>
    </div>
</div>
<div id="BasicInformation" class="panel-collapse collapse in profilebox in">
                    
                    <table class="profiletable">
                        {% include 'modelview/model_snippet.html' with model=model field='name_of_the_study' %}
                        {% include 'modelview/model_snippet.html' with model=model field='author_Institution' %}
                        {% include 'modelview/model_snippet.html' with model=model field='client' %}
                        <tr>
                            <td class="sheetlabel">
                                Source of funding
                            </td>
                            <td>
                                <table>
				  {% checklist model "funding_private,funding_public,funding_no_funding" %}

                                </table>
                            </td>
                        </tr>
                        
                        {% include 'modelview/model_snippet.html' with model=model field='citation_reference' %}
                        {% include 'modelview/model_snippet.html' with model=model field='citation_doi' %}
                        {% include 'modelview/model_snippet.html' with model=model field='aim' %}
                        {% include 'modelview/model_snippet.html' with model=model field='new_aspects' %}
                        {% include 'modelview/model_snippet.html' with model=model field='spatial_Geographical_coverage' %}
                        <tr>
                            <td class="sheetlabel">
                                Time frame
                            </td>
                            <td>
                                {% checklist model "time_frame_2020,time_frame_2030,time_frame_2050,time_frame_other=time_frame_other_text" %}

                            </td>
                        </tr>
                        {% include 'modelview/model_snippet.html' with model=model field='time_frame_2_target_year' %}
                        {% include 'modelview/model_snippet.html' with model=model field='time_frame_2_transformation_path' %}
                        <tr>
                            <td class="sheetlabel">
                                Modeled energy sectors
                            </td>
                            <td>
				{% checklist model "modeled_energy_sectors_electricity,modeled_energy_sectors_heat,modeled_energy_sectors_liquid_fuels,modeled_energy_sectors_gas,modeled_energy_sectors_others=modeled_energy_sectors_others_text" %}

                            </td>
                        </tr>
                        <tr>
                            <td class="sheetlabel">
                                Modeled demand sectors
                            </td>
                            <td>
                                {% checklist model "modeled_demand_sectors_households,modeled_demand_sectors_industry,modeled_demand_sectors_commercial_sector,modeled_demand_sectors_transport" %}

                            </td>
                        </tr>

                        <tr>
                            <td class="sheetlabel">
                                Economic (behavioural) rationale
                            </td>
                            <td>
                                {% checklist model "economic_behavioral_perfect,economic_behavioral_myopic,economic_behavioral_qualitative,economic_behavioral_agentbased,economic_behavioral_other=economic_behavioral_other_text" %}

                            </td>
                        </tr>
                        
                        <tr>
                            <td class="sheetlabel">
                                Technologies included
                            </td>
                            <td>
				{% checklist model "renewables_PV,renewables_wind,renewables_hydro,renewables_biomass,renewables_biogas,renewables_solar,renewables_others=renewables_others_text,conventional_generation_gas,conventional_generation_coal,conventional_generation_oil,conventional_generation_liquid,conventional_generation_nuclear,CHP,networks_electricity_gas_electricity,networks_electricity_gas_gas,networks_electricity_gas_heat,storages_battery,storages_kinetic,storages_CAES,storages_PHS,storages_chemical" %}

                            </td>
                        </tr>                        
                       
                        {% include 'modelview/model_snippet.html' with model=model field='economic_focuses_included' %}
                        {% include 'modelview/model_snippet.html' with model=model field='social_focuses_included' %}
                        {% include 'modelview/model_snippet.html' with model=model field='endogenous_variables' %}
                        {% include 'modelview/model_snippet.html' with model=model field='sensitivities' %}
                        <tr>
                            <td class="sheetlabel">
                                Technologies included
                            </td>
                            <td>
                                <table>
				     {% checklist model "time_steps_anual,time_steps_hour,time_steps_15_min,time_steps_1_min,time_steps_sec,time_steps_other=time_steps_other_text" %}

                                </table>
                            </td>
                        </tr>
                    </table>
                </div>
    </div>
</div>

{% endblock %}
