@use '../../variables' as *;

@forward '../../bootstrap/scss/bootstrap.scss' with(
    $gray-100: $gray-100,
    $gray-200: $gray-200,
    $gray-300: $gray-300,
    $gray-400: $gray-400,
    $gray-500: $gray-500,
    $gray-600: $gray-600,
    $gray-700: $gray-700,
    $gray-800: $gray-800,
    $gray-900: $gray-900,
    $blue-100: $blue-100,
    $blue-200: $blue-200,
    $blue-300: $blue-300,
    $blue-400: $blue-400,
    $blue-500: $blue-500,
    $blue-600: $blue-600,
    $blue-700: $blue-700,
    $blue-800: $blue-800,
    $blue-900: $blue-900,
    $blue: $blue,
    $green-100: $green-100,
    $green-200: $green-200,
    $green-300: $green-300,
    $green-400: $green-400,
    $green-500: $green-500,
    $green-600: $green-600,
    $green-700: $green-700,
    $green-800: $green-800,
    $green-900: $green-900,
    $green: $green,
    $yellow-100: $yellow-100,
    $yellow-200: $yellow-200,
    $yellow-300: $yellow-300,
    $yellow-400: $yellow-400,
    $yellow-500: $yellow-500,
    $yellow-600: $yellow-600,
    $yellow-700: $yellow-700,
    $yellow-800: $yellow-800,
    $yellow-900: $yellow-900,
    $yellow: $yellow,
    $red-100: $red-100,
    $red-200: $red-200,
    $red-300: $red-300,
    $red-400: $red-400,
    $red-500: $red-500,
    $red-600: $red-600,
    $red-700: $red-700,
    $red-800: $red-800,
    $red-900: $red-900,
    $red: $red,
    $purple-100: $purple-100,
    $purple-200: $purple-200,
    $purple-300: $purple-300,
    $purple-400: $purple-400,
    $purple-500: $purple-500,
    $purple-600: $purple-600,
    $purple-700: $purple-700,
    $purple-800: $purple-800,
    $purple-900: $purple-900,
    $purple: $purple,
    $cyan-100: $cyan-100,
    $cyan-200: $cyan-200,
    $cyan-300: $cyan-300,
    $cyan-400: $cyan-400,
    $cyan-500: $cyan-500,
    $cyan-600: $cyan-600,
    $cyan-700: $cyan-700,
    $cyan-800: $cyan-800,
    $cyan-900: $cyan-900,
    $cyan: $cyan,
    $black: $black,
    $secondary: $secondary,
    $body-color: $body-color,
    $font-size-base: $font-size-base,
    $h1-font-size: $h1-font-size,
    $h2-font-size: $h2-font-size,
    $h3-font-size: $h3-font-size,
    $h4-font-size: $h4-font-size,
    $h5-font-size: $h5-font-size,
    $h6-font-size: $h6-font-size,
    $font-sizes: $font-sizes,
    $card-border-radius: $card-border-radius,
    $input-border-radius: $input-border-radius,
    $input-border-radius-lg: $input-border-radius-lg,
    $dropdown-inner-border-radius: $dropdown-inner-border-radius,
    $modal-content-border-radius: $modal-content-border-radius,
    $breadcrumb-border-radius: $breadcrumb-border-radius,
    $list-group-border-radius: $list-group-border-radius,
    $card-inner-border-radius: $card-inner-border-radius,
    $thumbnail-border-radius: $thumbnail-border-radius,
    $nav-pills-border-radius: $nav-pills-border-radius,
    $progress-border-radius: $progress-border-radius,
    $dropdown-border-radius: $dropdown-border-radius,
    $nav-tabs-border-radius: $nav-tabs-border-radius,
    $popover-border-radius: $popover-border-radius,
    $tooltip-border-radius: $tooltip-border-radius,
    $alert-border-radius: $alert-border-radius,
    $badge-border-radius: $badge-border-radius,
    $toast-border-radius: $toast-border-radius,
    $input-btn-padding-y: $input-btn-padding-y,
    $input-btn-font-size: $input-btn-font-size,
    $input-btn-padding-y-sm: $input-btn-padding-y-sm,
    $input-btn-padding-y-lg: $input-btn-padding-y-lg,
    $input-btn-padding-x-lg: $input-btn-padding-x-lg,
    $input-btn-font-size-lg: $input-btn-font-size-lg,
    $input-border-radius-sm: $input-border-radius-sm,
    $btn-font-weight: $btn-font-weight,
    $border-radius: $border-radius,
    $border-radius-lg: $border-radius,
    $border-radius-sm: $border-radius-sm,
    $card-border-color: $card-border-color,
    $card-cap-padding-y: $card-cap-padding-y
);

@forward 'custom_variables';