@use '../../variables' as *;

@forward '../../bootstrap/scss/bootstrap.scss' with(
    $gray-100: $gray-100,
    $black: $black,
    $primary: $primary,
    $secondary: $secondary,
    $body-color: $body-color,
    $font-size-base: $font-size-base,
    $h1-font-size: $h1-font-size,
    $h2-font-size: $h2-font-size,
    $h3-font-size: $h3-font-size,
    $h4-font-size: $h4-font-size,
    $h5-font-size: $h5-font-size,
    $h6-font-size: $h6-font-size,
    $font-sizes: $font-sizes,
    $card-border-radius: $card-border-radius,
    $input-border-radius: $input-border-radius,
    $input-border-radius-lg: $input-border-radius-lg,
    $dropdown-inner-border-radius: $dropdown-inner-border-radius,
    $modal-content-border-radius: $modal-content-border-radius,
    $breadcrumb-border-radius: $breadcrumb-border-radius,
    $list-group-border-radius: $list-group-border-radius,
    $card-inner-border-radius: $card-inner-border-radius,
    $thumbnail-border-radius: $thumbnail-border-radius,
    $nav-pills-border-radius: $nav-pills-border-radius,
    $progress-border-radius: $progress-border-radius,
    $dropdown-border-radius: $dropdown-border-radius,
    $nav-tabs-border-radius: $nav-tabs-border-radius,
    $popover-border-radius: $popover-border-radius,
    $tooltip-border-radius: $tooltip-border-radius,
    $alert-border-radius: $alert-border-radius,
    $badge-border-radius: $badge-border-radius,
    $toast-border-radius: $toast-border-radius,
    $input-btn-padding-y: $input-btn-padding-y,
    $input-btn-font-size: $input-btn-font-size,
    $input-btn-padding-y-sm: $input-btn-padding-y-sm,
    $input-btn-padding-y-lg: $input-btn-padding-y-lg,
    $input-btn-padding-x-lg: $input-btn-padding-x-lg,
    $input-btn-font-size-lg: $input-btn-font-size-lg,
    $input-border-radius-sm: $input-border-radius-sm,
    $btn-font-weight: $btn-font-weight,
    $border-radius: $border-radius,
    $border-radius-lg: $border-radius,
    $border-radius-sm: $border-radius-sm,
    $card-border-color: $card-border-color,
    $card-cap-padding-y: $card-cap-padding-y
);

@forward 'custom_variables';