@use '../base/' as *;
@use '../base/mixins' as *;

.controls-container {
    &--horizontal {
        @extend .pb-4;
        @include flex-row;

        @include media-breakpoint-down(lg) {
            @include flex-column;
        }
    }

    &__filters {
        padding-right: $C--padding-standard;
        flex: 1;

        form {
            @include flex-row;
            @extend .align-items-end;
        }
    }

    &__input {
        @extend .pe-1;
        flex: 1;
    }

    &__tags {
        flex: 1;
    }

    &__reset {
        @include flex-row;
        @extend .ms-1;
    }

    &__views {
        @include flex-row;
        @extend .justify-content-end;
        @extend .align-items-end;
        width: calc((#{$C--container-width} - (#{$C--padding-standard} * 2)) / 3);

        @include media-breakpoint-down(lg) {
            @include flex-column;
            width: 100%;
            padding-top: 0.5rem;
        }
    }
}