@use '../base/' as *;

@mixin table-container {
    @extend .border;
    @extend .rounded;
    overflow-x: auto;
}

@mixin table-variant--rounded {
    table {
        @extend .table;
        @extend .table-responsive;
        @extend .mb-0;
    }

    table tr th,
    table tr td {
        @extend .px-3;
    }

    table tr:last-of-type th,
    table tr:last-of-type td {
        @extend .border-0;
    }

    table tr th {
        @extend .bg-light;
    }

    table tr:first-child th:first-child {
        border-top-left-radius: 5px;
    }

    table tr:last-child th:first-child {
        border-bottom-left-radius: 5px;
    }

    @content;
}

table {
    border-radius: 4px!important;
}

.review-summary {
    @extend .border;
    @extend .rounded;

    thead {
        @extend .bg-light;

        th {
            @extend .py-3;
            white-space: nowrap;
        }
    }

    th,
    td {
        @extend .px-3;
    }

    .status {
        @extend .position-relative;
        @extend .ps-4;
        @extend .fw-normal;
    }

    .missing {
        @extend .fw-bold;

        &:before {
            content: "";
            @extend .position-absolute;
            @extend .rounded-circle;
            @extend .bg-warning;
            width: 8px;
            height: 8px;
            left: 0.5rem;
            top: 1rem;
        }
    }
}
