@use '../base/' as *;
@use '../base/mixins' as *;

.table-tabs {
    @extend .fs-7;
    @include flex-row;
    padding-top: $C--padding-standard;
    padding-bottom: $C--padding-standard;
    
    @include media-breakpoint-up(md) {
        justify-content: center;
    }

    &__container {
        @include flex-row;
        width: 100%;
        margin: 0 $C--padding-standard;

        @include media-breakpoint-up(md) {
            max-width: $C--container-width;
            padding-right: calc(#{$C--db-side-width} + #{$C--padding-standard});
        }
    }

    .nav-tabs {
        width: 100%;

        .nav-item {
            @extend .fw-semibold;
            @extend .border-bottom;
        }

        .nav-link {
            @extend .position-relative;
            color: $gray-600;
            border: none;
            border-bottom: 4px solid $white;
        }

        .nav-link.active {
            color: $secondary;
            border-bottom-color: $secondary;
        }

        .nav-link svg {
            @extend .me-1;
            fill: $primary;
        }

        .nav-link.active svg {
            fill: $black;
        }

        .nav-link.status::after {
            content: "";
            @extend .position-absolute;
            @extend .rounded-circle;
            @extend .bg-danger;
            top: 10px;
            right: 6px;
            width: 6px;
            height: 6px;
        }

        .nav-link.status.status--done::after {
            @extend .bg-success;
        }
    }
}

.fullwidth-tabs {
    @extend .table-tabs;
    @extend .px-4;
    width: 100%;

    &__container {
        @include flex-row;
        @extend .justify-content-between;
        @extend .border-bottom;
        width: 100%;

        @include media-breakpoint-up(md) {
            padding-right: 0!important;
        }

        @include media-breakpoint-up(xxl) {
            width: $C--container-width;
        }
    }

    .nav {
        &.nav-tabs {
            @extend .border-0;
            @extend .w-auto;

            .nav-item {
                @extend .border-0;
            }
        }
    }

    &__save-btns {
        @extend .d-flex;
        @extend .flex-row;
        @extend .pb-3;
    }

    &__save-btn {
        @extend .ps-2;

        &--summary button {
            @extend .btn;
            @extend .btn-primary;
        }

        &--save button,
        &--save a {
            @extend .btn;
            @extend .btn-outline-primary;
        }

        &--quit button {
            @extend .btn;
            @extend .btn-light;

        }
    }
}

.pages-nav-tabs {
    @extend .pb-2;
    @extend .mb-4;
    @extend .border-bottom;

    a {
        @extend .pb-2;
        @extend .text-secondary;
        @extend .fw-bold;
        @extend .fs-6;
        @extend .text-decoration-none;
        @extend .px-4;

        &.active {
            @extend .border-bottom;
            @extend .border-secondary;
            @extend .border-4;
        }
    }

    svg {
        @extend .me-1;
        vertical-align: text-bottom;
    }
}