{% extends "base/base-wide-react.html" %}
{% load static %}
{% load compress %}

{% block after-head %}
{% compress css %}
<link rel="stylesheet" href="{% static 'factsheet/css/main.833238dd.css' %}">
{% endcompress %}
{% endblock after-head %}

{% block main-content-body %}
<div id="root" style="width:100%">
</div>

{% endblock main-content-body %}

{% block after-body-bottom-js %}
{% compress js %}
<script src="{% static 'factsheet/js/main.ff0c81b6.js' %}"></script>
{% endcompress %}
{% endblock after-body-bottom-js %}
