{% extends "base/base-wide-react.html" %}
{% load static %}

{% block after-head %}
<link rel="stylesheet" href="{% static 'factsheet/css/main.css' %}">
<meta http-equiv='cache-control' content='no-cache'>
<meta http-equiv='expires' content='0'>
<meta http-equiv='pragma' content='no-cache'>
{% endblock after-head %}

{% block main-content-body %}
  <div id="root" style="width:100%">
  </div>

{% endblock main-content-body %}

{% block after-body-bottom-js %}
<script src="{% static 'factsheet/js/main.js' %}"></script>
{% endblock after-body-bottom-js %}
