#wizard-form .modal-content {
    overflow: scroll;
    margin: 1vw;
    padding: 0;
    width: 97vw;
    font-size: 80%;
}

#wizard-form .modal-dialog {
    margin: 0;
    padding: 0;
}

#wizard-form td {
    max-width: 50px;
    overflow: hidden;
}

#wizard-form td,
#wizard-form th {
    border-right: 1px solid #dee2e6;
    border-left: 1px solid #dee2e6;
}

#wizard-progress {
    width: 100%;
    height: 5px;
}