{% extends "meta_creator/base.html" %}
{% load bootstrap4 %}
{% block main-content-body %}
{% load static %}

<form>
    {% csrf_token %}
    {% bootstrap_form form %}
    <a id="dlcsv" role="button"  class="btn btn-info" href="download">
        <span class="fas fa-download"></span> Download JSON
      </a>




<!--
<form action = "" method = "POST">
    {% csrf_token %}
    <label for="your_name">Your name: </label>
    <input id="your_name" type="text" name="your_name">
    <input type="submit" value="OK">
</form>
-->



{% endblock main-content-body %}
<!-- zuerst wird die Form geladen -->
<!-- danach jquery -->



{% block after-head %}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">

{% endblock %}

{% block after-body-bottom-js %}

    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script>
        var easyMDE = new EasyMDE({element: document.getElementById('id_markdown'), nativeSpellcheck: false});
    </script>

{{form.media}}


{% endblock %}