{% extends "base/base.html" %}

{% block main-content-body %}

<h2 id="open-energy-ontology">Open Energy Ontology</h2>
<p>The Open Energy Ontology (OEO) is created as a domain ontology within the
  field of energy system modelling. It is growing constantly and under a regular
  release cycle. The latest OEO version is {{ version }} and its files can be accessed <a href="https://openenergy-platform.org/ontology/oeo">here</a>.</p>
<h3 id="domain-ontology-what-is-that">Domain ontology: What is that?</h3>
<p>An ontology is a formal collection of terms and relationships between those
    terms, with clear definitions and a logical interpretation. An ontology
    can help to provide a clear understanding of a
    domain of discourse. For the Open Energy Platform, this domain of discourse is
    energy system modelling, and with the Open Energy Ontology (OEO) we aim to
    develop a language that works across disciplines. </p>
<h3 id="what-is-it-good-for">What is it good for?</h3>
<p>Ontologies can be used for multiple different purposes, which is why they
    are already used and developed in many scientific fields. Applications
    include:</p>
<ul>
    <li><strong>Standardising terminology in a domain:</strong> An ontology provides
        a controlled vocabulary, with clear definitions that
        indicate how terminology is to be used. A collection of synonyms is
        created to indicate the breadth of actual language usage in the domain.
        Thus, it becomes possible to identify, clarify and diambiguate ambiguous vocabulary.
    </li>
    <li><strong>Data annotation and integration:</strong> Applying an ontology
        to data annotation in databases allows flexible, content-oriented data
        integration and aggregation. It adds the possibility of enhanced
        searching functions and logical querying across datasets.
    </li>
    <li><strong>Templates for data capture:</strong> The ontology can provide a
        structure which is used to make reporting more uniform and detailed.
    </li>
    <li><strong>Visualisation:</strong> Knowledge encoded in the ontology can be
        visualized in various ways to make it more comprehensible.
    </li>
    <li><strong>Text and Data mining:</strong> The ontology can be used to
        automatically search across text and data resources to e.g. suggest
        associations (mentions) of ontology entities. Automatic assosiations of
        ontology entities to large corpora can be used to gain an overview of
        the literature or data across a domain. It can be used for discovery and
        for automated data or research synthesis and meta-analysis.
    </li>
</ul>
<h3 id="usage-beyond-the-open-energy-familiy-tools">Usage beyond the Open Energy
    Familiy tools</h3>
<p>The OEO is developed within the scope of the Open Energy Family.
    Nevertheless, it is developed as an ontology for the whole energy system
    modelling area. We explicitly want it to be used in other contextes and use
    cases as well.</p>
<h3 id="where-and-how-can-i-contribute">Where and how can I contribute?</h3>
<p>Anyone is invited to contribute to OEO development as this is a community-driven process.
OEO development takes place on <a href="https://github.com/OpenEnergyPlatform/ontology">GitHub</a>.
We have some <a href="https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md">helpful guidelines</a>
on the workflow and a <a href="https://github.com/OpenEnergyPlatform/ontology/wiki">wiki</a> providing detailed information.
<a href="https://github.com/OpenEnergyPlatform/ontology/wiki/Welcome!-How-to-participate">Welcome! We invite you to participate</a>.
If you have questions, please reach out via the OEP <a href="https://openenergy-platform.org/contact/">contact form</a>.
We can then facilitate someone who can follow up on your question.

<h5 id="where-and-how-can-i-contribute">Further information</h5>
<p>The OEO development was initiated in the project “SzenarienDB” and is
    augmented in the project “LOD_GEOSS”. The development is community based and
    <a href="https://github.com/OpenEnergyPlatform/ontology">takes place on GitHub</a>. </p>
<p>A  <a href={% url 'oeo-s-c'%}>OEO steering committee</a> was created in autumn 2019.</p>

<h3>Ontologies</h3>
<table class="table">
    <tr>
        <th>Name</th>
        <th>Description</th>
    </tr>
    <tr>
        <td><a href="/ontology/oeo">OEO</a></td>
    </tr>
</table>
{% endblock %}
