{% extends "base/base.html" %}

{% block main-content-body %}

<h2 id="open-energy-ontology">Open Energy Ontology</h2>
<p>Here, the Open Energy Ontology OEO is being created as a domain ontology
    within the field of energy system modelling. The first release of the OEO is
    planned for summer 2020.</p>
<h3 id="domain-ontology-what-is-that">Domain ontology: What is that?</h3>
<p>An ontology is a formal collection of terms and relationships between those
    terms. An ontology can thus help to provide a clear understanding of a
    domain of discourse. On the Open Energy Platform this domain of discourse is
    energy system modelling and with the Open Energy Ontology (OEO) we aim to
    develop a language that works across disciplines. An ontology consists
    mainly of classes (e.g., Fuel, PowerPlant, TimeSeries) and relationships
    (e.g., is_a, has_part, uses, …). The backbone of the ontology is the
    hierarchy of subclass relationships (e.g. “LiquidBiofuel is a Fuel”) that
    captures a taxonomy in which all classes are ordered from the general to the
    specific. Additional relations between classes are also captured to
    formalise additional aspects of knowledge from the domain. For example,
    “Biodiesel has_disposition LiquidBiofuel” and “PortionOfCoal has_origin
    fossil”. For each class and relationship, definitions are added, which
    capture their exact meaning and applicable scope.</p>
<h3 id="what-is-it-good-for">What is it good for?</h3>
<p>There are several purposes and use cases for ontologies, which is why they
    are already used and developed in many scientific fields. Applications
    are</p>
<ul>
    <li><strong>Standardising terminology in a domain:</strong> With an ontology
        a controlled vocabulary is provided, with clear definitions that
        indicate how terminology is to be used. It becomes possible to identify
        and diambiguate ambiguous vocabulary and a collection of synonyms is
        created to indicate the breadth of actual usage in the domain.
    </li>
    <li><strong>Data annotation and integration:</strong> Applying an ontology
        to data annotation in databases allows flexible, content-oriented data
        integration and aggregation. It adds the possibility of enhanced
        searching functions and logical querying across datasets.
    </li>
    <li><strong>Templates for data capture:</strong> The ontology can provide a
        structure which is used to make reporting more uniform and detailed.
    </li>
    <li><strong>Visualisation:</strong> Knowledge encoded in the ontology can be
        visualized in various ways to make it more comprehensible.
    </li>
    <li><strong>Text and Data mining:</strong> The ontology can be used to
        automatically search across text and data resources to e.g. suggest
        associations (mentions) of ontology entities. Automatic assosiations of
        ontology entities to large corpora can be used to gain an overview of
        the literature or data across a domain. It can be used for discovery and
        for automated data or research synthesis and meta-analysis.
    </li>
</ul>
<h3 id="usage-beyond-the-open-energy-familiy-tools">Usage beyond the Open Energy
    Familiy tools</h3>
<p>The OEO is developed within the scope of the Open Energy Family.
    Nevertheless, it is developed as an ontology for the whole energy system
    modelling area. We explicitly want it to be used in other contextes and use
    cases aswell.</p>
<h3 id="where-and-how-can-i-contribute">Where and how can I contribute?</h3>
<p>The OEO development was initiated in the project “SzenarienDB” and is
    augmented in the project “LOD_GEOSS”. The development is community based and
    takes place on GitHub: https://github.com/OpenEnergyPlatform/ontology</p>
<p>A OEO steering committee was created in autumn 2019.</p>

{% endblock %}