{% extends "base/base.html" %}
{% load static %}
{% load compress %}

{% block site-header %}
    <div class="main-header">
        <h1 class="main-header__title">
            <img src="/static/img/welcome/OpenEnergyFamily_Logo_OpenEnergyOntology_icon.svg" width="16" height="16" alt="OEO">
            Ontology
        </h1>
        <div class="main-header__wizard">
            Overview
        </div>
    </div>

{% endblock site-header %}

{% block main-right-sidebar-content %}


<div class="container">

    <div class="row">
        <div hx-get="{% url 'partial-page-sidebar-content' %}" hx-swap="outerHTML" hx-target="#content-sidebar" hx-trigger="load" id="content-sidebar">
    </div>
</div>   

</div>
<div id="loading-spinner-sidebar" class=" btn btn-primary disabled placeholder" role="status" style="display: none;">
    <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
      </p>
    <span class="visually-hidden">Loading...</span>
</div>

{% endblock main-right-sidebar-content %}


{% block main-content-body %}

<h3>Open Energy Ontology</h3>
<p>The Open Energy Ontology (OEO) is a dynamic domain ontology for energy system modeling, 
    updated regularly following a release cycle. Access the latest version {{version}} <a href="https://openenergyplatform.org/ontology/oeo/">here</a>.</p>

<h3 id="domain-ontology-what-is-that">Domain ontology: What is that?</h3>
<p>An ontology is a structured collection of terms and their relationships, providing clear definitions and logical interpretation. 
    The OEO aims to create a common language for energy system modeling, bridging various disciplines.</p>

<h3 id="what-is-it-good-for">What is it good for?</h3>
<p><strong>Ontologies have diverse applications:</strong></p>
<ul>
    <li><strong>Standardising Terminology:</strong> Provides a controlled vocabulary with clear definitions, disambiguating terms.</li>
    <li><strong>Data Annotation and Integration:</strong> Enhances data integration, aggregation, and search functions.</li>
    <li><strong>Templates for Data Capture:</strong> Ensures uniform and detailed reporting structures.</li>
    <li><strong>Visualisation:</strong> Makes complex knowledge comprehensible through various visual formats.</li>
    <li><strong>Text and Data Mining:</strong> Automates searches across resources, aiding discovery, data synthesis, and meta-analysis.</li>
</ul>

<h3 id="oeo-modules">Modules</h3>

<div hx-get="{% url 'partial-page-content' %}" hx-swap="outerHTML" hx-target="#content" hx-trigger="load" id="content">


</div>


<div id="loading-spinner" class="text-primary" role="status" style="display: none;" aria-hidden="true">
    <p class="card-text placeholder-glow">
        <span class="placeholder col-7"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-4"></span>
        <span class="placeholder col-6"></span>
        <span class="placeholder col-8"></span>
    </p>

    <div class="card" aria-hidden="true">
        <div class="card-body">
            <h5 class="card-title placeholder-glow">
            <span class="placeholder col-6"></span>
            </h5>
            <p class="card-text placeholder-glow">
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
            <span class="placeholder col-7"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-4"></span>
            <span class="placeholder col-6"></span>
            <span class="placeholder col-8"></span>
            </p>
        </div>
    </div>
</div>

<h3>OEO Extended (OEOX)</h3>
<p>To increase the usability of OEO and react to user requirements, we introduced a post-coordination extension to
    OEO, the Open Energy Ontology Extended (OEOX). We created OEOX as an ontology for specific energy-
    related terms with a high complexity that go beyond the level of detail of the standard OEO class hierarchy.
    For further information you can have a look at the <a href="https://github.com/OpenEnergyPlatform/oeo-extended">GitHub page</a>.</p>

<h3 id="usage-beyond-the-open-energy-family-tools">Usage beyond the Open Energy Family tools</h3>
<p>The OEO is developed within the scope of the Open Energy Family but aims to serve the entire energy system modeling community. 
    We encourage its use in various contexts and use cases beyond its initial scope.</p>

<h3 id="where-and-how-can-i-contribute">Where and how can I contribute?</h3>
<p>We welcome everyone to contribute to OEO development, a community-driven project hosted on 
    <a href="https://github.com/OpenEnergyPlatform/ontology">GitHub</a>. 
    Explore our <a href="https://openenergyplatform.github.io/academy/courses/05_ontology/">ontology course</a> and have a look at our
    <a href="https://github.com/OpenEnergyPlatform/ontology/blob/dev/CONTRIBUTING.md">contribution guidelines</a> 

    If you have questions, reach out via the OEP <a href="https://openenergyplatform.org/contact/">contact form</a>, 
    and we'll connect you with the right person.</p>

<h5 id="further-information">Further information</h5>
<p>OEO development began with the <a href="https://www.enargus.de/pub/bscw.cgi/?op=enargus.eps2&q=%2201180818/1%22">"SzenarienDB"</a> 
    project and is enhanced by <a href="https://www.enargus.de/pub/bscw.cgi/?op=enargus.eps2&q=%2201186899/1%22">"LOD_GEOSS"</a>, 
    <a href="https://www.enargus.de/pub/bscw.cgi/26?op=enargus.eps2&m=0&v=10&p=0&s=0&q=SEDOS">"SEDOS"</a>,
    <a href="https://www.enargus.de/pub/bscw.cgi/26?op=enargus.eps2&m=0&v=10&p=0&s=0&q=03EI1051C">"Stadt-Land-Energie"</a> and 
    <a href="https://www.enargus.de/pub/bscw.cgi/?op=enargus.eps2&q=%2201227101/1%22">"SIROP"</a>. 
    The OEO was introduced in an open-access peer-reviewed paper: <a href="https://doi.org/10.1016/j.egyai.2021.100074">Introducing the 
    Open Energy Ontology: Enhancing data interpretation and interfacing in energy systems analysis</a>.</p>

<p>The <a href="{% url 'oeo-s-c' %}">OEO steering committee</a> was established in autumn 2019.</p>

{% compress js %}
<script src="{% static 'ontology/htmx.js' %}"></script>
{% endcompress %}

<script>
    document.addEventListener('htmx:beforeRequest', function (event) {
        document.getElementById('loading-spinner').style.display = 'block';
        document.getElementById('loading-spinner-sidebar').style.display = 'block';
    });

    document.addEventListener('htmx:afterSwap', function (event) {
        document.getElementById('loading-spinner').style.display = 'none';
        document.getElementById('loading-spinner-sidebar').style.display = 'none';
    });

    // Optionally, you can use this event to handle errors
    document.addEventListener('htmx:afterRequest', function (event) {
        if (event.detail.xhr.status >= 400) {
            console.error('Request failed:', event.detail.xhr);
        }
    });
</script>


{% endblock %}

