{% extends "base/base.html" %}
{% load django_bootstrap5 %}
{% load ontology.rdf %}
{% load static %}

{% block site-header %}
  <div class="main-header">
    <h1 class="main-header__title">
      <img
        src="/static/img/welcome/OpenEnergyFamily_Logo_OpenEnergyOntology_icon.svg"
        width="16"
        height="16"
        alt="OEO"
      />
      Ontology
    </h1>
    <div class="main-header__wizard">
      <a href="/ontology/">Overview</a> /
      <a href="/ontology/oeo/BFO_0000001/">Open Energy Ontology</a> / Class -
      {{ class_name }}
    </div>
  </div>
{% endblock site-header %}

{% block main-right-sidebar-content %}

  {% if super_classes|length != 0 %}
    <h6>Back to the super classes:</h6>
    <div id="super_classes_accordion">
      {% for super_class in super_classes|dictsort:"name" %}
        <div class="card">
          <div class="card-header">
            <a
              class="card-link"
              data-bs-toggle="collapse"
              href="#super_classes_accordion{{ forloop.counter }}"
            >
              {{ super_class.name }}
            </a>
            <div
              class="btn-group float-end"
              role="group"
              aria-label="Basic example"
            >
              <a
                class="btn btn-primary"
                href="{% url 'ontology:oeo-classes' ontology=ontology module_or_id=super_class.ID %}"
              >
                view
              </a>
            </div>
          </div>
          <div
            id="super_classes_accordion{{ forloop.counter }}"
            class="collapse"
            data-bs-parent="#super_classes_accordion"
          >
            <div class="card-body">
              {% if super_class.definitions != '' %}
                {% for definition in super_class.definitions %}
                  <h6>Definition:</h6>
                  {{ definition }}
                  <br /><br />
                {% endfor %}
              {% endif %}

              {% if super_class.notes != '' %}
                {% for note in super_class.notes %}
                  <h6>Editor note:</h6>
                  {{ note }}
                  <br /><br />
                {% endfor %}
              {% endif %}

              {% if super_class.definitions == '' and super_class.notes == '' %}
                No description found.
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
    <hr />
  {% endif %}
{% endblock main-right-sidebar-content %}

{% block main-content-body %}
  <h5>Label: {{ class_name }}</h5>

  <hr />

  {% if class_definitions != '' %}
    {% for class_definition in class_definitions %}
      <h6>Definition:</h6>
      {{ class_definition }}
    {% endfor %}
    <br /><br />

    {% comment %}

    {% else %}
      <h6>Definition:</h6>
      No description found.
    {% endcomment %}
  {% endif %}

  {% if class_notes != '' %}
    {% for class_note in class_notes %}
      <div class="alert alert-primary" role="alert">
        <h6>Editor note:</h6>
        <p>{{ class_note }}</p>
      </div>
    {% endfor %}

    {% comment %}

    {% else %}
      <h6>Editor note:</h6>
      No editor note found.
    {% endcomment %}
  {% endif %}

  {% if sub_classes|length != 0 %}
    <h6>Sub classes:</h6>
    <div id="sub_classes_accordion">
      {% for sub_class in sub_classes|dictsort:"name" %}
        <div class="card">
          <div class="card-header">
            <a
              class="card-link"
              data-bs-toggle="collapse"
              href="#collapse{{ forloop.counter }}"
            >
              {{ sub_class.name }}
            </a>
            <div
              class="btn-group float-end"
              role="group"
              aria-label="Basic example"
            >
              <a
                class="btn btn-primary"
                href="{% url 'ontology:oeo-classes' ontology=ontology module_or_id=sub_class.ID %}"
              >
                view
              </a>
            </div>
          </div>
          <div
            id="collapse{{ forloop.counter }}"
            class="collapse"
            data-bs-parent="#sub_classes_accordion"
          >
            <div class="card-body">
              {% if sub_class.definitions != '' %}
                {% for definition in sub_class.definitions %}
                  <h6>Definition:</h6>
                  {{ definition }}
                  <br /><br />
                {% endfor %}
              {% endif %}

              {% if sub_class.notes != '' %}
                {% for note in sub_class.notes %}
                  <div class="alert alert-primary" role="alert">
                    <h6>Editor note:</h6>
                    {{ note }}
                  </div>
                  <br />
                {% endfor %}
              {% endif %}

              {% if sub_class.definitions == '' and sub_class.notes == '' %}
                No description found.
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  {% endif %}
{% endblock %}
