{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load ontology.rdf %}
{% block main-content-body %}
{% load static %}

<br><br>
<h4>Class Name: {{ class_name }}</h4> <h6>Class ID: {{ class_id }}</h6>

{% if sub_classes|length == 0 %}
  <br>
  <h3>Sub classes:</h3>
  <div id="accordion">
    <div class="card">
        <div class="card-header">
            <a class="card-link">
              <h6>This class has no subclass.</h6>
            </a>
        </div>
    </div>
  </div>
{% else %}
  <br>
  <h3>Sub classes:</h3>
  <div id="accordion">
      {% for sub_class in sub_classes %}
          <div class="card">
              <div class="card-header">
                  <a class="card-link" href="{{sub_class.sub_class_ID}}">
                      <h5>{{sub_class.sub_class_name}}</h5>
                      {{sub_class.sub_class_ID}}<br>
                      {{sub_class.sub_class_URI}}
                  </a>
              </div>
          </div>
      {% endfor %}
  </div>
{% endif %}
<br>
<h3>Super classes:</h3>
{% if super_classes|length == 0 %}
  <div id="accordion">
    <div class="card">
        <div class="card-header">
            <a class="card-link">
                <h6>This class has no superclass</h6><br>
            </a>
        </div>
    </div>
  </div>
{% else %}
  <div id="accordion">
      {% for super_class in super_classes %}
          <div class="card">
              <div class="card-header">
                  <a class="card-link" href="{{ super_class.super_class_ID }}">
                      <h5>{{super_class.super_class_name}}</h5>
                      {{super_class.super_class_ID}}<br>
                      {{super_class.super_class_URI}}
                  </a>
              </div>
          </div>
      {% endfor %}
  </div>
{% endif %}

{% endblock %}
