{% extends "base/base.html" %}
{% load bootstrap4 %}

{% block main-content-body %}
{% load static %}

<h2>Open Energy Ontology Steering Committee (OEO-SC)</h2> <br>

<h3 id="oeo-sc">What is the Steering Committee?</h3>
<p>In order to increase the awareness of the ontology,
    adoption in currently running and planned projects and to shepherd its development,
    a steering committee was summoned: The OEO Steering Committee (OSO-SC). </p>

<p>Regular, short conference calls, as well as personal meeting (e.g. at already planned events)
    are used to exchange information on planned or already done tasks.
    A continuous exchange between ontology developers and the OEO-SC takes place on GitHub.</p>

<h3 id="oeo-sc-members">Who is involved with the OEO-SC</h3>
<p>The Steering Committee is organized by the project team of the
    research project SzenarienDB and moderated by Ludwig Hülk (RLI).
    The members are:
</p>
<ul>
    <li>Dr. Aleksandar Rakić - <a href="https://www.ptj.de/energiesystemanalyse">Projektträger Jülich (PtJ) - Bereich EnergiesystemanalyseDipl.-Ing.</a></li>
    <li>Berit Müller - <a href="http://www.dgs-berlin.de/">Deutsche Gesellschaft für Sonnenenergie (DGS) - Landesverband Berlin Brandenburg</a></li>
    <li>Dr.-Ing. Hans-Christian Gils - <a href="https://www.dlr.de/tt/">Deutsches Zentrum für Luft- und Raumfahrt (DLR) - Institut für Technische Thermodynamik</a></li>
    <li>Dipl.-Inform. Hermann Bense - <a href="https://www.ontology4.us/">Verlagsgesellschaft für Digitales Publizieren</a></li>
    <li>Dr. Kathrin Goldammer - <a href="https://reiner-lemoine-institut.de/">Reiner Lemoine Institut (RLI)</a></li>
    <li>Dr.-Ing. Martin Robinius - <a href="https://www.fz-juelich.de/iek/iek-3/">Forschungszentrum Jülich (FZJ) - Institut für Technoökonomische Systemanalyse</a></li>
    <li>Michael Dembach - <a href="https://www.fkie.fraunhofer.de/">Fraunhofer-Institut für Kommunikation, Informationsverarbeitung und Ergonomie (FKIE)</a></li>
    <li>Robbie Morrison - <a href="https://openmod-initiative.org/">Open Energy Modelling Community (openmod)</a></li>
    <li>Dr.-Ing. Sebastian Hellmann - <a href="https://infai.org/">Universität Leipzig - Institut für Angewandte Informatik (InfAI)</a></li>
    <li>Dr. Tom Brown - <a href="https://www.iai.kit.edu/">Karlsruher Institut für Technologie (KIT) - Institut für Automation und angewandte Informatik</a></li>
</ul>

{% endblock main-content-body %}