{% extends "base/base.html" %}
{% load bootstrap4 %}

{% block main-content-body %}
{% load static %}

<h2>Open Energy Ontology Steering Committee (OEO-SC)</h2> <br>

<h3 id="oeo-sc">What is the Steering Committee?</h3>
<p>In order to increase the awareness of the ontology,
    adoption in currently running and planned projects and to shepherd its development,
    a steering committee was summoned: The OEO Steering Committee (OSO-SC). </p>

<p>Regular, short conference calls, as well as personal meeting (e.g. at already planned events)
    are used to exchange information on planned or already done tasks.
    A continuous exchange between ontology developers and the OEO-SC takes place on GitHub.</p>

<h3 id="oeo-sc-members">Who is involved with the OEO-SC</h3>
<p>The Steering Committee is organized by the project team of the
    research project SzenarienDB and moderated by Ludwig Hülk (RLI).
    The members are:</p>

{% endblock main-content-body %}