{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load ontology.rdf %}
{% block main-content-body %}
{% load static %}

<h2>{{ main_module.name }}<div class="btn-group float-right" role="group" aria-label="Basic example">
                    {% for ex in main_module.extensions %}
                        <a class="btn btn-secondary" href="/ontology/releases/{{ontology}}/{{main_module.name}}.{{ex}}">
                            {{ex}}
                        </a>
                    {% endfor %}
                </div> </h2> <br>
<span>
    {{ main_module.comment }}
</span>
<br><br>
<h3>Modules</h3><br>

<div id="accordion">
    {% for module, about in submodules %}
        <div class="card">
            <div class="card-header">
                <a class="card-link" data-toggle="collapse" href="#collapse{{ forloop.counter }}">
                    {{module}}
                </a>
                <div class="btn-group float-right" role="group" aria-label="Basic example">
                    {% for ex in about.extensions %}
                        <a class="btn btn-secondary" href="/ontology/releases/{{ontology}}/{{module}}.{{ex}}">
                            {{ex}}
                        </a>
                    {% endfor %}
                </div>
            </div>
            <div id="collapse{{ forloop.counter }}" class="collapse" data-parent="#accordion">
                <div class="card-body">
                    {{ about.comment }}
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}
