<div class="container">
    
        <div class="row">
            <h3>Ontologies</h3>
        </div>
        <div class="row">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th>Version</th>
                </tr>
                <tr>
                    <td><a href="/viewer/oeo/">Open Energy Ontology (OEO)</a></td>
                    <td>{{ version }}</td>
                </tr>
                <tr>
                    <td><a href="https://github.com/OpenEnergyPlatform/oeo-extended">Open Energy Ontology Extended  (OEOX)</a></td>
                    <td>1.0.0</td>
                </tr>
            </table>
        </div>
       

    
    {% comment %}
    <div class="row">
        <h3>View the oeo version {{version}}</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-group float-end" role="group" aria-label="Basic example">
                <a class="btn btn-primary" href="/ontology/{{ontology}}/BFO_0000001/">
                    Browse oeo classes
                </a>
            </div>
        </div>
        <div class="col">
            <a class="btn btn-primary" href="/viewer/oeo/">
                Graphical oeo viewer
            </a>
        </div>
    </div>
    <hr>
    {% endcomment %}
    <div class="row">
        <h3>Get the latest OEO release</h3>
    </div>
    <div class="row">
        <p>Get the <a class=" " href="{% url 'oeo-latest-glossary' ontology='oeo' %}">Glossary</a> 
            to get an overview of the OEO contents. </p>
    </div>
    
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" id="popoverTrigger" 
               href="{% url 'oeo-latest-full-zip' ontology='oeo' %}" 
               data-bs-toggle="popover"
               data-bs-trigger="hover"
               title="oeo release"
               data-bs-content="Download the latest release oeo-{{version}} as zip archive.">
               Download latest release {{version}}
            </a>
        </div>        
    </div>
    <br>
    <p>Download the latest oeo version {{version}} in OWL format: </p>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" id="popoverTrigger" 
               href="/ontology/{{ontology}}/releases/oeo-full.owl" 
               data-bs-toggle="popover"
               data-bs-trigger="hover"
               title="full-oeo-owl"
               data-bs-content="This file contains the complete version of the Open Energy Ontology (OEO) as an OWL file in XML/RDF format. It encompasses all classes, properties, and relationships defined within the OEO framework.">
                Download full-oeo
            </a>
            <!-- Info button to trigger the modal -->
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#oeoFullInfoModal">
                <i class="fas fa-info-circle"></i>
            </button>
        </div>        
    </div>
    <div class="row">
        <!-- Modal for oeo-full-info -->
        <div class="modal fade" id="oeoFullInfoModal" tabindex="-1" aria-labelledby="oeoFullInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="oeoFullInfoModalLabel">Full OEO Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="oeo-full-info">
                <p>The open energy platform currently only provides the latest version for download.
                    Please find previous versions on GitHub.</p>
                <p>You can download the full ontology using the following URLs:</p>
                <ul>
                    <li><a href="/ontology/oeo/" target="_blank">https://openenergyplatform.org/ontology/oeo/</a></li>
                    <li><a href="/ontology/oeo/releases/oeo-full.owl" target="_blank">https://openenergyplatform.org/ontology/oeo/releases/oeo-full.owl</a></li>
                </ul>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-primary" id="popoverTrigger" 
                   href="/ontology/{{ontology}}/releases/oeo-closure.owl" 
                   data-bs-toggle="popover"
                   data-bs-trigger="hover focus" 
                   title="closure"
                   data-bs-content="This file represents the Open Energy Ontology (OEO) with the logical closure of all axioms included. It is provided as an OWL file in XML/RDF format, ensuring that all inferred relationships and properties are fully realized.">
                    Download closure
                </a>
            </div>
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#closureInfoModal">
                <i class="fas fa-info-circle"></i>
            </button>
        </div>
        
    </div>
    <div class="row">
        <!-- Modal for closure-info -->
        <div class="modal fade" id="closureInfoModal" tabindex="-1" aria-labelledby="closureInfoModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="closureInfoModalLabel">Closure OEO Information</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" id="closure-info">
                    The open energy platform currently only provides the latest version for download.
                    Please find previous versions on GitHub.
                <p>You can download the closure file using the following URL:</p>
                <ul>
                    <li><a href="/ontology/oeo/releases/oeo-closure.owl" target="_blank">https://openenergyplatform.org/ontology/oeo/releases/oeo-closure.owl</a></li>
                </ul>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
            </div>
        </div>
    </div>
        
    <hr>
    <div class="row">
        <h3>The OEO on GitHub</h3>
    </div>
    <div class="row">
        <div class="col">
            On GitHub you can find previous releases.

            If you are interested in the latest developments then have a look at the develop branch.
        </div>
        

    </div>
    <br>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="https://github.com/OpenEnergyPlatform/ontology/releases" target="_blank">
                <i class="fas fa-external-link-alt"></i>
                Download release from GitHub.
            </a>
        </div>
    </div>
    <br>
    <div class="content-sidebar">
        <div id="loading-spinner" class="spinner-border text-primary" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
   
    <!-- <div class="row">
        <h1>Welcome to Your SPA</h1>
        <div id="updateable-content"> -->
            <!-- Content that will be updated -->
        <!-- </div>
        <button hx-get="{% url 'partial-page-content' %}" hx-swap="outerHTML" hx-target="#content" id="content">Update Content</button> -->
        <!-- Add other htmx-enabled elements as needed -->
    <!-- </div> -->

</div>
<script>
    var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
    var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
    return new bootstrap.Popover(popoverTriggerEl)
    })
</script>