<div class="">
    <!-- <div class="card-header"> -->
        {{ ontology_description }}
    <!-- </div> -->
</div>

<br>
<h3>Modules</h3><br>

<div id="accordion">
    {% for module, about in submodules %}
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-bs-toggle="collapse" href="#collapse{{ forloop.counter }}">
                {{module}}
            </a>

        </div>
        <div id="collapse{{ forloop.counter }}" class="collapse" data-bs-parent="#accordion">
            <div class="card-body">
                {{ about.comment }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>

<hr>
<h3>Imports</h3><br>

<div id="imports_accordion">
    {% for module, about in imports %}
    <div class="card">
        <div class="card-header">
            <a class="card-link" data-bs-toggle="collapse" href="#imports_collapse{{ forloop.counter }}">
                {{module}}
            </a>

        </div>
        <div id="imports_collapse{{ forloop.counter }}" class="collapse" data-bs-parent="#imports_accordion">
            <div class="card-body">
                {{ about.comment }}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
</div>
