<div class="container">
    <div class="row">
        <h3>View the oeo version {{version}}</h3>
    </div>
    <div class="row">
        <div class="col">
            <div class="btn-group float-end" role="group" aria-label="Basic example">
                <a class="btn btn-primary" href="/ontology/{{ontology}}/BFO_0000001/">
                    Browse oeo classes
                </a>
                <a class="btn btn-primary" href="/viewer/oeo/">
                    Graphical oeo viewer
                </a>
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <h3>Download the oeo</h3>
    </div>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="https://github.com/OpenEnergyPlatform/ontology/releases" target="_blank">
                <i class="fas fa-external-link-alt"></i>
                Download release from GitHub.
            </a>
        </div>
    </div>
    <br>
    <div class="content-sidebar">
        <div id="loading-spinner" class="spinner-border text-primary" role="status" style="display: none;">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <p>Download the full owl file for oeo version {{version}} and more ... </p>
    <div class="row">
        <div class="col">
            <a class="btn btn-primary" href="/ontology/{{ontology}}/releases/oeo-full.owl">
                full-oeo-owl
            </a>
            <div class="btn-group float-end" role="group" aria-label="Basic example">
                {% for ex in main_module.extensions %}
                <a class="btn btn-primary" href="/ontology/{{ontology}}/releases/{{main_module.name}}.{{ex}}">
                    {{ex}}
                </a>
                {% endfor %}
                <a class="btn btn-primary" href="/ontology/{{ontology}}/releases/oeo-closure.owl">
                    closure
                </a>
            </div>
        </div>
    </div>
    <!-- <div class="row">
        <h1>Welcome to Your SPA</h1>
        <div id="updateable-content"> -->
            <!-- Content that will be updated -->
        <!-- </div>
        <button hx-get="{% url 'partial-page-content' %}" hx-swap="outerHTML" hx-target="#content" id="content">Update Content</button> -->
        <!-- Add other htmx-enabled elements as needed -->
    <!-- </div> -->
    <hr>
</div>
