.panel-group {
    margin-bottom: 20px;
}

.container {
    position: relative;
    width:auto;
}

.mv-column-left{ float: left; width: 49.5%;overflow:auto;}

.mv-column-right{ float: right; width: 49.5%; overflow:auto;}

.mv-container{position: relative; display: inline;}

.rowlabel{font-weight:bold;width:40%;vertical-align:top;}

.profilebox{padding:15;overflow:auto;}

.profiletable{
    border-collapse: separate;
    border:1px;}

.profiletable td { 
        padding-bottom: 5px;
    }


/* Icon when the collapsible content is shown */
.panel-heading a:before {
    font-family: "Glyphicons Halflings";
    content: "\e114";
}

.panel-heading a{
    display: block;
    text-decoration: none;
}

.panel-heading in a{
     width: 0%;
     content: "\e080";
}

/* Icon when the collapsible content is hidden */
.panel-heading a.collapsed:before {
    content: "\e080";
}

.sheetlabel{
    font-weight: bold;
    padding-right: 2em;
    vertical-align:top;
    width:40%;
}



