.mv-column-left{ float: left; width: 49.5%;overflow:auto;}

.mv-column-right{ float: right; width: 49.5%; overflow:auto;}

.mv-container{position: relative; width: 100%;}

.rowlabel{font-weight:bold;width:30%;vertical-align:top;}

.profilebox{padding:15;overflow:auto;}

.profiletable{width:100%;}

.profiletable-label{width:30%}
.profiletable td { 
        padding-bottom: 5px;
    }
.profiletable-checktable{
    table-layout: fixed; 
    border-collapse: collapse;
    }

.profiletable-checktable td { 
        padding-right: 10px;
        padding-bottom: 2px;
    }

/* Icon when the collapsible content is shown */
.panel-heading a:before {
    font-family: "Glyphicons Halflings";
    content: "\e114";
}

.panel-heading a{
    display: block;
    width: 100%;
    text-decoration: none;
}

.panel-heading in a{
     width: 0%;
     content: "\e080";
}

/* Icon when the collapsible content is hidden */
.panel-heading a.collapsed:before {
    content: "\e080";
}
