{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}
{% block head_title %}
  {% trans "" %}
{% endblock head_title %}
{% block content %}
  <div class="login">
    <div class="login__wrap">
      <!-- Logo -->
      <div class="login__logo">
        <img src="{% static 'OEP_logo_2_no_text.svg' %}" alt="OEP Logo" />
      </div>
      <!-- Be sure to use h1 for the heading -->
      <h1 class="login__heading">{% trans "Change Password" %}</h1>
      <!-- Verification successful -->
      <div class="login__verification login__verification--successful">
        <svg width="64"
             height="64"
             viewBox="0 0 64 64"
             fill="none"
             xmlns="http://www.w3.org/2000/svg">
          <path d="M32 2C15.4571 2 2 15.4571 2 32C2 48.5429 15.4571 62 32 62C48.5429 62 62 48.5429 62 32C62 15.4571 48.5429 2 32 2ZM47.4149 23.4149L29.4149 41.4149C29.0249 41.8049 28.5124 41.9999 27.9999 41.9999C27.4875 41.9999 26.9749 41.805 26.585 41.4149L18.585 33.4149C17.8025 32.6324 17.8025 31.3699 18.585 30.5874C19.3675 29.8049 20.63 29.8049 21.4125 30.5874L27.9975 37.1725L44.5826 20.5874C45.3651 19.8049 46.6276 19.8049 47.4101 20.5874C48.1926 21.3699 48.1926 22.6324 47.4101 23.4149H47.4149Z" fill="#21A179" />
        </svg>
        <h2>Successful!</h2>
        {% element p %}
        {% trans 'Your password is now changed.' %}
      {% endelement %}
    </div>
    <div class="login__alternative">
      <p>Login with your new credentials.</p>
      <a href="{% url 'account_login' %}">Login</a>
    </div>
  </div>
</div>
{% endblock content %}
