{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="login">
    <div class="login__wrap">
        <!-- Logo -->
        <div class="login__logo">
            <img src="/static/OEP_logo_2_no_text.svg" alt="OEP Logo">
        </div>
        <!-- Be sure to use h1 for the heading -->
        <h1 class="login__heading">
            {% trans "Change Password" %}
        </h1>
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        {% element p %}
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        {% endelement %}
    {% else %}
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                    <button type="submit" class="btn btn-primary">
                        {% trans "Change Password" %}
                    </button>
            {% endslot %}
        {% endelement %}
    {% endif %}
{% endblock content %}
