{% extends "account/base.html" %}
{% load allauth i18n %}
{% load static %}
{% block head_title %}
  {% trans "" %}
{% endblock head_title %}
{% block content %}
  <div class="login">
    <div class="login__wrap">
      <!-- Logo -->
      <div class="login__logo">
        <img src="{% static 'OEP_logo_2_no_text.svg' %}" alt="OEP Logo" />
      </div>
      <h1 class="login__heading">{% trans "Change Password" %}</h1>
      {% url 'account_change_password' as action_url %}
      {% element form form=form method="post" action=action_url class="signup" %}
      {% slot body %}
      {% csrf_token %}
      {{ redirect_field }}
      {% element fields form=form %}
    {% endelement %}
  {% endslot %}
  {% slot actions %}
  <button type="submit" class="btn btn-primary">
    {% trans "Change Password" %}
  </button>
{% endslot %}
{% endelement %}
</div>
</div>
{% endblock content %}
