{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}
{% load static %}
{% block head_title %}
  {% trans "Set Password" %}
{% endblock head_title %}
{% block content %}
  <!-- Add .login as as main block and then elements & modifiers -->
  <div class="login">
    <div class="login__wrap">
      <!-- Logo -->
      <div class="login__logo">
        <img src="{% static 'OEP_logo_2_no_text.svg' %}" alt="OEP Logo" />
      </div>
      <!-- Be sure to use h1 for the heading -->
      <h1 class="login__heading">{% trans "Set Password" %}</h1>
      <form class="signup"
            id="signup_form"
            method="post"
            action="{% url 'account_set_password' %}">
        {% csrf_token %}
        {% if redirect_field_value %}
          <input type="hidden"
                 name="{{ redirect_field_name }}"
                 value="{{ redirect_field_value }}" />
        {% endif %}
        <!-- Password field -->
        <div class="login__field">
          <label for="{{ form.password1.id_for_label }}">
            {{ form.password1.label }}
          </label>
          {{ form.password1 }}
          {% if form.password1.errors %}
            <div class="login__alert login__alert--success login__alert--100">
              {{ form.password1.errors }}
            </div>
          {% endif %}
        </div>
        <!-- Confirm password field -->
        <div class="login__field">
          <label for="{{ form.password2.id_for_label }}">
            {{ form.password2.label }}
          </label>
          {{ form.password2 }}
          {% if form.password2.errors %}
            <div class="login__alert login__alert--success login__alert--100">
              {{ form.password2.errors }}
            </div>
          {% endif %}
        </div>
        <!-- Blue button (main CTA) -->
        <button type="submit" class="login__button">{% trans 'Set Password' %}</button>
      </form>
    </div>
  </div>
{% endblock content %}
