{% extends "account/base.html" %}
{% load i18n allauth account %}
{% load static %}
{% block head_title %}
  {% trans "" %}
{% endblock head_title %}
{% block content %}
  <div class="login">
    <div class="login__wrap">
      <!-- Logo -->
      <div class="login__logo">
        <img src="{% static 'OEP_logo_2_no_text.svg' %}" alt="OEP Logo" />
      </div>
      <!-- Be sure to use h1 for the heading -->
      <h1 class="login__heading">{% trans "Password Reset" %}</h1>
      {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
      {% endif %}
      {% element p %}
      {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
    {% endelement %}
    <form class="signup"
          id="signup_form"
          method="post"
          action="{% url 'account_reset_password' %}">
      {% csrf_token %}
      <div class="login__field">
        <label for="{{ form.login.id_for_label }}">E-Mail</label>
        {{ form.email }}
        {% if form.login.errors %}
          <div class="login__alert login__alert--success login__alert--100">
            {{ form.login.errors }}
          </div>
        {% endif %}
      </div>
      <button class="login__button login__button--warning" type="submit">
        {% trans 'Reset My Password' %}
      </button>
    </form>
    {% element p %}
    {% blocktrans %}
          Please contact us if you have any trouble resetting your password.
        {% endblocktrans %}
  {% endelement %}
</div>
</div>
{% endblock content %}
