@charset "UTF-8";


.index-home {
    text-align: center;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;

}

.index-padding {
    padding: 0 1em;
}

.index-home h3 {
    font-weight: 900;
    letter-spacing: -1px;
    color: var(--primaryColor1);
}

.index-home h4 {
    font-weight: 900;
    letter-spacing: -1px;
    color: var(--primaryColor1);
}

.index-tile {
    height: 150px;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-columns: 100%;
    justify-content: center;
    align-items: center;

    padding: 0.5em;
}

.index-tile img {
    align-self: center;
    justify-self: center;
    height: 50px;
}

.index-tile a {
    color: var(--white);
    background-image: none;
    border: none;

    width: 100%;
}

.index-tile-color-1 a {
     background-color: var(--primaryColor1);
}

.index-tile-color-2 a {
     background-color: var(--primaryColor2);
}

.index-tile-color-3 a {
     background-color: var(--primaryColor3);
}

.index-tile-color-4 a {
     background-color: var(--primaryColor4);
}

.index-tile-colored {
    background-color: var(--secondaryColor1);
}

.index-tile-bordered a {
    border: 1px solid var(--primaryColor4);
    color: var(--primaryColor4);
}

.index-about-container-background {
    background-color: var(--secondaryColor1);
    width: 100%;
    margin-top: auto;
}

.index-about-container {
    padding: 2em 1em;
    width: 100%;

    display: grid;

    grid-template-columns: 50% 50%;
    max-width: 800px;
    margin: auto;
}

.index-about-container .index-about-text {
    text-align: left;
    justify-self: flex-start;

    display: grid;
    grid-template-rows: repeat(3, auto);
    justify-items: left;

    grid-gap: 1em;
}

.index-about-container .index-about-text a {
    background-color: var(--primaryColor3);
    background-image: none;
    border: none;
    color: var(--white);
    align-self: flex-start;

}

.index-about-container img {
    width: 70%;
    justify-self: flex-end;

}

.index-tile-container {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    grid-gap: 2em;
    padding: 2em 0;

}

.index-tutorial-tile-container {
    display: grid;
    grid-template-columns: repeat(3, 120px);
    grid-gap: 3em;
    padding: 2em 0;

}

@media screen and (max-width: 800px) {
    .index-tile-container {
        grid-template-columns: repeat(2, 150px);
        grid-template-rows: repeat(2, 150px);
    }
}