#tables-box {
    height:100vh;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
    padding: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#tables-box::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}

.table-search{
    background-color: #1f567d3d;
    -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
}

.table-search-form{
    margin-left: 20px;
    margin-right: 20px;
}

.table-search-form-text{
    /* background-color: #1f567d3d; */
    -moz-border-radius: 10px 10px 10px 10px;
            border-radius: 10px 10px 10px 10px;
}

ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #d4d9df;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #22c0e8;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}