.resize-drag {
  /*background-color: #fcfcfd;
  font-size: 20px;
  font-family: sans-serif;
  border-radius: 8px;
  padding: 20px;
  margin: 30px 20px;
  /* This makes things *much* easier */
  height: auto;
  box-sizing: border-box;
}



/* enable absolute positioning */
.inner-addon {
    position: relative;
}

.searchbox_container{

}

.searchbox_container .small{
    width: 300px;
    float:right;
}


/* style icon */
.inner-addon .glyphicon {
  position: absolute;
  padding: 10px;
  pointer-events: none;
}

/* align icon */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}


/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }

.selecttable{
    width:100%

}

.selecttable th{


}

.selecter{
    height:100%;
    width:25%;
    }

select option:checked {
    border: 4px solid;
    border-color: black;
    background: inherit;
    }

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.42;
  border-radius: 15px;
}

.btn-add{
    background: transparent;
    color: green;
}

input[type="checkbox"]:checked+label{
    font-weight: bold;
    border: 3px solid;
}