<!-- This partial template is specifically used in dataedit/templates/dataedit/dataview.html -->

<div>
Input:
{% for acronym, uid in input_dataset_bundles %}
<a href="/scenario-bundles/id/{{ uid }}" type="button" class="table-sidebar__btn">
    {{ acronym }}
</a>
{% empty %}
    Table not listed as Input-Dataset.
    <br>
{% endfor %}
</div>
<div>
Output:
{% for acronym, uid in output_dataset_bundles %}
<a href="/scenario-bundles/id/{{ uid }}" type="button" class="table-sidebar__btn">
    {{ acronym }}
</a>
{% empty %}
    Table not listed as Output-Dataset.
{% endfor %}
</div>
