.main {
  display:flex;
  --s: 240px;  /* size  */
  --m: 2px;    /* margin */
  --f: calc(1.732 * var(--s) + 4 * var(--m)  - 1px);
  width: 100%;
}

.container {
  font-size: 0; /*disable white space between inline block element */
  margin-left: 40px;
  margin-top: 20px;

}

.container div {
  width: var(--s);
  margin: var(--m);
  height: calc(var(--s)*1.1547); 
  display: inline-block;
  font-size:initial;
  clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
  -webkit-transition: background 300ms; /* For Safari 3.0 to 6.0 */
  transition: background 300ms; /* For modern browsers */
  background: rgba(138, 178, 203, 0.16);
  margin-bottom: calc(var(--m) - var(--s)*0.2885); 
  color: rgb(2, 2, 2) !important;
}
.container div:nth-child(odd) {
  background:rgba(89, 125, 147, 0.132);
}

.container div:hover {
    background: rgba(9, 75, 117, 0.888);
    color: rgb(255, 255, 255) !important;
    -webkit-transition: background 300ms; /* For Safari 3.0 to 6.0 */
    transition: background 300ms; /* For modern browsers */
    cursor: pointer;
  }

.container::before {
  content: "";
  width: calc(var(--s)/2 + var(--m));
  float: left;
  height: 120%;
  shape-outside: repeating-linear-gradient(     
                   #0000 0 calc(var(--f) - 3px),      
                   #000  0 var(--f));
}



