@use '../base/' as *;
@use '../base/mixins' as *;

.table-tabs {
    @include flex-row;
    padding-top: $C--padding-large;
    padding-bottom: $C--padding-standard;
    
    @include media-breakpoint-up(md) {
        justify-content: center;
    }

    &__container {
        @extend .border-bottom;
        @include flex-row;

        @include media-breakpoint-up(md) {
            width: $C--db-main-max-width;
            margin-right: calc(#{$C--db-side-width} + #{$C--padding-standard});
        }
    }
}

.content .tab-content {
    @extend .border;
    overflow: hidden;
    overflow-x: scroll;
    width: 100%;
    max-width: calc(100vw - (#{$C--padding-standard} * 2));

    @include media-breakpoint-up(md) { 
        max-width: $C--db-main-max-width;
    }
}