@use '../base/' as *;
@use '../base/mixins' as *;

.login {
  display: flex;
  justify-content: center;
  padding-top: 6rem;

  &__wrap {
    width: 100%;
    max-width: 28rem;
  }

  &__logo {
    display: flex;
    justify-content: center;

    img {
      width: 4.5rem;
      height: auto;
    }
  }

  &__heading {
    margin-bottom: 1.5rem;
    font-size: $h2-font-size;
    color: $black;
    text-align: center;
  }

  &__alert {
    width: 100%;
    padding: 1rem 1rem 0.5rem;
    margin-bottom: 1.5rem;
    border-left-width: 2px;
    border-left-style: solid;

    &--info {
      @extend .background-info;
      border-left-color: $info;
    }

    &--success {
      @extend .background-success;
      border-left-color: $success;
      color: $green-800;
    }

    &--warning {
      @extend .background-warning;
      border-left-color: $warning;
      color: $yellow-900;
    }

    &--danger {
      @extend .background-danger;
      border-left-color: $danger;
      color: $red-800;
    }

    &--100 {
      text-align: center;
    }
  }

  &__alert-heading {
    font-weight: 700;
  }

  &__field {
    padding-bottom: 1rem;

    label {
      @extend .form-label;
      font-weight: 700;
    }

    input {
      @extend .form-control;
    }
  }

  &__hint {
    padding-top: 0.5rem;
    color: $gray-600;
    line-height: normal;

    &--password {
      text-align: right;

      a {
        text-decoration: none;
        font-weight: 700;
      }
    }
  }

  &__button {
    @extend .btn;
    @extend .btn-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 1rem;

    &--outline-primary {
      background-color: #FFF;
      color: $secondary;
      border: 1px solid $secondary;

      &:hover,
      &:active,
      &:focus {
        background-color: #FFF;
        color: $secondary;
        border: 1px solid $secondary;
      }
    }

    &--outline-secondary {
      background-color: #FFF;
      color: $body-color;
      border: 1px solid $gray-300;

      &:hover,
      &:active,
      &:focus {
        background-color: #FFF;
        color: $body-color;
        border: 1px solid $body-color;
      }
    }

    &--warning {
      @extend .btn-warning;
    }

    &--danger {
      @extend .btn-danger;
    }

    span:has(svg) {
      padding-right: 1rem;
    }
  }

  &__separation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1rem 0 2rem;

    &-line {
      flex: 1;
      height: 1px;
      background-color: $gray-300;
    }

    &-word {
      font-size: $font-size-base;
      color: $body-color;
      padding: 0 1rem;
    }
  }

  &__alternative {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 2rem;

    p {
      color: $gray-600;
    }

    a {
      text-decoration: none;
      font-weight: 700;
    }
  }

  &__verification {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 1rem;

    h2 {
      font-size: $h4-font-size;
      font-weight: 700;
      color: $body-color;
    }

    p {
      @extend .fs-7;
      color: $gray-600;
    }
  }
}