@use '../base/' as *;
@use '../base/mixins' as *;

.login {
  display: flex;
  justify-content: center;
  padding-top: 6rem;

  &__wrap {
    width: 100%;
    max-width: 28rem;
  }

  &__heading {
    margin-bottom: 1.5rem;
    font-size: $h2-font-size;
    color: $secondary;
  }

  &__alert {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1.5rem;
    border-left-width: 2px;
    border-left-style: solid;

    &--info {
      @extend .background-info;
      border-left-color: $info;
    }
  }

  &__alert-heading {
    font-weight: 700;
  }

  &__field {
    padding-bottom: 1rem;

    label {
      @extend .form-label;
      font-weight: 700;
    }

    input {
      @extend .form-control;
    }
  }

  &__hint {
    text-align: right;

    &--password a {
      text-decoration: none;
      font-weight: 700;
    }
  }

  &__button {
    @extend .btn;
    @extend .btn-primary;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;

    &--secondary {
      @extend .btn;
      background-color: #FFF;
      color: $body-color;
      border: 1px solid $body-color;

      &:hover,
      &:active,
      &:focus {
        background-color: #FFF;
        color: $body-color;
        border: 1px solid $body-color;
      }
    }

    span:has(svg) {
      padding-right: 1rem;
    }
  }

  &__separation {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2rem 0;

    &-line {
      flex: 1;
      height: 1px;
      background-color: $gray-400;
    }

    &-word {
      font-size: $font-size-base;
      color: $body-color;
      padding: 0 1rem;
    }
  }

  &__alternative {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    padding-top: 2rem;
  }
}