@use '../base/' as *;
@use '../base/mixins' as *;

body {
    letter-spacing: 0.02rem;
}

main.main {
    padding-bottom: $C--padding-large;
    
    .content {
        @extend .fs-7;
        @include flex-row;
        padding: 0 $C--padding-standard;
    
        @include media-breakpoint-up(md) {
            justify-content: center;
        }
    
        &__container {
            @include flex-column;
            width: 100%;
    
            @include media-breakpoint-up(md) {
                @include flex-row;
                max-width: $C--container-width;
            }
        }
    
        &__main {
            width: 100%;
    
            @include media-breakpoint-up(md) {
                padding-right: $C--padding-standard;
                width: calc(100% - #{$C--db-side-width});
            }

            h2 {
                padding-top: $C--padding-large;
            }
        }

        &__fullwidth {
            width: 100%;
        }
    
        &__side {
            width: 100%;
    
            @include media-breakpoint-up(md) {
                width: $C--db-side-width;
            }

            .review-status {
                @extend .p-2;
                @extend .w-100;
                @extend .text-center;
                @extend .fw-semibold;
                @extend .fs-6;
                @extend .mb-3;
                
                &--done {
                    background-color: $green-100;
                    color: $green-600;
                }

                &--ongoing {
                    background-color: $blue-100;
                    color: $blue-700;
                }

                &--start {
                    background-color: $red-100;
                    color: $red-600;
                }
            }
        }
    }
}
