@use '../base/' as *;
@use '../base/mixins' as *;

.review {
    @extend .row;
    @extend .w-100;

    &__content {
        @extend .col-6;
        flex: 0 0 50%;
        max-width: 50%;
        //width: calc(#{$C--container-width} / 2);
    }

    &__controls {
        @extend .col-6;
        flex: 0 0 50%;
        max-width: 50%;
        //width: calc(#{$C--container-width} / 2);
    }

    &__items {
        @extend .d-flex;
        @extend .flex-column;

        &-cat {
            @extend .text-uppercase;
            @extend .pt-2;
        }
    }

    &__item {
        @extend .w-100;
        @extend .border;
        @extend .mb-1;
        background-color: $white; // not as extend because of JS override
        border-left-width: 4px!important;
        border-color: $gray-200!important;
        cursor: pointer;

        &.field-ok {
            border-left-color: $green-500!important;
        }

        &.field-suggestion {
            border-left-color: $yellow-500!important;
        }

        &.field-rejected {
            border-left-color: $red-500!important;
        }

        &-content {
            @extend .p-3;
            @extend .mb-0;
            word-break: break-all;

            .key {
                @extend .d-block;
                @extend .fw-semibold;
            }

            .key::first-letter {
                text-transform: uppercase;
            }

            .value {
                @extend .d-block;
            }
        }
    }

    &__box {
        @extend .p-4;
        @extend .bg-light;
    }
    
    .flex-reviewer {
        @extend .d-flex;
        @extend .flex-column;
        @extend .bg-light;
    }

    &__btns {
        @extend .row;
        @extend .py-2;
    }

    &__btn {
        @extend .col-4;

        button {
            @extend .btn;
            @extend .btn-tertiary;
            @extend .w-100;
        }
    }

    &__remarks {
        @extend .pt-3;
        @extend .pb-4;
        @extend .border-bottom;
    }

    &__field {
        @extend .mb-2;

        &--nolabel label {
            @extend .d-none;
        }

        &-save {
            @extend .w-100;
        }
    }

    &__btn-nav {
        @extend .d-flex;
        @extend .flex-row;
        @extend .justify-content-between;
        @extend .pt-4;

        button {
            @extend .btn;
            
            &:first-of-type {
                @extend .btn-light;
            }

            &:last-of-type {
                @extend .btn-outline-primary;
            }
        }
    }

    &__save-btns {
        @extend .d-flex;
        @extend .flex-row;
        @extend .justify-content-end;
        @extend .py-3;
    }

    &__save-btn {
        @extend .ps-2;

        &--save a {
            @extend .btn;
            @extend .btn-primary;
        }

        &--summary button {
            @extend .btn;
            @extend .btn-outline-primary;
        }

        &--quit button {
            @extend .btn;
            @extend .btn-light;

        }
    }

    &__infos {
        @extend .pt-3;

        & > div {
            @extend .pb-2;
        }

        &--date,
        &--review-number {
            @extend .fw-semibold;
        }
    }
}

.reviewer-item {
    @extend .d-flex;
    @extend .flex-column;

    &__title {
        @extend .fs-6;
        @extend .text-center;
    }

    &__row {
        @extend .d-flex;
        @extend .flex-column;
        @extend .pb-2;

        &--border {
            @extend .border-top;
            @extend .pt-3;
            @extend .mt-3;
            @extend .pb-2;
        }
    }

    &__key {
        @extend .fw-semibold;
    }
}