$primary-color: #ffffff;
//$background-color: #212121;
//$background-color: #455a64;
//$background-color: #263238;
$background-color: #ffffff;
$playground-background-color: #548738;
//$background-color: #white;

h1 {
  color: $primary-color;
}

body {
  background-color: $background-color;
}
