{% extends "base/base.html" %}
{% load bootstrap5 %}

{% block site-header %}
  <h2 class="site-header">
    {% if tutorial.id %}
      Tutorial: {{tutorial.title}}
    {% else %}
      New Tutorial
    {% endif %}
  </h2>
{% endblock site-header %}

{% block main-content-body %}
{% load static %}

    <form method="POST" action="">
        {% csrf_token %}
        {% bootstrap_form form %}

        {% if tutorial.id %}
            <button class="btn btn-success" type="submit">Save Tutorial</button>
            <a type="button" class="btn btn-danger" href="/tutorials/{{tutorial.id}}">Cancel</a>
        {% else %}
            <button class="btn btn-success" type="submit">Create Tutorial</button>
            <a type="button" class="btn btn-danger" href="/tutorials/">Cancel</a>
        {% endif %} 
    </form>

{#Preview for markdown field in form#}
{{ form.media }}
{% endblock main-content-body %}

{% block after-head %}
    <link rel="stylesheet" href="https://unpkg.com/easymde/dist/easymde.min.css">
{% endblock %}

{% block after-body-bottom-js %}
    <script src="https://unpkg.com/easymde/dist/easymde.min.js"></script>
    <script>
        var easyMDE = new EasyMDE({element: document.getElementById('id_markdown'),
                                    nativeSpellcheck: false,
                                    forceSync: true,
                                    showIcons: ['upload-image'],
                                    uploadImage: true,
                                    imageMaxSize: '100px',
                                    imageUploadEndpoint: '/api/v0/image/upload/',
                                    imageCSRFToken:'{{ csrf_token }}'});
    </script>


{% endblock %}
