{% extends "base/base.html" %}
{% load bootstrap3 %}

{% block main-content-body %}
{% load staticfiles %}

    {% if not tutorial.fileName %}
        <a href="{% url 'edit_tutorial' tutorial_id=tutorial.id %}"> Bearbeiten </a>
        <a href="{% url 'delete_tutorial' tutorial_id=tutorial.id %}"> Löschen </a>
    {% else %}
         <a href="https://github.com/OpenEnergyPlatform/examples"> Bearbeiten </a>
    {% endif %}
     <span>Tutorial: {{tutorial.title}}</span>

    <div>
        {{ tutorial.html | safe }}
    </div>
{% endblock main-content-body %}


