{% extends "base/base.html" %}
{% load bootstrap4 %}

{% block site-header %}
  <h2 class="site-header">Tutorial: {{tutorial.title}}</h2>
{% endblock site-header %}

{% block main-right-sidebar-content  %}
  {% if user.is_authenticated %}
    <hr>
    <h4>Actions</h4>
     {% if not tutorial.fileName %}
        {% if user.is_authenticated %}
              <a type="button" class="btn btn-sm btn-success" href="{% url 'edit_tutorial' tutorial_id=tutorial.id %}">Edit</a>
              <a type="button" class="btn btn-sm btn-danger" href="{% url 'delete_tutorial' tutorial_id=tutorial.id %}">Delete</a>
        {% endif %}
    {% else %}
         <a type="button" class="btn btn-sm btn-success" href="https://github.com/OpenEnergyPlatform/examples">Edit</a>
    {% endif %}
  {% endif %}

{% endblock main-right-sidebar-content  %}

{% block main-content-body %}
{% load static %}


     <span></span>
    <div>
        {{ tutorial.html | safe }}
    </div>
    <div>
        {% if tutorial.media_src %}
            <iframe width="560"
                    height="315"
                    src="{{ tutorial.media_src }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        {% endif %}
    </div>
{% endblock main-content-body %}


