{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load static %}

{% block after-head %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock %}

{% block site-header %}
  <h2 class="site-header">Tutorial: {{tutorial.title}}</h2>
{% endblock site-header %}

{% block main-right-sidebar-content  %}
    {% if not tutorial.isStatic %}
        {% if user.is_authenticated %}
          <hr>
          <h4>Actions</h4>
            <a type="button" class="btn btn-sm btn-success" href="{% url 'edit_tutorial' tutorial_id=tutorial.id %}">Edit</a>
            <a type="button" class="btn btn-sm btn-danger" href="{% url 'delete_tutorial' tutorial_id=tutorial.id %}">Delete</a>
            <a type="button" class="btn btn-sm btn-secondary" href="/tutorials/" style="float: right;">Back to tutorials</a>
        {% else %}
        <a type="button" class="btn btn-sm btn-secondary" href="/tutorials/">Back to tutorials</a>
        {% endif %}
    {% else %}
        <hr>
        <h4>Actions</h4>
        <a type="button" class="btn btn-sm btn-secondary" href="/tutorials/">Back to tutorials</a>
    {% endif %}

{% endblock main-right-sidebar-content  %}


{% block main-content-body %}
{% load static %}


    <span></span>
    <div class="tutorial-container">
        {{ tutorial.html | safe }}
    </div>
    <div>
        {% if tutorial.media_src %}
            <iframe width="560"
                    height="315"
                    src="{{ tutorial.media_src }}"
                    frameborder="0"
                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen>
            </iframe>
        {% endif %}
    </div>
{% endblock main-content-body %}
