{% extends "base/base.html" %}
{% load bootstrap4 %}

{% block main-content-body %}
{% load static %}

<span>Tutorials</span>
<a href="{% url 'add_tutorial'%}"> Neues Tutorial </a>
<table class="table">
    <thead>
      <tr>
        <th scope="col">Name</td>
      </tr>
    </thead>
    <tbody>
      {% for tutorial in tutorials %}
        <tr>
          <td>
            <a href="{{tutorial.id}}">{{ tutorial.title }}</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock main-content-body %}


