{% load static %}


{% block extra_css %}
<link rel="stylesheet" href="{% static 'metadata-viewer/metadata-viewer.css' %}">
{% endblock %}

{% block main-content-body %}
<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div id="metadata-viewer" data-metadata-id="{{ metadata_id }}">
        <!-- Loading spinner -->
        <div class="text-center py-5">
          <div class="spinner-border text-primary" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
          <p class="mt-3">Loading metadata...</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block after-body-bottom-js %}
<script> window.meta_api = "{{ meta_api|escapejs }}"; </script>
<script src="{% static 'metadata-viewer/metadata-viewer.js' %}"></script>
{% endblock %}

