{% extends "base/base.html" %}
{% load django_bootstrap5 %}
{% block main-content-body %}
{% load static %}
<center>
<h3>This page could not be found!</h3> <br>

It might be an old link or maybe the data moved.<br>
Please use the navigation bar above to continue.<br>

In return, you have the increasingly rare opportunity to marvel at the endangered OEPlatypus:

<a href="{% static 'img/OpenEnergyFamily_OEPlatypus.png' %}">
    <img style="width:50%" class="mx-auto d-block"
        src="{% static 'img/OpenEnergyFamily_OEPlatypus.png' %}" alt="OEPlatypus" />
</a>

</center>
{% endblock %}
