{% extends "base/base.html" %}
{% load bootstrap3 %}
{% block content %}
{% load staticfiles %}
<h3>Sorry, something went wrong!</h3> <br>
It looks as though we have unexpectedly broken something on our system, while processing your request.<br>

An e-mail has already been sent to the admin, thus the admin will be informed about this incident. The admin will fix this problem as soon as possible.<br>

<br>
In the meantime, you are welcome to ask further questions here:  <a href="/contact">contact form</a>.<br>
Thanks a lot for your feedback!
<br>
<center>
    <img src="{% static 'OEP_logo_2.png' %}" width="200px"/>
</center>
{% endblock %}
