<footer class="footer mt-auto py-3 bg-secondary">
  <nav class="navbar navbar-expand navbar-dark bg-secondary">
    <div class="container-fluid justify-content-end">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:contact' %}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:legal-privacy-policy' %}"
            >Privacy Policy</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'base:legal-tou' %}">Terms of Use</a>
        </li>
      </ul>
    </div>
  </nav>
</footer>
