<!--
SPDX-FileCopyrightText: 2024 Eike Broda <ebroda>
SPDX-FileCopyrightText: oeplatform <https://github.com/OpenEnergyPlatform/oeplatform/>
SPDX-License-Identifier: MIT
-->

<footer class="footer mt-auto py-3 bg-secondary">
    <nav class="navbar navbar-expand navbar-dark bg-secondary">
        <div class="container-fluid justify-content-end">
            <ul class="navbar-nav mr-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/contact/">Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/legal/privacy_policy/">Privacy Policy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/legal/tou/">Terms of Use</a>
                </li>
            </ul>
        </div>
    </nav>
</footer>