{% extends "base/base.html" %}
{% load bootstrap4 %}
{% block main-content-body %}

{% load static %} {# Important for using the *static* tag #}

<h2>About us</h2> <br>


<h3 id="general-introduction">General Introduction</h3>
<p>The OEP aims to ensure quality, transparency and reproducibility in energy
    system research. It provides a way to publish proper documentation of data,
    code and underlying assumptions. The OEP is a community effort, it is
    developped openly and therefore is constantly evolving.</p>
<h3 id="what-energy-system-modelling">1. What? Energy System Modelling</h3>

    <a href="{% static 'img/cycle.png' %}">
        <img style="width:50%" class="mx-auto d-block" src="{% static 'img/cycle.png' %}" alt="OEP circle simple"/>
    </a>

<p>Energy system models are used to explore the current and future energy
    systems and are often applied to questions involving the expansion of
    renewables and energy storages as well as energy and climate policy. The
    models themselves vary widely in terms of their type, design, programming,
    application, scope, level of detail, sophistication, and shortcomings.</p>
<p>The OEP considers the entire modelling process from the preprocessing of the
    raw data, the simulations, the postprocessing of the result data. The heart
    of the OEP is the underlying open energy database, which can be used by
    everyone and is maintained by a team of developers from different
    institutes.</p>
<h3 id="how-open-science">2. How? Open Science</h3>

    <a href="{% static 'img/flow.png' %}">
        <img style="width:50%" class="mx-auto d-block" src="{% static 'img/flow.png' %}" alt="OEP circle simple"/>
    </a>
<p>The OEP follows the principles of Open Science and offers an open
    infrastructure for energy system research. The focus is on Open Data and the
    provision of modelling results under open licenses. The OEP uses an <a
            href="https://github.com/OpenEnergyPlatform/examples/blob/master/metadata/oep_metadata_template.json">extensive
        metadata set</a> based on the <a
            href="https://frictionlessdata.io/specs/tabular-data-package/">tabular
        data package</a> specifications and the <a
            href="https://www.go-fair.org/fair-principles/">FAIR principles</a>
    to improve the findability, accessibility, interoperability, and reuse of
    digital assets.</p>
<h3 id="who-oep-community">3. Who? OEP-Community</h3>
<p>The OEP is a cross-research project that is continuously being developed by
    various universities and institutes. The entire source code of the OEP is
    open source and is located on GitHub. Get involved and contribute!</p>

<div class="d-flex justify-content-between flex-md-wrap">
        <a class="logo" href="http://reiner-lemoine-institut.de/en/" target="_blank">
            <img class="flex-item"
                 src="{% static 'logos/RLI.png' %}"
                 alt="RLI" width="140" height="102" border="0"/>
        </a>
        <a class="logo" href="http://www.ovgu.de/en/University.html" target="_blank">
            <img class="flex-item"
                 src="{% static 'logos/OvGU.png' %}"
                 alt="Uni Magdeburg" width="245" height="85"
                 border="0"/>
        </a>
        <a class="logo" href="https://www.next-energy.de/en/" target="_blank">
            <img class="flex-item"
                 src="{% static 'logos/NE.png' %}"
                 alt="NEXT Energy" width="268" height="109" border="0"/>
        </a>
        <a class="logo" href="https://www.uni-flensburg.de/en/" target="_blank">
            <img class="flex-item"
                 src="{% static 'logos/EUF.png' %}"
                 width="250px"/>
        </a>
        <a class="logo" href="https://www.oeko.de/en/" target="_blank">
            <img class="flex-item"
                 src="{% static 'logos/OEI.png' %}"
                 width="250px"/>
        </a>
        <a class="logo" href="https://www.iee.fraunhofer.de/en.html" target="_blank">
            <img class="flex-item"
                 src="{% static 'logos/IEE.png' %}"
                 width="250px"/>
        </a>
</div>
{% endblock %}
