{% load static %}
{% load bootstrap3 %}

<!DOCTYPE html>
<html lang="en">
    <head>
        {% block before-head %}{% endblock before-head %}

        <!-- Meta Tags, which should be implemented -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <title> OEP{% block title %}{% endblock %} </title>

        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"  type="image/x-icon" />

        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/theme-style.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base-style.css' %}">
        {% block after-head %}{% endblock after-head %}
    </head>

<body>
    {% block nav %}
        <nav class="navbar navbar-default base-navbar base-navbar-top ">
            <div class="container-center">

            <div class="navbar-header">
                <a href="/">
                    <img style="width:45px;height: 45px;" src="{% static 'oeplogo.svg' %}"/>
                </a>
                 <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <ul id="navbar" class="nav navbar-nav navbar-right navbar-collapse collapse">

                <li class="inactive"><a href="/dataedit/">Database</a></li>

                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Factsheets
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/factsheets/overview/">Overview</a> </li>
                        <li> <a href="/factsheets/models/">Models</a> </li>
                        <li> <a href="/factsheets/frameworks/">Frameworks</a> </li>
                        <li> <a href="/factsheets/scenarios/">Scenarios</a> </li>
                    </ul>
                </li>
                {#<li class="inactive"><a href="/bundles/">Bundles</a></li>#}
                <li class="inactive"><a href="/documentation/">Documentation</a></li>
                <li class="inactive"><a href="/about/">About OEP</a></li>

                {%block nav-additional %}{% endblock %}
            </ul>
          {% if user.is_authenticated %} {# This should stay here - later the above if becomes obsolete #}

            <div class="btn profile-bar">
                <a class="btn-profile" href="/user/profile/{{ user.pk }}" >{% bootstrap_icon "user" %} {{ user }}</a>
                <a class="btn-logout" href="/user/logout/?next=/">{% bootstrap_icon "arrow-right" %} Logout</a>
            </div>

          {% else %}
             <a class="btn btn-info" style="float: right;margin:5px" href="/user/login/?next={{ request.get_full_path|urlencode }}">{% bootstrap_icon "log-in" %} Login</a>
          {% endif %}

            </div>

        </nav>

    {% endblock %}


        {% if not disableSidebar %}
        <div class="container-fluid base">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-1 col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
        {% else %}
        <div class="container-fluid base">
        {% endif %}
                    {% block content %}{% endblock %}
        {% if not disableSidebar %}
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <p>
                                    If you find bugs or if you have ideas to improve the Open Energy Platform, you are welcome to add your comments to the existing issues on <a href="https://github.com/openego/oeplatform">GitHub</a>. <br>
                                    You can also fork the project and get involved.
                                </p>
                                <p>
                                    <b> Please note that the platform is still under construction and therefore the design of this page is still highly volatile!</b>
                                </p>
                            </div>
                            <div>
                                {% block content-right %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}

            <div class="row">
                <nav class="navbar navbar-default base-navbar base-navbar-bottom">
                      <div class="container-fluid container-center">
                        <ul class="nav navbar-nav navbar-right">
                            <li class="inactive"><a href="/contact/">Contact</a></li>
                            <li class="inactive"><a href="/legal/impressum/">Imprint</a></li>
                            <li class="inactive"><a href="/legal/datasec/">Legal</a></li>
                            <li class="inactive"><a href="/legal/tou/">Terms of Use</a></li>
                        </ul>
                      </div>
                </nav>
            </div>

        </div>
        {% block body-bottom-js %}
            {% block before-body-bottom-js %}{% endblock before-body-bottom-js %}
            {% bootstrap_javascript jquery=1%}
            <script type="text/javascript" src="{% static '/js/jsi18n'%}"></script>
            {% block after-body-bottom-js %}{% endblock after-body-bottom-js %}
        {% endblock body-bottom-js %}
</body>

</html>
