<!DOCTYPE html>
<html>
    
    <head>
        {% load bootstrap3 %}
        {% bootstrap_css %}
        {% bootstrap_javascript jquery=1%}
        {% load staticfiles %}
        <link rel="shortcut icon" href="{% static 'favicon.ico' %}"  type="image/x-icon" />
        <title>
            OEP{% block title %}{% endblock %}
        </title>
        <link rel="stylesheet" href="{% static 'css/theme-style.css' %}">
        <link rel="stylesheet" href="{% static 'css/base-style.css' %}">
    </head>

<body>
    {% block nav %}
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container-fluid" style="width:80%; float:left;">
            <div class="navbar-header">
                  <div class="circular_image">
                    <img src="{% static 'OEP_logo_2_no_text.svg' %}"/>
                  </div>
              <a class="navbar-brand" href="/">

                  OpenEnergy Platform</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="inactive"><a href="/dataedit/">Database</a></li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Factsheets
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="/factsheets/overview/">Overview</a> </li>
                        <li> <a href="/factsheets/models/">Models</a> </li>
                        <li> <a href="/factsheets/frameworks/">Frameworks</a> </li>
                        <li> <a href="/factsheets/scenarios/">Scenarios</a> </li>
                    </ul>
                </li>
                <li class="inactive"><a href="/literature/">Literature</a></li>
                <li class="inactive">
                    <a href="/discussion" target="_blank">
                        Discussion
                    </a>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"> Wiki
                    <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li> <a href="https://wiki.openmod-initiative.org/wiki/Main_Page" target="_blank">OpenMod Wiki {% bootstrap_icon "new-window" %}</a> </li>
                        <li> <a href="https://wiki.openmod-initiative.org/wiki/Category:Glossary" target="_blank">Glossary {% bootstrap_icon "new-window" %}</a> </li>
                    </ul>
                </li>
                {%block nav-additional %}{% endblock %}
            </ul>
          </div>
          {% if user.is_authenticated %} {# This should stay here - later the above if becomes obsolete #}

            <div class="btn profile-bar">
                <a class="btn-profile" href="/user/profile/{{ user.pk }}" >{% bootstrap_icon "user" %} {{ user }}</a>
                <a class="btn-logout" href="/logout/?next=/">{% bootstrap_icon "arrow-right" %} Logout</a>
            </div>

          {% else %}
             <a class="btn btn-info" style="float: right;margin:5px" href="/login/?next={{ request.get_full_path|urlencode }}">{% bootstrap_icon "log-in" %} Login</a>
          {% endif %}
        </nav>
        
    {% endblock %}



        <div class="container-fluid oe-wrapper" style="margin-top:70px">
            <div class="row">

                <div class="col-lg-8 col-lg-offset-1 col-md-9">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            {% block content %}{% endblock %}
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <div>
                                <p>
                                    If you find bugs or if you have ideas to improve the Open Energy Platform, you are welcome to add your comments to the existing issues on <a href="https://github.com/openego/oeplatform">GitHub</a> br>. You can also fork the project and contribute yourself.
                                </p>
                                <p>
                                    <b> Please mention that the platform is still under discussion and therefore the design of this page is still highly volatile!.</b>
                                </p>
                            </div>
                            <div>
                                {% block content-right %}{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <nav class="navbar navbar-default  navbar-fixed-bottom">
                  <div class="container-fluid" style="width:80%; float:left;">
                    <ul class="nav navbar-nav">
                        <li class="inactive"><a href="/about/">About us</a></li>
                        <li class="inactive"><a href="/faq/">FAQ</a></li>
                        <li class="inactive"><a href="/contact/">Contact us</a></li>
                        <li class="inactive"><a href="/legal/impressum/">Impressum</a></li>
                        <li class="inactive"><a href="/legal/datasec/">Datenschutzerklärung</a></li>
                        <li class="inactive"><a href="/legal/tou/">Terms of use</a></li>
                        <li class="inactive"><a href="https://okfn.org/" target="_blank">Open Data {% bootstrap_icon "new-window" %}</a></li>
                        <li class="inactive"><a href="http://opendefinition.org/od/2.0/en/" target="_blank">Open Knowledge  {% bootstrap_icon "new-window" %}</a></li>
                    </ul>
                  </div>
            </nav>
        </div>

</body>
    
</html>
