{% extends "base/base.html" %}
{% load bootstrap4 %}
{% block main-content-body %}
{% load static %}
<h3>OEP - Contact</h3> <br>
<div style="padding:10px">
    <form class="form form-horizontal" action="" method="post">
        {% csrf_token %}
        {% if success %}
        <div class="alert alert-success">
          <strong>Success!</strong> Your message has been sent.
        </div>
        {% endif %}
        <table>
            {% bootstrap_form form %}
        </table>
        <button type="submit">Submit</button>
    </form>
</div>
<br>

Or use the issue tracking system on <a href="https://github.com/openego/oeplatform">GitHub</a>.

<br>
<br>

<div class="well">

</div>




{% endblock %}
