{% extends "base/base.html" %}
{% load bootstrap3 %}
{% block main-content-body %}

<h3>Datenschutzerklärung</h3> <br>

Werden Datensätze über die entsprechenden Formulare in die OpenEnergy Database
(oedb) geschrieben, in dieser geändert oder aus dieser gelöscht, so werden diese
Änderungen mitsamt des Nutzernamens des Ausführenden gespeichert und öffentlich
sichtbar angezeigt.
<br>
<br>
Beim Aufruf einzelner Seiten werden so genannte temporäre Cookies verwendet.
Diese Session-Cookies beinhalten keine personenbezogenen Daten und werden nach
Ablauf der Sitzung mit dem Schließen Ihres Web-Browsers automatisch gelöscht.
<br>
<br>
In bestimmten Fällen (z.B. beim Kontaktformular) ist für die Nutzung des
Angebots die Angabe personenbezogener Daten wie Name, Anschrift oder
Erreichbarkeitsangaben erforderlich. Soweit dies erfolgt, werden Art,
Umfang und Zweck der Verarbeitung im zugehörigen Kontext dargestellt.
Mit der Angabe der erfragten Daten willigen Sie in deren Verarbeitung ein.
Sie können die Einwilligung jederzeit mit Wirkung für die Zukunft widerrufen.
<br>
<br>
Abseits dieser Daten werden keine weiteren Personenbezogenen Daten gespeichert.
<br>
<br>
Diese Regelungen gelten nur für Inhalte auf der OpenEnergy Platform. Inhalte
anderer Anbieter, auf die durch Verlinkungen verwiesen wird, können anderen
Regelungen unterliegen.

{% endblock %}
