{% extends "base/base.html" %}
{% load bootstrap3 %}
{% block content %}

{% load staticfiles %} {# Important for using the *static* tag #}


                        Discussion {% bootstrap_icon "new-window" %}
The OpenEnergy Platform is a collaborative project and is continuously under development. The discussion about new features or improvements is carried on at GitHub: <a href="https://github.com/openego/oeplatform/issues" target="_blank">
please don’t forget to set tags if you create a new issue.
If you want to report problems or if you have questions then use the contact form: (link to contact)
Transparency of energy system modelling and fruitful debates about it are very much depending on a common understanding of expressions. Therefore we started a glossary. You can watch up expressions and debate about them as well as add missing expressions at: <a href="https://wiki.openmod-initiative.org/wiki/Category:Glossary" target="_blank"> 
At the discussion forum of the openmod initiative you can discuss about various subjects concerning open science in energy system modelling: <a href="https://forum.openmod-initiative.org/categories" target="_blank">

                    </a>

{% endblock %}
