{% extends "base/base.html" %}
{% load bootstrap4 %}
{% block main-content-body %}

<h1>Privacy policy</h1> <br>

    <p>
        The OEP Community (“we”) operates the website Open Energy Platform (the
        “Site”), accessible at https://openenergy-platform.org/.
        With this privacy policy, we inform you about the personal data we
        collect when you visit our Site and how we process it. Thereby, we also
        fulfill our obligation to inform you pursuant to Article 13 General Data
        Protection Regulation (GDPR).

    </p>

<div class='impressum'>
    <h2>Identity of the controller</h2>
    <p> Till Mossakowski <br>
        Universitätsplatz 2 <br>
        39126 Magdeburg <br>
    </p>
    <p><strong>Kontakt:</strong> <br>
        E-Mail: <a href='mailto:glauer@iks.cs.ovgu.de'>glauer@iks.cs.ovgu.de</a><br>
    </p><br><br>
    <!--<p><strong>Umsatzsteuer-ID: </strong> <br>
        Umsatzsteuer-Identifikationsnummer gemäß §27a Umsatzsteuergesetz:
        Musterustid.<br><br>
        <strong>Wirtschafts-ID: </strong><br>
        Musterwirtschaftsid<br>
    </p>
    <p>
        <strong>Aufsichtsbehörde:</strong><br>
        Musteraufsicht Musterstadt<br>
    </p> -->

    <h2>Purposes of processing, its legal basis and the period for which the data will be stored</h2>
    <br>
    <h3>1. General use of the Site</h3>
    <p>
        Generally, we do not store personal data while you use our Site with
        the exception that our webserver registers all connections to the Site
        automatically and collects the following technical information about
        your visit:

        <ul>
            <li> IP address </li>
            <li> Name of the files accessed </li>
            <li> Information about the transmission </li>
            <li> Date and time of the connection </li>
            <li> Amount of data transmitted </li>
            <li> Operating system and </li>
            <li> Web browser/ user agent </li>
        </ul>

        We process this data to establish a connection to your device over the
        Internet. We store the aforementioned data in log files in order to
        ensure the security and integrity of our IT systems. The respective
        purposes of the processing also constitute our legitimate interests we
        pursue with it (Art. 6 par. 1 lit. f) GDPR). We retain our log files
        for 14 days and delete them thereafter.
    </p>

    <h3>2. Registering for an account</h3>
    <p>
        You may register with us for an account. To register with us we ask you
        for your name, your email address and a password. Voluntarily, you may
        also give us information about your affiliation. We will use the
        information to create and manage your account and provide you with its
        features. The processing is based on Art. 6 par. 1 lit. b) GDPR. We will
        process your personal data for these purposes until you delete your
        account. You can delete your account anytime by contacting us under one
        of our addresses mentioned above.
    </p>

    <h3>3. Entering data into the Open Energy Database (oedb) </h3>
    <p>
        As a registered user you can create new entries or edit existing
        entries in our OpenEnergy Database (oedb). For this purpose we will
        process the personal data from your account as well as any data you
        enter into the respective fields of our database. The entries will be
        published and become publicly accessible. However, other users of the
        oedb will not be able to see any of your personal data. The processing
        is based on Art. 6 par. 1 lit. b) GDPR. We will process your personal
        data for these purposes until you delete your account but please be
        aware that the anonymous and not personal data you entered into the
        respective fields of the database entry may be stored for a longer
        duration.
    </p>

    <h3>4. Contact</h3>
    <p>
        You can contact us, for example, by writing an email. In such case, we
        will process the personal data you provide us with in order to answer
        your request. This may include especially your name, email address,
        subject of your message and the message itself. We will retain your
        messages until we have fulfilled your request. Afterwards, we will
        delete it immediately. The processing for such purposes is based on
        Art. 6 par. 1 lit. f) GDPR, while the purposes of the processing also
        constitute our legitimate interests we pursue with it.
    </p>

    <h2>Recipients and transfers to third countries</h2>
    <p>
        If we are not able to provide services ourselves, we use external
        service providers. These service providers are primarily providers of
        IT services, such as our web host, email provider or telecommunications
        provider.

        If not specifically mentioned elsewhere in this privacy policy, we do
        not transfer your data to third countries.
    <p>

    <h2>Rights of the data subject</h2>
    <p>
        If the respective requirements are met, the GDPR grants you certain rights as a data subject.

        Art. 15 GDPR – Right of access: You shall have the right to
        obtain from us confirmation as to whether or not personal data
        concerning you are being processed, and, where that is the case,
        access to the personal data and certain information.

        Art. 16 GDPR – Right to rectification: You shall have the right to
        obtain from us without undue delay the rectification of inaccurate
        personal data concerning you. Taking into account the purposes of the
        processing, you shall have the right to have incomplete personal data
        completed, including by means of providing a supplementary statement.

        Art. 17 GDPR – Right to erasure: You shall have the right to obtain from
        us the erasure of personal data concerning you without undue delay.

        Art. 18 GDPR – Right to restriction of processing: You shall have the
        right to obtain from us the restriction of processing.

        Art. 20 GDPR – Right to data portability: You shall have the right to
        receive the personal data concerning you, which you have provided to us,
        in a structured, commonly used and machine-readable format and you shall
        have the right to transmit those data to another controller without
        hindrance from us. You shall also have the right to have the personal
        data transmitted directly from us to another controller, where
        technically feasible.

        Art. 77 GDPR – Right to lodge a complaint with a supervisory authority:
        Without prejudice to any other administrative or judicial remedy, you
        shall have the right to lodge a complaint with a supervisory authority,
        in particular in the Member State of your habitual residence, place of
        work or place of the alleged infringement if you consider that the
        processing of personal data relating to you infringes the GDPR.
    </p>

    <h2>Especially right to object and withdrawal of consent</h2>
    <p>
        Art. 21 GDPR – Right to Object: You shall have the right to object, on
        grounds relating to your particular situation, at any time to processing
        of personal data concerning you, which is based on legitimate interests
        or for the performance of a task carried out in the public interest or
        in the exercise of official authority vested in the controller

        In such case, we shall no longer process the personal data unless we
        demonstrate compelling legitimate grounds for the processing, which
        override your interests, rights and freedoms or where the processing is
        necessary for the establishment, exercise or defence of legal claims.

        Where personal data are processed for direct marketing purposes, you
        shall have the right to object at any time for such marketing, which
        includes profiling to the extent that it is related to such direct
        marketing.

        If you wish to object to any processing of data, you may send us an
        email to one of our aforementioned email addresses.

        Art. 7 par. 3 GDPR – Withdrawal of Consent: If you have given us your
        consent, you have the right to withdraw your consent at any time. In
        case of withdrawal, all data processing based on your consent before
        your withdrawal will remain lawful.
    </p>

    <h2>Obligation to provide us with personal data</h2>
    <p>

        You have no statutory or contractual obligation to provide us with any
        personal data. However, we may not be able to provide you with our
        services if you decide not to do so.
    </p>

    <h2>Existence of automated individual decision-making, including profiling</h2>
    <p>
        We do not use automated individual decision-making, including profiling
        pursuant to Art. 22 GDPR, which produces legal effects concerning you or
        similarly significantly affects you.
    </p>

    <h2>Cookies</h2>
    <p>
        For providing you the services of our Site we may use cookies. Cookies
        are small text files, which are transferred from the Site and stored on
        your device. Some cookies are stored only for your current browser
        session and will be deleted once you close your browser. Other cookies
        may be stored on your device for a certain period. You can obtain more
        information on how long specific cookies are stored within your end
        device’s or browser software’s settings.

        We use cookies to provide you with the functionality of our Site,
        especially with regard to our contact, database and login functions.
        Typically, cookies do not contain personal data. However, if that may be
        the case in certain situation, the processing of such data has its legal
        ground in Art. 6 par. 1 lit. f) GDPR. The aforementioned purposes also
        constitute the legitimate interests we pursue with them.

        If you wish to prevent us from storing cookies on your device, your web
        browser or device may provide you with settings to do so. You may find
        an instruction on how to change your settings in the help section of
        your browser or device. The respective settings only apply to the device
        you are currently using. If you use another device, change your web
        browser or reinstall your browser you may have to change the respective
        settings again. Please, be aware that not accepting cookies may lead to
        you not being able to use our Site and all its functions.
    </p>

 <table style="width:100%">
  <tr>
    <th>Domain</th>
    <th>Cookie Name</th>
    <th>Purposes</th>
    <th>Storage period</th>
  </tr>
  <tr>
    <td>openenergy-platform.org</td>
    <td>csrftoken</td>
    <td>Prevent cross-site request forgery attacks</td>
    <td>1 Year</td>
  </tr>
  <tr>
    <td>oopenenergy-platform.org</td>
    <td>sessionid</td>
    <td>Identify logged-in user</td>
    <td>14 Days</td>
  </tr>
</table>
<br>

<strong>Magdeburg, November 2020</strong>

</div>

{% endblock %}
