{% extends "base/base.html" %}
{% load bootstrap3 %}

{% block content-right %}
    <h2>Changes in version {{ version }}</h2>
    {{ changes|safe }}
{% endblock %}

{% block after-header %}
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/index-style.css' %}">
{% endblock %}

{% block content %}
    {% load staticfiles %}

    <div class="index-home">
        <div>
            <h3>Open Energy Platform</h3>
            <h5>Make your energy system modelling process transparent!</h5>

            <div class="index-tile-container">
                <div class="index-tile index-tile-colored index-tile-color-1">
                    <img src="/static/img/welcome/database.png" alt="">
                    <button class="btn btn-default">Database</button>
                </div>
                <div class="index-tile index-tile-colored index-tile-color-2">
                    <img src="/static/img/welcome/factsheets.png" alt="">
                    <button class="btn btn-default">Factsheets</button>
                </div>
                <div class="index-tile index-tile-colored index-tile-color-3">
                    <img src="/static/img/welcome/bundles.png" alt="">
                    <button class="btn btn-default">Bundles</button>
                </div>
                <div class="index-tile index-tile-colored index-tile-color-4">
                    <img src="/static/img/welcome/documentation.png" alt="">
                    <button class="btn btn-default">Documentation</button>
                </div>
            </div>
        </div>
        <div>
            <h4>Tutorials</h4>
            <h6>These beginners and advanced tutorials can help you make the best out of OEP!</h6>

            <div class="index-tutorial-tile-container">
                <div class="index-tile index-tile-bordered">
                    <img src="/static/img/welcome/videos.svg" alt="">
                    <button class="btn btn-default">Videos</button>
                </div>
                <div class="index-tile index-tile-bordered">
                    <img src="/static/img/welcome/beginners.svg" alt="">
                    <button class="btn btn-default">Beginners</button>
                </div>
                <div class="index-tile index-tile-bordered">
                    <img src="/static/img/welcome/api.png" alt="">
                    <button class="btn btn-default">API</button>
                </div>
            </div>
        </div>

        <div class="index-about-container-background">
            <div class="index-about-container">
                <div class="index-about-text">
                    <h3>About the OEP</h3>
                    <span>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque non auctor elit. Pellentesque vulputate leo nec enim vulputate, non accumsan ex porttitor. Sed iaculis auctor consectetur. Suspendisse elit lacus, eleifend quis ultrices nec, tempus id turpis. Duis nec vulputate massa, et laoreet tortor. Cras ullamcorper pulvinar sollicitudin.
                    </span>
                    <button class="btn btn-default">Learn more</button>
                </div>
                <img src="/static/img/welcome/concept.png" alt="">
            </div>
        </div>


    </div>

{% endblock %}
