{% extends "base/base.html" %}
{% load bootstrap3 %}
{% block content %}

<h3>Some introductory words</h3> <br>
The fact sheets, presented on these pages, were developed following the requirement to improve / ameliorate the transparency of energy system models and their outputs as well as the reproducibility of their scenario results. The fact sheets aim to give an overview of the existing models to modelers and other stakeholders interested in energy system modelling. Moreover, the fact sheets are meant to provide the base to discuss various scenarios.<br>
In several workshops as well as in online discussions three types of fact sheets were developed: 
<ul>
<li>model fact sheets,</li>
<li>framework fact sheets and </li>
<li>scenario fact sheets. </li>
</ul>
They contain general information and further information for instance about openness, software and interfaces, which in parts are mandatory. The fact sheets are not designed to include the input needed for calculations, but might obtain the links to the sources of the data (or a detailed documentation). <br>
<b> Feel free to create a fact sheet for your model/framework and the scenarios you want to talk about! </b> <br>
If you have ideas to improve the fact sheets, you are welcome to add your comments on the discussion site of the <a href="http://wiki.openmod-initiative.org/wiki/Fact_sheets_for_models,_frameworks_and_scenarios">openmod-wiki page</a>.<br>
<br>
<b> The design of this page is still highly volatile! Please focus on the contents of above factsheets.</b>
<br>
<br>
Thanks a lot for your feedback!
 
{% endblock %}
