{% load static i18n fontawesome_5 django_bootstrap5 %}


<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">
            <img style="width:45px;height: 45px;" src="{% static 'OpenEnergyFamily_Logo_OpenEnergyPlatform_untitled_white.svg' %}"/>
        </a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/dataedit/schemas">Database</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFS" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Scenario Bundles
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownFS">
                        <!-- <a class="dropdown-item" href="/factsheets/overview/">Overview</a> -->
                        <!-- <sup class="small text-muted">Early Access</sup> -->
                        <a class="dropdown-item" href="/scenario-bundles/main">Scenario Bundle</a>
                        <a class="dropdown-item" href="/factsheets/frameworks/">Framework Factsheet</a>
                        <a class="dropdown-item" href="/factsheets/models/">Model Factsheet</a>
                        <!-- <a class="dropdown-item" href="/factsheets/scenarios/">Scenario Factsheet</a> -->
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownOntology" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Ontology
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownOntology">
                        <a class="dropdown-item" href="/ontology/">Overview</a>
                        <a class="dropdown-item" href="/ontology/oeo/BFO_0000001/">OEO Classes</a>
                        <a class="dropdown-item" href="/viewer/oeo/">OEO Viewer</a>
                        <a class="dropdown-item" href="{% url 'oeo-s-c'%}">OEO Steering Committee</a>
                        <a class="dropdown-item" href="{{ EXTERNAL_URLS.tib_terminology_service }}" target="_blank" data-toggle="tooltip" data-placement="top" title="We want to combine our efforts in ontology development with the TIB as part of the NFDI4Energy project."><i class="fas fa-external-link-alt"></i> TIB Terminology Service</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ EXTERNAL_URLS.tutorials_index }}" target="_blank">Academy <i class="fas fa-external-link-alt"></i></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAbout" role="button"
                       data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        About
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownAbout">
                        <a class="dropdown-item" href="/about/">Overview</a>
                        <a class="dropdown-item" href="{{ EXTERNAL_URLS.compendium }}" target="_blank"><i class="fas fa-external-link-alt"></i> Compendium</a>
                        <a class="dropdown-item" href="{{ EXTERNAL_URLS.mkdocs }}" target="_blank"><i class="fas fa-external-link-alt"></i> Developer Documentation</a>
                        <a class="dropdown-item" href="{{ EXTERNAL_URLS.readthedocs }}" target="_blank"><i class="fas fa-external-link-alt"></i> REST-API Documentation</a>
                        <a class="dropdown-item" href="{{ EXTERNAL_URLS.tutorials_faq }}" target="_blank"><i class="fas fa-external-link-alt"></i> FAQ</a>
                    </div>
                </li>
            </ul>
        </div>


        {% if request.user.is_authenticated %}
            <!-- Profile Link -->
            <a class="btn btn-link text-white p-0" href="{% url 'login:settings' user.pk %} ">
                {% fa5_icon 'user' 'fas' %} {{ user }}
            </a>
            {# URL provided by django-allauth/account/urls.py #}
            <a href="{% url 'account_logout' %}"
            class="btn btn-danger btn-sm m-1">  {% fa5_icon 'arrow-right' 'fas' %} {% translate "Sign Out" %}</a>
        {% else %}
            {% if ACCOUNT_ALLOW_REGISTRATION %}
                {# URL provided by django-allauth/account/urls.py #}
                <a href="{% url 'account_signup' %}"
                class="btn btn-info btn-sm m-1">{% translate "Sign Up" %}</a>
            {% endif %}
            {# URL provided by django-allauth/account/urls.py #}
            <a class="btn btn-info btn-sm m-1" href="{% url 'account_login' %}">{% translate "Sign In" %}</a>
        {% endif %}
    </div>
</nav>