{% extends "base/base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block site-header %}
  <div class="main-header">
    <h1 class="main-header__title">Open Energy Family Steering Committee</h1>
  </div>
{% endblock site-header %}
{% block main-content-body %}
  <br />
  <h3 id="oeo-sc">What is the Steering Committee?</h3>
  <p>
    The OEFamily-SC is responsible for the overall development and strategic direction of the Open Energy Family framework.
    The committee works closely with the core development team to ensure that the framework meets the needs of its users and
    remains aligned with the goals of the project. It meets regularly via conference calls and in-person meetings to exchange
    information and review planned and completed tasks.
  </p>
  <h3 id="oeo-sc-members">Who is involved?</h3>
  <p>
    The Steering Committee is coordinated by the NFDI4energy project team. The members are:
  </p>
  <ul>
    <li>Alexander Rakic (FZ Jülich)</li>
    <li>Astrid Nieße (Uni Oldenburg)</li>
    <li>Berit Müller (Deutsche Gesellschaft Sonnenenergie)</li>
    <li>Christian Winger (Öko-Institut)</li>
    <li>Carsten Hoyer-Klick (DLR)</li>
    <li>Gerald Boogaart (TU Freiberg)</li>
    <li>Hannah Förster (Öko-Institut)</li>
    <li>Sebastian Hellmann (Uni Leipzig)</li>
    <li>Daniel Huppmann (IIASA)</li>
    <li>Jonas Huber (RLI)</li>
    <li>Ludwig Hülk (RLI)</li>
    <li>Mirjam Stappel (Uni Osnabrück)</li>
    <li>Oliver Werth (OFFIS)</li>
    <li>Robbie Morrison</li>
    <li>Stephan Ferenz (Uni Oldenburg, OFFIS)</li>
    <li>Till Mossakowski (Uni Osnabrück)</li>
  </ul>
{% endblock main-content-body %}
