{% extends "base/base.html" %}
{% load bootstrap4 %}


{% block main-content-body %}
{% load static %}
<div>
    <div class="d-flex justify-content-between flex-md-wrap">
        <!-- full title and acronym -->
        <div>
            <p>
                last updated on:
                {{ project.meta.lastUpdated }}
            </p>
            <h1>
                {{ project.fullTitle }}
            </h1>
        </div>
        <!-- logo -->
        <a href="{% static 'logos/project/' %}{{project.logo}}">
            <img style="width:75%" class="mx-auto d-block" src="{% static 'logos/project/' %}{{project.logo}}"
                 alt="{{ project.fullTitle }}"/>
        </a>
        
    </div>
    <!-- general -->
    <h2>General</h2>
    <p>
        {{ project.general }}
    </p>
    <!-- tasks -->
    <h2>Tasks</h2>
    {% if entry in project.tasks %}
        {% for task in project.tasks %}
        <li>{{ task }}</li>
        {% endfor %}
    {% else %}
        {{project.tasks}}
    {% endif %}
    <!-- Partners -->
    <h2>Partners</h2>
    <div class="d-flex justify-content-between flex-md-wrap">
        {% for partner in project.partners %}
            <div>
                <!-- <li>{{ partner.name }}</li> -->
                <img src="{% static 'logos/partner/' %}{{partner.logo}}" alt="{{ partner.name }}" width="150vh" border="0" />
            </div>
        {% endfor %}
    </div>
    <!-- Funding -->
    <h3>Funding</h3>
    Grant number:
    {{ project.funding }}
    <!-- Meta -->
</div>
{% endblock main-content-body %}