{% extends "base/base.html" %}
{% load bootstrap3 %}
{% block content %}
<h3>Nutzungsbedingungen</h3>
Mit Ihrem Zugriff auf die OpenEnergy Platform stimmen Sie den Nutzungsbedingungen zu.

NutzerInnen veröffentlichen auf dieser freien Plattform Daten für die weitere Nutzung durch Wissenschaft, die Bevölkerung, die Wirtschaft und weitere Institutionen.

Die Plattform wurde im Rahmen des Projektes open_ego entwickelt und steht soweit nicht anders gekennzeichnet unter der GNU AGPLv3 Lizenz unter auf <a href="https://github.com/openego/oeplatform" target="_blank">Github</a>  zur Verfügung.


<a href="http://creativecommons.org/licenses/by/3.0/de/" rel="license"><img style="border-width: 0;" src="https://i.creativecommons.org/l/by/3.0/de/88x31.png" alt="Creative Commons Lizenzvertrag" /></a>

Für jeden hier verzeichneten Datensatz und Werke gilt – soweit nicht anders gekennzeichnet – die: <a href="http://creativecommons.org/licenses/by/3.0/de/" rel="license">Creative Commons Namensnennung 3.0 Deutschland Lizenz</a>.

Dies gilt nicht für Inhalte, die von Dritten erstellt wurden, z.B. Angebote von mobilen Apps oder Webanwendungen.

Diese Lizenz ermöglicht nicht die Nutzung des Projekt Logos oder der beteiligten Institutionen, personenbezogene Daten sowie unrechtmäßig veröffentlichtem Material.

Die Otto-von-Guericke Universität ist berechtigt, Informationen über Anwendungen und Dienste auf Basis dieser Daten zu veröffentlichen und für eine Berichterstattung zu  verwenden. Eine Veröffentlichung (Verknüpfung) der Anwendungen und Dienste im Rahmen der OpenEnergy Platform ist gestattet.
<h3>Die Nutzerinnen und Nutzer der OpenEnergy Platform</h3>
<ul>
	<li>dürfen die Daten für alle Zwecke verwenden, so lange nicht gegen die Nutzungsbedingungen und geltendes Recht verstoßen wird,</li>
	<li>respektieren das Recht auf Privatheit.</li>
	<li>[Please complete ...] [EK: sorry,..]</li>
</ul>
<h3>Projektpartner von open_ego</h3>
<ul>
	<li>freuen sich über Anregungen zur Seite über unser Kontaktformular;</li>
	<li>untersagen die Verbreitung von beleidigendem oder anderweitig unrechtmäßigen Materialien und anderen Handlungen;</li>
	<li>behalten sich das Recht vor, nach freiem Ermessen Material und Daten zu entfernen, die ungeeignet oder unangemessen sind bzw. die Nutzungsbedingungen verletzen;</li>
	<li>garantieren nicht die Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit der aufgeführten Datensätze;</li>
	<li>übernehmen keine Verantwortung für die vom Anbieter auf dem Portal bereitgestellten Inhalte, Daten und Informationen sowie für Inhalte auf den verlinkten externen Webseiten;</li>
	<li>haften nicht für Schäden, die durch die Nutzung angebotener Informationen entstehen oder die beim Aufrufen oder Herunterladen von Daten durch Computerviren oder der Installation oder Nutzung von Software verursacht werden.</li>
	<li>können das Open Daten Portal OpenEnergy Platform jederzeit ändern, sperren oder vom Internet nehmen;</li>
	<li>behalten sich vor, diese Nutzungsbedingungen jederzeit ohne Nennung von Gründen zu ändern.</li>
</ul>
 
{% endblock %}
