{% extends "base/base.html" %}
{% load bootstrap3 %}
{% block content %}

<h3>Nutzungsbedingungen</h3> <br>
<br>
Mit Ihrem Zugriff auf die OpenEnergy Platform entwickelt im Verbundprojektes "open_eGo" stimmen Sie den Nutzungsbedingungen zu.
<br>
Die Projektpartner sowie verschiedene NutzerInnen veröffentlicht auf dieser freien Plattform Daten für die 
weitere Nutzung durch Wissenschaft, die Bevölkerung, die Wirtschaft, die Medien und weitere Institutionen.
<br>
Die Plattform wurde im Rahmen des Projektes open_ego entwickelt und steht soweit nicht anders gekennzeichnet 
unter der GNU AGPLv3 Lizenz unter https://github.com/openego/oeplatform zur Verfügung. 
<br>
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/de/"><img alt="Creative Commons Lizenzvertrag" 
style="border-width:0" src="https://i.creativecommons.org/l/by/3.0/de/88x31.png" /></a><br/>
Für jeden hier verzeichneten Datensatz und Werke gilt – soweit nicht anders gekennzeichnet – die:  
<a rel="license" href="http://creativecommons.org/licenses/by/3.0/de/"> Creative Commons Namensnennung 3.0 Deutschland Lizenz</a>.
<br>
Dies gilt nicht für Inhalte, die von Dritten erstellt wurden, z.B. Angebote von mobilen Apps oder Webanwendungen. 
<br>
Diese Lizenz ermöglicht nicht die Nutzung des Projekt Logos oder der beteiligten Institutionen, personenbezogene Daten 
sowie unrechtmäßig veröffentlichtem Material. 
<br>
Die Otto-von-Guericke Universität ist berechtigt, Informationen über Anwendungen und Dienste auf Basis dieser Daten 
zu veröffentlichen und für eine Berichterstattung zu verwenden. Eine Veröffentlichung (Verknüpfung) der Anwendungen und 
Dienste im Rahmen der OpenEnergy Platform ist gestattet.
<br>

<h3>Die Nutzerinnen und Nutzer der OpenEnergy Platform </h3> <br>

<ul>
   <li> dürfen die Daten für alle Zwecke verwenden, so lange nicht gegen die Nutzungsbedingungen und 
       geltendes Recht verstoßen wird,</li>
   <li> respektieren das Recht auf Privatheit.</li>
</ul>

...

<br>

<h3>Projektpartner von open_ego </h3> <br>

<ul>
   <li> freuen sich über Anregungen zur Seite über unser Kontaktformular;</li>
   <li>  untersagen die Verbreitung von beleidigendem oder anderweitig unrechtmäßigen Materialien und anderen Handlungen;</li>
   <li>  behalten sich das Recht vor, nach freiem Ermessen Material und Daten zu entfernen, die ungeeignet oder unangemessen sind bzw. 
     die Nutzungsbedingungen verletzen; </li>
   <li>  garantieren nicht die Aktualität, Richtigkeit, Vollständigkeit und Verfügbarkeit der aufgeführten Datensätze;  </li>
   <li> übernimmen keine Verantwortung für die vom Anbieter auf dem Portal bereitgestellten Inhalte, Daten und Informationen 
        sowie für Inhalte auf den verlinkten externen Webseiten; </li>
   <li> hafteen nicht für Schäden, die durch die Nutzung angebotener Informationen entstehen oder die beim Aufrufen oder 
     Herunterladen von Daten durch Computerviren oder der Installation oder Nutzung von Software verursacht werden. 
     </li>
     <li> können das Open Daten Portal OpenEnergy Platform jederzeit ändern, sperren oder vom Internet nehmen; </li>
   <li>  behalten sich vor, diese Nutzungsbedingungen jederzeit ohne Nennung von Gründen zu ändern. </li>
</ul>
<br>
<br>

<!-- Logo und Links einbinden, https://openegoproject.wordpress.com/-->

<p><a rel="ZNES-Flensburg-initiative" href="http://www.znes-flensburg.de/project/150?language=en" target="_blank"><img src="https://i2.wp.com/reiner-lemoine-institut.de/wp-content/uploads/2017/03/Logo_ZNES_farbig_NEU.png" alt="Hochschule Flensburg and Europa-Universität Flensburg, (ZNES)" width="300" height="110" border="0" /></a></p>
<p><a rel="RLI-Berlin" href="http://reiner-lemoine-institut.de/en/open_ego-open-electricity-grid-optimization/" target="_blank"><img src="https://i1.wp.com/reiner-lemoine-institut.de/wp-content/uploads/2015/08/RLI_Logo.png" alt="Reiner Lemoine Institut gGmbH" width="180" height="131" border="0" /></a></p>
<p><a rel="Next-Energy" href="https://www.next-energy.de/en/research-areas/energy-system-analysis/selected-projects/project-open_ego/" target="_blank"><img src="https://i0.wp.com/reiner-lemoine-institut.de/wp-content/uploads/2016/07/Logo_NEXT_Energy.png" alt="NEXT ENERGY | EWE-Forschungszentrum für Energietechnologie e.V" width="320" height="129" border="0" /></a></p>
<p><a rel="Uni-Magdeburg" href="http://iks.cs.ovgu.de/IKS.html" target="_blank"><img src="https://i1.wp.com/reiner-lemoine-institut.de/wp-content/uploads/2016/07/Logo_Uni_Magdeburg.png" alt="Otto-von-Guericke Universität" width="300" height="103" border="0" /></a></p>
<br>
<br>
in Zusammenarbeit mit der OpenMod-Initiative 
<a rel="OpenMod-initiative" href="http://openmod-initiative.org/"> </a>
<br/>


{% endblock %}
