{% extends "base/base-wide-react.html" %}
{% load static %}

{% block after-head %}
<link rel="stylesheet" href="{% static 'oeo_viewer/scripts.4f599c21.css' %}">
{% endblock after-head %}

{% block main %}
    <div class="main-header">
        <h1 class="main-header__title">
            <img src="/static/img/welcome/OpenEnergyFamily_Logo_OpenEnergyOntology_icon.svg" width="16" height="16" alt="OEO"> Open Energy Ontology Viewer
        </h1>
        <div class="main-header__wizard">
            <a href="/ontology/">Open Energy Ontology</a> / OEO viewer
        </div>
        <br>
        <div>
            The OEO Viewer is a research prototype tool to visually browse the Open Energy Ontology. 
            External tools like TIB's terminology service are more sophisticated for browsing and searching ontologies; you can also find the <a href="{{tib_ts_oeo_link}}" target="_blank"> OEO there </a>.
        </div>
    </div>
    {% block main-content-body %}
    <div id="app"></div>
    {% endblock main-content-body %}
{% endblock main %}


{% block after-body-bottom-js %}
<script src="{% static 'oeo_viewer/scripts.3119501f.js' %}"></script>
{% endblock after-body-bottom-js %}
