{% extends "base/base.html" %}
{% load staticfiles %}
{% block content-right %}
    <hr>
    <link rel="stylesheet" href="{% static 'dataedit/dataedit.css' %}">
    {% load dataedit.taghandler %}
    {% get_tags 10 as all_tags %}
    <h3>Popular tags:</h3>
    <div style="overflow: hidden;">
    {% for t in all_tags %}
        <div style="display:inline; padding:5px;float: left;">
            <form action="/dataedit/search"  method="post">
                {% csrf_token %}
                <input type="submit" class="btn tag" style="background:{{ t.color }};color:{% readable_text_color t.color %}" value="{{ t.name }}">
                <input type="hidden" name="select_{{t.id}}" value="on">
            </form>
        </div>
    {% endfor %}
    </ul>
    </div>
{% endblock %}
{% block content %}
{% block data_search %}
<div class="searchbox_container small">
    <form action="/dataedit/search" method="post">{% csrf_token %}
        <div class="inner-addon right-addon">
            <a href="" type="submit" class="glyphicon glyphicon-search"></a>
            <input type="text" name="string" placeholder="Search for datasets" class="form-control" />
        </div>
    </form>
    <a href="/dataedit/search/">Advanced Search</a>
</div>
{% endblock %}
{% block data_content %}

{% endblock %}
{% endblock %}