{% extends "dataedit/filter.html" %}
{% block title %} - Schemas{% endblock %}

{% block site-header %}
    <h2 class="site-header">Schemas</h2>
{% endblock site-header %}

{% block data_content %}
<h3>Topics</h3>
<table id="schemas" class="table table-hover table-bordered">
    <thead>
        <tr class="table-primary">
            <th>Name</th>
            <th>Tables</th>
        </tr>
    </thead>
    <tbody>
        {% for schema, tables, tag_ids in schemas %}
            <tr onclick="window.location='/dataedit/view/{{ schema }}'">
                <td>{{schema}}</td>
                <td>{{tables}}</td>
            </tr>
        {% endfor %}

    </tbody>
</table>
{% endblock %}
