{% extends 'dataedit/dataview.html' %}

{% block title %} - {{schema}}.{{table}}{% endblock %}

{% block heading %}
    <h3><a href="/dataedit/view/{{schema}}">{{schema}}</a>.{{table}} </h3>
        <table>
            <tr>
                <td style="padding:5px">
                    <div>
                        <div >
                            <a id="fetch_overlay_open" class="glyphicon glyphicon-download-alt"></a>
                        </div>

                    </div>
                </td>
                <td>
                    <a href="{{table}}/permissions" class="glyphicon glyphicon-user"> </a>
                </td>
            </tr>
        </table>

    <div class="well">Below is the data that is contained in the table you selected. Only a limited
    amout of data is fetched at one time. You can browse different chuncks of data using the
    data view interface. <br>
    If this table contains geometrical data, the data backend translates this cells
    to human-readable geoJSON. You can plot these datapoints in a designated map view.
    </div>

    <div id="fetch_overlay" class="modal" style="z-index:3">
      <div class="modal-content">
        <span id="fetch_overlay_close" class="close">&times;</span>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#csv">CSV</a></li>
            <li><a data-toggle="tab" href="#python">Python</a></li>
        </ul>
        <div class="tab-content">
          <div id="csv" class="tab-pane fade in active">
              <p> <br>
                Here you can download this dataset in csv format. Mind that the textbased csv format tends to be costly regarding the file size. Thus, this download might take some time.
              </p>
              <a class="btn btn-default" style="margin-left:50%" href="/api/v0/schema/{{schema}}/tables/{{table}}/rows?form=csv" >Download CSV</a>
          </div>
          <div id="python" class="tab-pane fade">
            <div>
                Use below snippet to fetch data from this dataset.
              <textarea class="form-control" rows="6" cols="50" style="font-family: 'SFMono-Regular',Consolas,'Liberation Mono',Menlo,Courier,monospace;">
from requests import get

result = get('https://{{host}}/api/v0/schema/{{schema}}/tables/{{table}}/rows')
for row in result.json():
    # Process the row</textarea>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="well">
        <h4>Currently defined views:</h4>

        {% for view in views %}
        <a href="{{ request.path }}{% if view.id %}?view={{ view.id }}{% endif %}" class="btn btn-default {% if view.id == current_view.id %}active{% endif %}">{{ view.name }}</a>
        {% endfor %}
        {% if not views %}
        No views were created yet.
        {% endif %}

        <br><br>

        <div>
                {% if current_view.id %}
            <span style="float: left">
                <a href="{{ request.path }}/view?id={{ current_view.id }}" class="btn btn-default">Edit active view</a>
                <a href="{{ request.path }}/view/delete?id={{ current_view.id }}" class="btn btn-danger">Delete active view</a>
            </span>
                {% endif %}
            <span style="float: right">
                <a href="{{ request.path }}/view?type=table" class="btn btn-default">New table</a>
                <a href="{{ request.path }}/view?type=graph" class="btn btn-default">New graph</a>
                <a href="{{ request.path }}/view?type=map" class="btn btn-default">New map</a>
            </span>
            <br clear="all">
        </div>
    </div>

{% endblock %}

{% block script %}
<script type="text/javascript">
    // Get the modal
    var modal = document.getElementById('fetch_overlay');

    // Get the button that opens the modal
    var btn = document.getElementById("fetch_overlay_open");

    var cls = document.getElementById("fetch_overlay_close");

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    cls.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script type="text/javascript">

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    function build_views_leaflet() {

        var map = L.map('main-visualization-container');

        // set map center, will be overwritten on polygon load
        map.setView([0, 0], 0);

        // leaflet geoJson layer
        var geoJSON;

        getMapData("{{ schema }}", "{{ table }}", "{{ geo_column }}", map.getBounds(), function (result) {

            // add geoJSON layer to map
            var geom = result["data"].map(x => JSON.parse(x));
            geoJSON = L.geoJson(geom).addTo(map);
            // center map on geoJSON
            map.fitBounds(geoJSON.getBounds());

            // load map tiles from openstreetmap
            L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '©<a href="http://openstreetmap.org" target="_blank">OpenStreetMap</a> contributors',
                maxZoom: 18,
            }).addTo(map);
        });

        function updateFunction() {
            getMapData("{{ schema }}", "{{ table }}", "{{ geo_column }}", map.getBounds(), function (result) {
                geoJSON.clearLayers(); // remove old polygons
                for(var i=0; i<result["rowcount"]; i++){
                    geoJSON.addData(JSON.parse(result["data"][i]));
                }
            });
        }

        map.on('moveend', updateFunction);
        map.on('zoomend', updateFunction);
    }

    function build_views_recline(){
        var dataset_main = new recline.Model.Dataset({
                table: '{{table}}',
                schema: '{{schema}}',
                backend: 'OEP',
        });


        dataset_main.fetch().done(function(dataset) {

            /*plot_view(dataset,
                true,
                $('.data-explorer-here'), data_record)*/

            var visualization_container = $('#main-visualization-container');
            {% if current_view.type == "table" %}
                var grid = new recline.View.SlickGrid({
                    model: dataset,
                    el: visualization_container,
                    state: {
                      gridOptions: {
                        enableCellNavigation: true,
                        forceFitColumns: true,
                        fullWidthRows: true
                      }
                    }
                });

                grid.visible = true;
                grid.render();

                // add comment tooltip for columns
                {% if comment_on_table %}
                var columns = grid.grid.getColumns();

                var fields = {% if comment_on_table.fields %}{{ comment_on_table.fields | safe }}{%else%}[]{%endif%};

                for (var i = 0; i < columns.length;i++)
                {
                    for (var j = 0; j < fields.length; j++)
                    {
                        if (columns[i].name === fields[j].name)
                            columns[i].toolTip = (fields[j].description) ? fields[j].description:fields[j].name;
                    }
                }
                grid.grid.setColumns(columns);
                {% endif %}


            {% elif current_view.type == "graph" %}
                var graph = new recline.View.Graph({
                    model: dataset,
                    el: visualization_container,
                    state:
                    {
                        graphType: "lines-and-points",
                        group: "{{ x_axis }}",
                        series: {{ y_axis|safe }}
                    }
                });
                graph.render();
                graph.redraw();
            {% endif %}
        });
    }

    function build_views() {
        {% if current_view.type == "map" %}
        build_views_leaflet();
        {% else %}
        build_views_recline();
        {% endif %}
    }

    build_views(/*false*/);



    </script>

{% endblock %}
