{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load widget_tweaks %}
{% block main-content-body %}
<form action="/dataedit/edit" method="post" role="form">
    {% csrf_token %}
    <table class ="table-striped">
        {% for field in form %}  
                {% if not field.is_hidden  %}         
                <div class="form-group">{{ field.label_tag }} {{ field }}</div> 
                {{ field.errors }} 
                {% endif %}
        {% endfor %}
    </table>
    {% for e in errors %}
    <div class="alert alert-danger">
    {{ e }}
    </div>
    {% endfor %}
    <input type="hidden" name="internal_oe_id" value="{{ internal_oe_id }}" />
    <input type="submit" value="Submit" />
</form>
{% endblock %}
