{% extends 'dataedit/dataview.html' %}

{% block title %} - {{schema}}.{{table}}{% endblock %}

{% block heading %}
    <h3><a href="/dataedit/view/{{schema}}">{{schema}}</a>.{{table}} </h3>
        <table>
            <tr>
                <td>
                    <a href="{{table}}/comments" alt="Comments" class="glyphicon glyphicon-list-alt"> </a>
                </td>
                <td style="padding:5px">
                    <div>
                        <div >
                            <a id="fetch_overlay_open" class="glyphicon glyphicon-download-alt"></a>
                        </div>

                    </div>
                </td>
                <td>
                    <a href="{{table}}/permissions" class="glyphicon glyphicon-user"> </a>
                </td>
            </tr>
        </table>

    <div class="well">Below is the data that is contained in the table you selected. Only a limited
    amout of data is fetched at one time. You can browse different chuncks of data using the
    data view interface. <br>
    If this table contains geometrical data, the data backend translates this cells
    to human-readable geoJSON. You can plot these datapoints in a designated map view.
    </div>

    <div id="fetch_overlay" class="modal">
      <div class="modal-content">
        <span id="fetch_overlay_close" class="close">&times;</span>
        <div>
            Use below snippet to fetch data from this dataset.
          <textarea class="form-control" rows="6" cols="50" style="font-family: 'SFMono-Regular',Consolas,'Liberation Mono',Menlo,Courier,monospace;">
from requests import get

result = get('https://{{host}}/api/v0/schema/{{schema}}/tables/{{table}}/rows')
for row in result.json():
    # Process the row</textarea>
        </div>
      </div>

    </div>
    {% endblock %}

{% block script %}
<script type="text/javascript">
    // Get the modal
    var modal = document.getElementById('fetch_overlay');

    // Get the button that opens the modal
    var btn = document.getElementById("fetch_overlay_open");

    var cls = document.getElementById("fetch_overlay_close");

    // When the user clicks on the button, open the modal
    btn.onclick = function() {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    cls.onclick = function() {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function(event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
</script>
<script type="text/javascript">

    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');
    var data_record = {}
    var unchecked_record = {}

    function build_views(){
        var dataset_main = new recline.Model.Dataset({
                table: '{{table}}',
                schema: '{{schema}}',
                backend: 'OEP',
                has_row_comments: {% if has_row_comments %} true {% else %} false {% endif %}
        });


        dataset_main.fetch().done(function(dataset) {

            plot_view(dataset,
                true,
                $('.data-explorer-here'), data_record)
        });

        if(unchecked){

            $("#unchecked_data_div").css("display", "block");
            var dataset_unchecked = new recline.Model.Dataset({
                    table: '_{{table}}_edit',
                    schema: '_{{schema}}',
                    backend: 'OEP',
                    has_row_comments: false
            });

            dataset_unchecked.fetch().done(function(dataset) {
                plot_view(dataset,
                    false,
                    $('.data-unchecked-explorer-here'), unchecked_record)
            });
        }
        else
            $("#unchecked_data_div").css("display", "none");


        $('#savebutton').bind('click',
        function() {
            changes = {
                creates: dataset_main._changes.creates,
                updates:    dataset_main.records.filter(
                    function(el){return !(jQuery.isEmptyObject(el.changed));}),
                deletes: dataset_main._changes.deletes
            };

            dataset_main.backend.save(changes, dataset_main);
        });
    }

    build_views(false);



    </script>

{% endblock %}