{% extends 'dataedit/base.html' %}
{% load static %}
{% block title %} How to access the database {% endblock %}

{% block site-header %}
    <h2 class="site-header">How to access the database?</h2>
{% endblock site-header %}


{% block main %}
        <div style="display: flex;flex-flow: column; max-width: 1000px; margin: 0 auto">
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto; grid-gap: 1em; text-align: justify; justify-items: center; max-width: 1000px; margin-bottom:  2em;'">
              <a href="/dataedit/schemas">
                  <img src="{% static 'dataedit/dataview.png' %}"/>
              </a>
              <a href="http://oep-data-interface.readthedocs.io/en/latest/api/how_to.html">
                  <img src="{% static 'dataedit/api.png' %}"/>
              </a>
              <span>
                  Use the OEP-Dataview if you want to browse data and get an
                  overview on what kind of datasets are available on the OEP and
                  how they are structured. The OEP features functionalities for
                  different views on datasets, such as graphs and maps.
              </span>
              <span>
                  Use the OEP-API if you want to use the data published on this
                  platform for your own purpose. You may also add new datasets to
                  the platform, create new tables and much more. See the <a href="https://github.com/openego/oeplatform/wiki"><span class="fas fa-share-square"></span>Wiki to start a tutorial</a>.
              </span>
            </div>
            <div>
            <h4>Tutorials</h4>
                If you want to learn about how to integrate the API into your
                project, take a look at our tutorials:
                <ul>
                    <li><a href="https://github.com/OpenEnergyPlatform/examples/blob/master/api/OEP_API_tutorial_part1.ipynb">Tutorial - How to work with the OpenEnergy Platform (OEP)</a> </li>
                    <li><a href="https://github.com/OpenEnergyPlatform/examples/blob/master/api/OEP_API_tutorial_part2.ipynb">Tutorial - How to customize your results</a> </li>
                    <li><a href="https://github.com/OpenEnergyPlatform/examples/blob/master/api/OEP_API_tutorial_part3.ipynb">Tutorial - How to use my results in pandas</a> </li>
                    <li><a href="https://github.com/OpenEnergyPlatform/examples/blob/master/api/OEP_API_tutorial_part4.ipynb">Tutorial - How to export my results</a> </li>
                </ul>
            </div>
        </div>

{% endblock main %}
