{% extends "dataedit/base.html" %}
{% load dataedit.metadata %}
{% load static %}
{% load bootstrap4 %}


{% block site-header %}
  <h2 class="site-header"><a href="/dataedit/view/{{ schema }}">{{ schema }}</a>.{{ table }}</h2>
{% endblock site-header %}

{% block data_content %}


  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {% if current_view.type == "table" %}active{% endif %}"
         href="/dataedit/view/{{ schema }}/{{ table }}">Table</a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {% if current_view.type == "graph" %}active{% endif %}" data-toggle="dropdown"
         href="#" role="button" aria-haspopup="true" aria-expanded="false">Graphs</a>
      <div class="dropdown-menu">
        {% for view in views %}
          {% if view.type == "graph" %}
            <a class="dropdown-item" href="?view={{ view.id }}">{{ view.name }}</a>
          {% endif %}
        {% endfor %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/dataedit/view/{{ schema }}/{{ table }}/graph/new">Add Graph View</a>
      </div>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle {% if current_view.type == "map" %}active{% endif %}" data-toggle="dropdown"
         href="#" role="button" aria-haspopup="true" aria-expanded="false">Maps</a>
      <div class="dropdown-menu">
        {% for view in views %}
          {% if view.type == "map" %}
            <a class="dropdown-item" href="?view={{ view.id }}">{{ view.name }}</a>
          {% endif %}
        {% endfor %}
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="/dataedit/view/{{ schema }}/{{ table }}/map/geom/new">Add gis view</a>
        <a class="dropdown-item" href="/dataedit/view/{{ schema }}/{{ table }}/map/latlon/new">Add lat/lon view</a>
      </div>
    </li>
  </ul>

  <div>
    <div class="datatable">
      <table class="display" id="datatable" style="width:100%">
        <thead>
        <tr></tr>
        </thead>
      </table>

       <div class="panel-group">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" href="#collapseBuilder">Filter dataset</a>
              </h4>
            </div>
            <div id="collapseBuilder" class="panel-collapse collapse">
              <div class="panel-body">
                <div id="builder" style="width: 100%"></div>
                <button id="btn-set" class="btn btn-success set-json" data-target="basic">Set rules</button>
                <button id="btn-download-view" class="btn btn-success set-json" data-target="basic">Download View</button>
              </div>
            </div>
          </div>
        </div>

      <div>

      </div>
      {% if current_view.type == "map" %}
        <div style='height: 800px; width: 100%;' id="map"></div>
      {% endif %}
      {% if current_view.type == "graph" %}
        <div id="datagraph"></div>
      {% endif %}
      <div id="loading-indicator" class="sk-fading-circle">
        <div class="sk-circle1 sk-circle"></div>
        <div class="sk-circle2 sk-circle"></div>
        <div class="sk-circle3 sk-circle"></div>
        <div class="sk-circle4 sk-circle"></div>
        <div class="sk-circle5 sk-circle"></div>
        <div class="sk-circle6 sk-circle"></div>
        <div class="sk-circle7 sk-circle"></div>
        <div class="sk-circle8 sk-circle"></div>
        <div class="sk-circle9 sk-circle"></div>
        <div class="sk-circle10 sk-circle"></div>
        <div class="sk-circle11 sk-circle"></div>
        <div class="sk-circle12 sk-circle"></div>
      </div>
    </div>
  </div>

  <div>
    <br>
    <br>
    <h4>
      Meta Information
    </h4>
    <button class="btn btn-sm btn-success" onclick="downloadMetadata();" data-toggle="tooltip" title="Download metadata in JSON format">Download JSON</button>
    <span class="mb-2" {% if not can_add %} data-toggle="tooltip" title="You need write permissions on this table to edit metadata" {% endif %}>
      <a href="{{table}}/meta_edit" type="button"  class="btn btn-success btn-sm {% if not can_add %} disabled {% endif %}">Edit</a>
    </span>

    {{ meta_widget }}
  </div>
{% endblock %}

{% block main-right-sidebar-content-additional %}

  <h4>Tags</h4>

  {% load dataedit.taghandler %}
  {% get_tags table=table schema=schema as table_tags %}
  {% include 'dataedit/taggable_setting.html' with table=table schema=schema selected=table_tags %}

  <hr>

  <h4>Downloads</h4>
  <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
    <a href="/api/v0/schema/{{ schema }}/tables/{{ table }}/rows?form=csv" type="button" class="btn btn-success">Download CSV</a>
    <a href="/api/v0/schema/{{ schema }}/tables/{{ table }}/rows?form=datapackage" type="button" class="btn btn-warning">Download Datapackage</a>
  </div>
  <hr>

  {% if schema == "model_draft" %}
    <h4>Uploads</h4>
    <span class="mb-2" {% if not can_add %} data-toggle="tooltip" title="You need write permissions on this table to upload data" {% endif %}>
      <a class="btn btn-sm btn-success {% if not can_add %} disabled {% endif %}" href="{% url 'wizard_upload' schema=schema table=table %}" >
        Upload CSV (Wizard)
    </a>
    </span>
    <hr>
  {% endif %}

  <h4>API Usage</h4>
  <textarea
    class="form-control" rows="6" cols="50"
    style="white-space: nowrap;font-size: 12px;resize: none;overflow-y: hidden;font-family: 'SFMono-Regular',Consolas,'Liberation Mono',Menlo,Courier,monospace;"
  >
from requests import get

result = get('https://{{ host }}/api/v0/schema/{{ schema }}/tables/{{ table }}/rows')
for row in result.json():
  # Process the row
  </textarea>
  <hr>

  <h4>Permissions</h4>
  <div class="btn-group btn-group-sm" role="group" aria-label="Actions">
    <a href="{{ table }}/permissions" type="button" class="btn btn-danger">Permissions</a>
  </div>
  <hr>

{% endblock main-right-sidebar-content-additional %}

{% block after-head %}

  <link rel="stylesheet" href="{% static 'dataedit/dataedit.css' %}">
  <link href="https://raw.githubusercontent.com/tobiasahlin/SpinKit/master/css/spinkit.css" rel="stylesheet">
  <link href="{% static 'dataedit/metadata.css' %}" rel="stylesheet">
  <link href="{% static 'dataedit/query-builder.default.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.1/dist/leaflet.css"
        integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
        crossorigin=""/>
  <link href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" rel="stylesheet">

{% endblock after-head %}

{% block after-body-bottom-js %}
  <script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
  <script src="{% static 'dataedit/wkx.min.js' %}"></script>
  <script src="{% static 'dataedit/proj4.js' %}"></script>
  <script type="text/javascript" src="{% static 'dataedit/query-builder.standalone.js' %}"></script>
  <script type="text/javascript" src="{% static 'dataedit/backend.js' %}"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://unpkg.com/json5@^2.0.0/dist/index.min.js"></script>

  <!-- Make sure you put this AFTER Leaflet's CSS -->
  <script src="https://unpkg.com/leaflet@1.3.1/dist/leaflet.js"
          integrity="sha512-/Nsx9X4HebavoBvEBuyp3I7od5tA0UzAxs+j83KgC8PU0kgB4XiK4Lfe4y4cgBtaRJQEIFCW+oC506aPT2L1zw=="
          crossorigin=""></script>


  <script>
      var csrftoken = getCookie('csrftoken');
      var table = '{{table}}';
      var schema = '{{schema}}';
      var view = {
          type: "{{ current_view.type }}",
          options: JSON5.parse("{{ current_view.options | escapejs }}")
      };
      load_view(schema, table, csrftoken, view);

      var downloadMetadata = function () {
          var metaUrl = "/api/v0/schema/{{ schema }}/tables/{{ table }}/meta";
          $.get(metaUrl).then(function(json){
            console.log(json);
            // create data url
            var json = JSON.stringify(json, null, 1);
            console.log(json);
            blob = new Blob([json], {type: "application/json"}),
            dataUrl = URL.createObjectURL(blob);
            // create link
            var a = document.createElement("a");
            document.body.appendChild(a);
            // assign url and click
            a.style = "display: none";
            a.href = dataUrl;
            a.download = '{{ table }}.metadata.json';
            a.click();
            // cleanup
            URL.revokeObjectURL(dataUrl);
            a.parentNode.removeChild(a);
          })
      };

      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
  </script>
{% endblock after-body-bottom-js %}




