{% extends 'dataedit/dataview.html' %}
{% load static %}
{% block title %} How to access our data {% endblock %}

{% block data_content %}
    <h3> How to access the database? </h3>
    <div style="clear: left; float: left; left: 50%;">
        <div>
            <table style="float: left; right: 50%; margin:10px">
                <tr>
                    <td style="width:440px;padding-right:50px">
                        <a href="/dataedit/schemas">
                            <img src="{% static 'dataedit/dataview.png' %}"/>
                        </a>
                    </td>
                    <td>
                        <a href="http://oep-data-interface.readthedocs.io/en/latest/api/how_to.html">
                            <img src="{% static 'dataedit/api.png' %}"/>
                        </a>
                    </td>
                </tr>
                <tr>
                    <td style="width:440px;padding-right:50px;vertical-align: text-top;" >
                        Use the OEP-Dataview if you want to browse data and get an
                        overview on what kind of datasets are available on the OEP and
                        how they are structured. The OEP features functionalities for
                        different views on datasets, such as graphs and maps.
                    </td>
                    <td style="width:440px;vertical-align: text-top;">
                        Use the OEP-API if you want to use the data published on this
                        platform for your own purpose. You may also add new datasets to
                        the platform, create new tables and much more. See the <a href="https://github.com/openego/oeplatform/wiki"><span class="glyphicon glyphicon-share"></span>Wiki to start a tutorial</a>.
                    </td>
                </tr>

            </table>
        </div>
        <div>
        <br/>
        <hr/>
        <h4>Tutorials</h4>
            If you want to learn about how to integrate the API into your
            project, take a look at our tutorials:
            <ul>
                <li><a href="https://github.com/OpenEnergyPlatform/examples/blob/master/api/OEP_API_tutorial_part1.ipynb">Tutorial - How to work with the OpenEnergy Platform (OEP)</a> </li>
                <li><a href="https://github.com/OpenEnergyPlatform/examples/blob/master/api/OEP_API_tutorial_part2.ipynb">Tutorial - How to customize your results</a> </li>
                <li><a href="https://github.com/OpenEnergyPlatform/examples/blob/master/api/OEP_API_tutorial_part3.ipynb">Tutorial - How to use my results in pandas</a> </li>
                <li><a href="https://github.com/OpenEnergyPlatform/examples/blob/master/api/OEP_API_tutorial_part4.ipynb">Tutorial - How to export my results</a> </li>
            </ul>
        </div>
    </div>
{% endblock %}
