{% extends "dataedit/base.html" %}

{% block data_content %}
<div id="comment_modal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Comment</h4>
          </div>
          <div class="modal-body">
            <p> Method: <span id="modal_method"></span></p>
            <p> Origin: <span id="modal_origin"></span> </p>
            <p> Assumption: <span id="modal_assumption"></span></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
    </div>
</div>
{% load staticfiles %}
{% load bootstrap3 %}
{% block heading %}{% endblock %}

{% load dataedit.taghandler %}
{% get_tags table=table schema=schema as table_tags%}
{% include 'dataedit/taggable_setting.html' with table=table schema=schema selected=table_tags %}
<hr>

<link rel="stylesheet" href="{% static 'dataedit/dataedit.css' %}">
<script type="text/javascript" src="{% static 'dataedit/views.js' %}"></script>

<!-- vendor css -->
<link href="{% static 'dataedit/recline/vendor/leaflet/0.7.3/leaflet.css' %}" rel="stylesheet">
<link href="{% static 'dataedit/recline/vendor/leaflet.markercluster/MarkerCluster.css' %}" rel="stylesheet">
<link href="{% static 'dataedit/recline/vendor/leaflet.markercluster/MarkerCluster.Default.css' %}" rel=
  "stylesheet">
<link rel="stylesheet" href="{% static 'dataedit/recline/vendor/slickgrid/2.2/slick.grid.css' %}">

<!-- recline css -->
<link href="{% static 'dataedit/recline/css/map.css' %}" rel="stylesheet">

<link href="{% static 'dataedit/recline/css/multiview.css' %}" rel="stylesheet">
<link href="{% static 'dataedit/recline/css/slickgrid.css' %}"rel="stylesheet">
<link href="{% static 'dataedit/recline/css/flot.css' %}" rel="stylesheet">
<link href="https://raw.githubusercontent.com/tobiasahlin/SpinKit/master/css/spinkit.css" rel="stylesheet">
<link href="{% static 'dataedit/metadata.css' %}" rel="stylesheet">
<!-- Vendor JS - general dependencies -->

<script type="text/javascript">
    var bs_jQuery = $.noConflict(true);
</script>

<script src="{% static 'dataedit/recline/vendor/jquery/1.7.1/jquery.js' %}" type="text/javascript"></script>
<script src="{% static 'dataedit/recline/vendor/underscore/1.4.4/underscore.js' %}" type="text/javascript"></script>
<script src="{% static 'dataedit/recline/vendor/backbone/1.0.0/backbone.js' %}" type="text/javascript"></script>
<script src="{% static 'dataedit/recline/vendor/mustache/0.5.0-dev/mustache.js' %}" type="text/javascript"></script>
{#<script src="{% static 'dataedit/recline/vendor/bootstrap/3.2.0/js/bootstrap.js' %}" type="text/javascript"></script>#}

<!-- Vendor JS - view dependencies -->
<script src="{% static 'dataedit/recline/vendor/leaflet/0.7.3/leaflet.js' %}" type="text/javascript"></script>
<script src="{% static 'dataedit/recline/vendor/leaflet.markercluster/leaflet.markercluster.js' %}" type="text/javascript"></script>
<script type="text/javascript" src="{% static 'dataedit/recline/vendor/flot/jquery.flot.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/recline/vendor/flot/jquery.flot.time.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/recline/vendor/moment/2.0.0/moment.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/recline/vendor/slickgrid/2.2/jquery-ui-1.8.16.custom.min.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/recline/vendor/slickgrid/2.2/jquery.event.drag-2.2.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/recline/vendor/slickgrid/2.2/slick.core.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/recline/vendor/slickgrid/2.2/slick.formatters.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/recline/vendor/slickgrid/2.2/slick.editors.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/recline/vendor/slickgrid/2.2/slick.grid.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/recline/vendor/slickgrid/2.2/plugins/slick.rowselectionmodel.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/recline/vendor/slickgrid/2.2/plugins/slick.rowmovemanager.js' %}"></script>
<!-- Recline JS (combined distribution, all views) -->
<script type="text/javascript" src="{% static 'dataedit/recline/dist/recline.js' %}"></script>

<script>
    unchecked = false;
    function swap_checked(){
        unchecked = !unchecked;
        build_views();
    }
</script>

<script type="text/javascript" src="{% static 'dataedit/editors.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/backend.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/dumps.js' %}"></script>

<script type="text/javascript">

</script>

<div class="container">
  <style type="text/css">
    .recline-slickgrid {
      min-height: 700px;
    }

    .changelog {
      display: none;
      border-bottom: 1px solid #ccc;
      margin-bottom: 10px;
    }
  </style>

    <label class="btn btn-danger" for="unchecked_box"> <input type="checkbox" id="unchecked_box" onclick="swap_checked()"> Show unchecked rows</label>

    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Data
                </h4>
            </div>
            <div>
                <div class="data-explorer-here"></div>
            </div>
        </div>
        <hr>
        <div id="unchecked_data_div" class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    Data (unverified)
                </h4>
            </div>
            <div>
                <div class="data-unchecked-explorer-here"></div>
            </div>

        </div>
    </div>

    {% if request.user.is_authenticated %}
    <div class="well">
        <span class="lead">Commit your changes</span><br>
        Your changes will not be written to the actual OpenEnergyDatabase but an
        additional schema. <br>
        New or changed data has to pass a validation process before it
        is publicated in the next revision. <br>

        <div class="form-group" style="margin:10px">
            <label for="commit-message">Commit message</label>
            <input class="form-control" type="textarea" name="comment" id="commit-message">

            Along with you proposed changes the OEP will save your username and the
            current timestamp. These dates will be shown on the overview of data
            modifications.

        <p><input name="agree">I agree</p>
            <a href="" class="btn btn-success" id="savebutton"> Save </a>
        </div>
    </div>
    {% endif %}

    {% if is_admin %}
        ADMIN
    {% else %}
        NO ADMIN
    {% endif %}

  <div style="clear: both;"></div>
    Data is displayed using <a href="http://okfnlabs.org/recline/">recline.js</a>
</div>

{% block script %}{% endblock %}

<div>
    <h4>Metadata</h4><a href="{{table}}/meta_edit"> Edit</a>
    <table class="table">
        <tr>
            <th>Title</th>
            <td>{{comment_on_table.title}}</td>
        </tr>
        <tr>
            <th>Description</th>
            <td class="metavalue">{{comment_on_table.description}}</td>
        </tr>
        <tr>
            <th>Languages</th>
            <td class="metavalue">
              <ul>
                {% for row in comment_on_table.language %}
                    <li>{{row}}</li>
                {% endfor %}
              </ul>
            </td>
        </tr>
        <tr>
            <th>Reference date</th>
            <td class="metavalue">{{comment_on_table.reference_date}}</td>
        </tr>
        {% if comment_on_table.sources %}
        <tr>
            <th>Sources</th>
            <td>

                {% for row in comment_on_table.sources %}
                    <p class="metaproperty">
                    {% if row.url %}
                        <a href="{{row.url}}">{{row.name}}</a>
                    {% else %}
                        {{row.name}}
                    {% endif %}
                    </p>
                    <ul>
                        <li> Description: {{row.description }}</li>
                        <li> License: {{row.license }}</li>
                    </ul>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if comment_on_table.spatial %}
        <tr>
            <th>Spatial</th>
            <td>
            {% for row in comment_on_table.spatial %}
                {{row.extend}} {% if row.resolution %} ({{row.resolution}}) {% endif %} <br/>
            {% endfor %}</td>
        </tr>
        {% endif %}

        {% if comment_on_table.license %}
        <tr>
            <th>License</th>
            <td>
                {% for row in comment_on_table.license %}
                    <p class="metaproperty">
                        {% if row.url %}
                            <a href="{{row.url}}">{{row.name}} ({{row.id}})</a>
                        {% else %}
                            {{row.name}} ({{row.id}})
                        {% endif %}
                    </p>
                    <ul>
                        <li> Version: {{row.version }}</li>
                        <li> Instruction: {{row.instruction }}</li>
                        <li> Copyright: {{row.copyright }}</li>
                    </ul>
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if comment_on_table.contributors %}
        <tr>
            <th>Contributors</th>
            <td>
                {% for row in comment_on_table.contributors %}
                    <p class="metaproperty">
                        {% if row.email %}
                            <a href="mailto:{{row.email}}">{{row.name}} ({{row.date}})</a>
                        {% else %}
                            {{row.name}} ({{row.date}})
                        {% endif %}
                    </p>
                    {{row.comment}}
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% if comment_on_table.fields %}
        <tr>
            <th>Columns</th>
            <td>
                    {% for source in comment_on_table.fields %}
                        <p class="metaproperty">{{source.name}} {% if source.unit %} (in {{source.unit}}) {% endif %}</p>
                        {% if source.description %}
                            {{source.description}}
                        {% else %}
                            No description
                        {% endif %}
                        <hr>
                    {% endfor %}
            </td>
        </tr>
        {% endif %}
    </table>
</div>

<hr>




{% endblock %}
