{% extends 'dataedit/base.html' %}
{% load static %}
{% block title %} How to access the database {% endblock %}

{% block site-header %}
    <h2 class="site-header">How to access the database?</h2>
{% endblock site-header %}


{% block main %}
        <div style="display: flex;flex-flow: column; max-width: 1000px; margin: 0 auto">
            <div style="display: grid; grid-template-columns: 1fr 1fr; grid-template-rows: auto auto; grid-gap: 1em; text-align: justify; justify-items: center; max-width: 1000px; margin-bottom:  2em;'">
              <a href="/dataedit/schemas">
                  <img src="{% static 'dataedit/dataview.png' %}"/>
              </a>
              <a href="http://oep-data-interface.readthedocs.io/en/latest/api/how_to.html">
                  <img src="{% static 'dataedit/api.png' %}"/>
              </a>
              <span>
                  Use the OEP-Dataview if you want to browse data and get an
                  overview on what kind of datasets are available on the OEP and
                  how they are structured. The OEP features functionalities for
                  different views on datasets, such as graphs and maps.
              </span>
              <span>
                  Learn how to use the OEP-API. You can use it to access the data 
                  published on this platform for your own purpose. You may also 
                  add new datasets, create new tables and run more sophisticated queries.
              </span>
            </div>
        </div>

{% endblock main %}
