{% extends "dataedit/filter.html" %}
{% load static %}
{% block title %} - {{schema}}{% endblock %}

{% block site-header %}
<link rel="stylesheet" href="{% static 'dataedit/data-list.css' %}">
<i class="far fa-ruler"></i>
<h2 class="site-header"><a href="/dataedit/schemas"><i class="fas fa-arrow-alt-circle-left "></i>Data categorie</a>: {{ schema }}</h2>
{% endblock site-header %}

{% block data_content %}
{% load dataedit.taghandler %}

<div id="tables-box">
    <div id="tables" class="row row-cols-1 g-4">

        {% for table, meta_data, tags in tables %}
        <div class="col">
            <div class="card shadow" style="margin-bottom:20px;">
                <div class="card-header bg-primary">
                    <ul class="nav nav-pills card-header-pills">
                        <li class="nav-item"
                            onclick="window.open('/dataedit/view/{{ schema }}/{{ table }}', name='_blank')">
                            <a class="nav-link bg-success rounded active">
                                <i class="fas fa-external-link-alt"></i>
                                View Data
                            </a>
                        </li>
                        <!-- <li class="nav-item">
                            <h6 class="card-subtitle mb-2 text-muted">Table ID: {{ table }}</h6>
                        </li> -->
                    </ul>
                </div>
                <div class="card-body">
                    <!-- Is there a use case for this extra badge? -->
                    <!-- <span class="badge badge-pill badge-primary">Various data</span> -->

                    {% if meta_data.0 %}
                    <h5 class="card-title">{{ meta_data.0 }}</h5>
                    {% else %}
                    <h5 class="card-title">{{ table }}</h5>
                    {% endif %}
                    <p class="card-text">
                    <h6 class="card-subtitle">
                        <a tabindex="0" class="" role="button" data-toggle="popover" data-trigger="manual"
                            title="Add Tags to a data table:"
                            data-content="Tags can be added when viewing a data table. If you can't find a Tag thats fits the data you can create <a href='/dataedit/tags' target='_blank'>new Tags</a>.">
                            <i class="fas fa-info-circle" style="color: #3B77A0;"></i>
                        </a>
                        Tags
                    </h6>

                    {% for tag in tags %}
                    <!-- <i class="fas fa-bookmark" style="color: {{tag.color}};"></i> -->
                    <i class="fas fa-hashtag" style="color: {{tag.color}};"></i>
                    <a class="btn tag" href="/dataedit/view/{{ schema }}?query=&tags={{ tag.id }}"
                        style="background:{{tag.color}};color:{% readable_text_color tag.color %}">{{tag.name}}</a>
                    {% endfor %}
                    </p>
                </div>

                <ul class="nav nav-tabs" id="metaTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general-{{ table }}"
                            role="tab" aria-controls="general-{{ table }}" aria-selected="true">General</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="license-tab" data-toggle="tab" href="#license-{{ table }}" role="tab"
                            aria-controls="license-{{ table }}" aria-selected="false">License</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="contibutor-tab" data-toggle="tab" href="#contibutor-{{ table }}"
                            role="tab" aria-controls="contibutor-{{ table }}" aria-selected="false">Contibutor</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="more-tab" data-toggle="tab" href="#more-{{ table }}" role="tab"
                            aria-controls="more-{{ table }}" aria-selected="false">More</a>
                    </li>
                </ul>

                <div class="tab-content" id="metaTabContent">
                    <div class="tab-pane fade active show" id="general-{{ table }}" role="tabpanel"
                        aria-labelledby="general-tab">
                        <ul class="list-group list-group-flush">
                            {% for k, v in meta_data.1.context.items %}
                                {% if v and k is not None %}
                                <div class="list-group-item flex-column align-items-start">
                                    <div class="d-flex justify-content-between">
                                      <h5 class="mb-1">{{ k |capfirst }}</h5>
                                    </div>
                                    <p class="mb-1">{{ v }}</p>
                                </div>
                                
                                {% else %}
                                <li class="list-group-item"> No metadata present </li>
                                {% endif %}
                                {% empty %}
                                <li class="list-group-item"> No entries found</li>
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="tab-pane fade " id="license-{{ table }}" role="tabpanel" aria-labelledby="license-tab">
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">License:</li>
                            <li class="list-group-item">Contibutor:</li>
                            <li class="list-group-item">More:</li>
                        </ul>
                    </div>
                    <div class="tab-pane fade" id="contibutor-{{ table }}" role="tabpanel" aria-labelledby="contibutor-tab">...</div>
                    <div class="tab-pane fade" id="more-{{ table }}" role="tabpanel" aria-labelledby="more-tab">...
                    </div>
                </div>
                <div class="card-footer bg-info">
                    <a class="card-link text-white">Last Updated: datetimehere</a>
                    <a class="card-link text-white">Change subject: Metadata latest crontribution subject</a>
                </div>
            </div>
        </div>
        {% endfor %}

    </div>
</div>

{% endblock %}