{% extends "base/base.html" %}
{% load bootstrap4 %}
{% load dataedit.taghandler %}
{% load staticfiles %}
{% block main-content-body %}
    <link href="https://raw.githubusercontent.com/tobiasahlin/SpinKit/master/css/spinkit.css" rel="stylesheet">
    <script type="text/javascript" src="{% static 'dataedit/dumps.js' %}"></script>
    {% if revisions %}
    <table class="table table-hover">
        <tr>
            <th>Date</th>
            <th>Included datasets</th>
        </tr>
        {% for rev in revisions %}
            <tr>
                <td> {{rev.date}} </td>
                <td><a href="{{rev.path}}">Download</a>  ({% format_bytes rev.size %}) </td>
            </tr>
        {% endfor %}
        {% for (ps, pt, pd) in pendings %}
            <tr>
                <td> {{pd}} </td>
                <td><div id="revision_request_{{schema}}{{table}}"><script>request_dump({{schema}}, {{table}}, {{date}});</script></div></td>
            </tr>
        {% endfor %}
    </table>
    {% else %}
        No cached revisions.
    {% endif %}
{% if not pendings %}
<button id='request' class="btn btn-success" onclick="request_dump_only('{{schema}}', '{{table}}');"><div id="revision_request_{{schema}}{{table}}">Request Revision</div></button>
{% endif %}
{% endblock %}
