{% extends "dataedit/base.html" %}
{% block title %} - {{schema}}{% endblock %}
{% block data_content %}
{% load dataedit.taghandler %}
<h3>Schema: {{schema}}</h3>

<table id="tables" class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Tags</th>
        </tr>
    </thead>
    <tbody>
        {% for table, label in tables %}
            {% get_tags table=table schema=schema as table_tags%}

            <tr onclick="window.location='/dataedit/view/{{ schema }}/{{ table }}'">
                {% if label %}
                    <td>{{ label }}</td>
                {% else %}
                    <td>{{ table }}</td>
                {% endif %}
                <td>
                    {% for tag in table_tags %}
                        <button class="btn tag" style="background:{{tag.color}};color:{% readable_text_color tag.color %}">{{tag.name}}</button>
                    {% endfor %}
                </td>
            </tr>
        {% endfor %}

    </tbody>
</table>

{% endblock %}

{% block main-right-sidebar-content-additional %}
    <hr>
    <h5>Tags:</h5>
    {% include 'dataedit/taggable_setting.html' with schema=schema.name %}
{% endblock  %}
