{% extends "dataedit/base.html" %}


{% block main-right-sidebar-filter %}
<!-- extending the filter block to add wizard button -->

<h3>Create Table</h3>
<a class="btn btn-success" href="{% url 'wizard_create' %}">
    Create new table
</a> in the <a href="{% url 'input' 'model_draft' %}">model_draft</a> schema.
<hr>
<div style="display: flex;">
    <h3>Search & filter</h3>
    <button type="button" 
    class="btn btn-outline-light" 
    data-toggle="popover" 
    data-trigger="focus" 
    title="How to use search and filter" 
    {% if not tables%}
    data-content="Use the Filters on Tags or try searching for text that may occur in table names or in metadata. If you filter for multiple Tags, only schemas containing tables with all filtered Tags will be displayed." 
    {% else %}
    data-content="Use the Filters on Tags or try searching for text that may occur in table names or in metadata."
    {% endif %}
    style="margin-left: 10px;">
        <i class="fas fa-info-circle" style="color: #3B77A0;"></i>
    </button>
</div>
<form action="{{ request.path }}" method="get">
    <h5>Text</h5>
    <div class="searchbox_container small">
        <input type="text" name="query" placeholder="Search" value="{% firstof query "" %}" class="form-control" />
    </div>
    {% load dataedit.taghandler %}
    {% get_tags None None None as all_tags %}
    <h5>Tags</h5>
    <div id="tags">
        <div style="display: flex; flex-flow: wrap; margin-bottom: 1em;">
            <select name="tags" class="selectpicker" multiple data-live-search="true"
                title="Click and search all Tags..." data-style="btn-outline-primary" data-width="auto" style="">
                {% for t in all_tags %}
                <option value="{{ t.id }}">
                    {{ t.name }}
                </option>
                {% endfor %}
            </select>
        </div>
        <div style="padding-bottom: 15px;">
            <button type="submit" class="btn btn-success">
                Apply Filters
            </button>
            <a class="btn btn-danger" href="{{ request.path }}">
                Reset Filters
            </a>
        </div>
    </div>
</form>
<hr>
<div id="howto" class="collapse show foldable-entry-body">
    <ul class="list-group">
        <p class="font-weight-bold" style="margin-bottom: 0px;">Add Tags to a table:</p>
        <li class="list-group-item">Tags can be added when viewing a table.</li>
        <p class="font-weight-bold" style="margin-bottom: 0px; margin-top: 10px;">Create new Tags:</p>
        <li class="list-group-item">You can create <a href="/dataedit/tags">new Tags</a>.</li>
    </ul>
</div>
{% endblock main-right-sidebar-filter %}

{% block after-body-bottom-js %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.0/dist/css/bootstrap-select.min.css">
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.0/dist/js/bootstrap-select.min.js"></script>
<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
        $('.popover-dismiss').popover({
            trigger: 'focus'
        })
    })
</script>
{% endblock after-body-bottom-js %}