{% extends "dataedit/base.html" %}


{% block main-right-sidebar-filter %}

<h3>Filters</h3>
<form action="{{ request.path }}" method="get">
    <div class="searchbox_container small">
        <input type="text" name="query" placeholder="Search" value="{% firstof query "" %}" class="form-control" />
    </div>
    <hr>
    {% load dataedit.taghandler %}
    {% get_tags None None 10 as all_tags %}
    <div class="foldable-entry">
        <h5>Tags</h5>
        <span class="fa fa-caret-up" data-toggle="collapse" data-target="#tags"></span>
        <div id="tags" class="collapse show foldable-entry-body">
            <div style="display: flex; flex-flow: wrap">
                {% for t in all_tags %}
                    <label class="tag-checkbox-container {% if t.id in tags %} tag-checkbox-checked {% endif %}" style="background:{{ t.color }};color:{% readable_text_color t.color %}">
                        <input {% if t.id in tags %} checked="checked" {% endif %} type="checkbox" class="tag-checkbox" name="tags" value="{{ t.id }}">
                        <span>{{ t.name }}</span>
                        <span class="tag-checkbox-icon fas fa-check"></span>
                    </label>
                {% endfor %}
            </div>
            <button type="submit" class="btn btn-secondary">
                Apply Filters
            </button>
            <a class="btn btn-secondary" href="{{ request.path }}" >
                Reset Filters
            </a>
        </div>
    </div>
</form>

<!-- extending the filter block to add wizard button -->
<hr>
<h3><i class="fa fa-hat-wizard"></i> Wizard</h3>
<a class="btn btn-secondary" href="{% url 'wizard_create' %}" >
    Create new table
</a> in the <a href="{% url 'input' 'model_draft' %}">model_draft</a> schema.

{% endblock main-right-sidebar-filter %}