{% load dataedit.metadata %}
<table style="width:100%">
    <tr><td><label for="{{id}}_container">{{name}}</label></td></tr>
    <tr>
        <td style="width:150px"/>
        <td>
            <div id="{{id}}_container">
                {# <script type="text/javascript"> #}
                    {% for ref in list %}
                        {{ref}}
                    {% endfor %}
                {# </script> #}
            </div>
            <a onclick="add_list_field('{{id}}')">Add</a>
        </td>
    </tr>

</table>