{% extends "dataedit/base.html" %}

{% block data_content %}
{% load static %}
<script type="text/javascript" src="{% static 'dataedit/metadata.js' %}"></script>
<link href="{% static 'dataedit/metadata.css' %}" rel="stylesheet">
<script type="text/javascript">

</script>

<div>
    <h4>Metadata</h4>
    <div class="table table-hover">
        <form action="" role="form" method="post">{% csrf_token %}
            {{meta_widget}}
            <input class="btn btn-success" type="submit" value="Submit" />
        </form>
    </div>
</div>

{% endblock %}
