{% extends "dataedit/base.html" %}
{% load static %}
{% load django_bootstrap5 %}

{% block after-head %}
<link href="/static/peer_review/peer_review.css" rel="stylesheet">
{% endblock after-head %}


{% block site-header %}
<h2 class="site-header"><span class="spinner-border text-primary d-none" id="peer_review-loading"></span>
    <i class="fa fa-tags d-none mr-2" id="peer_review-icon"></i>Metadata</span>
</h2>
{% endblock site-header %}

{% block main %}

<ul class="nav nav-tabs sticky-top" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="general-tab" data-bs-toggle="tab" data-bs-target="#general" type="button" role="tab" aria-controls="general" aria-selected="true">General Keys</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="spatiotemporal-tab" data-bs-toggle="tab" data-bs-target="#spatiotemporal" type="button" role="tab" aria-controls="spatiotemporal" aria-selected="false"> Spatiotemporal Keys</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="source-tab" data-bs-toggle="tab" data-bs-target="#source" type="button" role="tab" aria-controls="source" aria-selected="false">Source Keys</button>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="license-tab" data-bs-toggle="tab" data-bs-target="#license" type="button" role="tab" aria-controls="license" aria-selected="false">License Keys</button>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="contributor-tab" data-bs-toggle="tab" data-bs-target="#contributor" type="button" role="tab" aria-controls="contributor" aria-selected="false">Contributor Keys</button>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="resource-tab" data-bs-toggle="tab" data-bs-target="#resource" type="button" role="tab" aria-controls="resource" aria-selected="false">Resource Keys</button>
  </li>
    <li class="nav-item" role="presentation">
    <button class="nav-link" id="summary-tab" data-bs-toggle="tab" data-bs-target="#summary" type="button" role="tab" aria-controls="summary" aria-selected="false">Summary</button>
  </li>
</ul>

<div class="row">
    <div class="col-md-8">
        <div class="tab-content" id="myTabContent">

          <div class="tab-pane fade" id="general" role="tabpanel" aria-labelledby="general-tab">
            <div class="flex-container">
              {% for item in meta.general %}<div id="field_{{item.field}}" class="field" onclick="click_field('{{item.field}}', '{{ item.value }}');">
                <p>{% if item.field is Null %}
                  {{item.field}}:  {{ item.value }}
                 {% else %}
                  {{ item.field}}: {{ item.value }}
                 {% endif %}
              </p>

            </div>  {% endfor %}
            </div>

          </div>

          <div class="tab-pane fade" id="spatiotemporal" role="tabpanel" aria-labelledby="spatiotemporal-tab">
              <div class="flex-container">
              <p>SPATIAL</p>
            {% for item in meta.spatial %}<div id="field_{{item.field}}" class="field" onclick="click_field('{{item.field}}', '{{ item.value }}');"><p>{{item.field}}:  {{ item.value }} </p></div>  {% endfor %}
              <p>TEMPORAL</p>
            {% for item in meta.temporal %}<div id="field_{{item.field}}" class="field" onclick="click_field('{{item.field}}', '{{ item.value }}');">
              <p>{% if item.field is Null %}
                  {{item.field}}:  {{ item.value }}
                 {% else %}
                  {{item.field}}: {{ item.value }}
                 {% endif %}
              </p></div>  {% endfor %}
              </div>

          </div>
          <div class="tab-pane fade" id="source" role="tabpanel" aria-labelledby="source-tab">
              <div class="flex-container">
              {% for item in meta.source %} <div id="field_{{item.field}}" class="field" onclick="click_field('{{item.field}}', '{{ item.value }}');">
              <p>{% if item.field is Null %}
                  {{ item.field }} : {{ item.value }}
                 {% else %}
                  {{ item.field }}: {{ item.value }}
                 {% endif %}
              </p></div> {% endfor %}
              </div>

          </div>
          <div class="tab-pane fade" id="license" role="tabpanel" aria-labelledby="license-tab">
              <div class="flex-container">

              {% for item in meta.license %}<div id="field_{{item.field}}" class="field" onclick="click_field('{{item.field}}', '{{ item.value }}');">
                  <p>{{item.field}}:  {{ item.value }} </p></div>  {% endfor %}
              </div>
          </div>

          <div class="tab-pane fade" id="contributor" role="tabpanel" aria-labelledby="contributor-tab">
              <div class="flex-container">
              {% for item in meta.contributor %}<div id="field_{{item.field}}" class="field" onclick="click_field('{{item.field}}', '{{ item.value }}');">
                  <p>{{item.field}}:  {{ item.value }} </p></div>  {% endfor %}
              </div>
          </div>

          <div class="tab-pane fade" id="resource" role="tabpanel" aria-labelledby="resource-tab">
            <div class="flex-container">
              {% for item in meta.resource %}<div id="field_{{item.field}}" class="field" onclick="click_field('{{item.field}}', '{{ item.value }}');">
                  <p>{{item.field}}:  {{ item.value }} </p></div>  {% endfor %}
              </div>
          </div>
          <div class="tab-pane fade" id="summary" role="tabpanel" aria-labelledby="summary-tab">Add Summary content here</div>

        </div>
    </div>

    <div class="col-md-4">
        <div class="flex-reviewer sticky-top" id="review-window">
            <p>Reviewer Box</p>
            <hr>
            <h2 id="review-field-name"></h2>
            <hr>
            <div class="btn-group" id="button-class" role="group" style="width:10%" aria-label="Basic mixed styles example">
                <button type="button" class="btn btn-success" id="ok-button" value="ok" onclick="selectState('ok');">Ok</button>
                <button type="button" class="btn btn-warning" id="suggestion-button" value="suggestion" onclick="selectState('suggestion');">Suggestion</button>
                <button type="button" class="btn btn-sm btn-danger" id="rejected-button" value= "rejected" onclick="selectState('rejected');">Rejected</button>
            </div>

            <div class="mb-3" id="field-value">
                <label for="valuearea" class="form-label">Your value suggestion</label>
                <textarea class="form-control" id="valuearea" rows="2" ></textarea>
            </div>

            <div class="mb-3" id="field-comment">
              <label for="commentarea" class="form-label" ></label>
              <textarea class="form-control" id="commentarea" rows="2" placeholder="Comment here if you want to explain your suggestion" ></textarea>
            </div>

            <button type="button" class="btn btn-success" id="submit-button" style="width:50%">Save comment/new value</button>

        </div>
    </div>
</div>

<hr>

<div class="" id="peer_review-controls">
    <div class="col">
        <button class="btn btn-sm btn-primary mr-2" id="peer_review-cancel">Quit</button>

        <span class="" {% if not can_add %} data-toggle="tooltip" title="You need write permissions on this table to upload meta data" {% endif %}>
            <a href="#peer_review-submit" class="btn btn-sm btn-warning mr-2 {% if not can_add %} disabled {% endif %}" id="peer_review-submit">
                <span class="spinner-border text-light d-none mr-2 spinner-border-sm" id="peer_review-submitting">
                </span>Save Review Progress
            </a>
        </span>


        <button class="btn btn-sm btn-success mr-2 disabled" id="submit_summary">Submit summary</button>
    </div>
</div>



{% endblock main %}


{% block after-body-bottom-js %}
  <script>
    var config = JSON.parse("{{ config|escapejs }}");
  </script>
  <script src="/static/peer_review/peer_review.js"></script>
{% endblock after-body-bottom-js %}
