{% extends "dataedit/base.html" %}
{% load dataedit.metadata %}
{% load static %}
{% load django_bootstrap5 %}


{% block site-header %}
<h2>See all parts of the metadatastring below, divided in each section.
</h2>
{% endblock site-header %}


{% block main %}

<nav class="nav nav-pills nav-justified">
  <a class="nav-link active" href="#">General Keys</a>
  <a class="nav-link" href="#">Spatial and Temporal Keys</a>
  <a class="nav-link" href="#">Source Keys</a>
  <a class="nav-link" href="#">License Keys</a>
  <a class="nav-link" href="#">Contributor</a>
  <a class="nav-link" href="#">Resource Keys</a>
  <a class="nav-link" href="#">Summary</a>
</nav>
{% endblock main %}
