{% extends "dataedit/base.html" %}

{% block data_search %} {# This replaces the tiny search bar in the default template #}
{% endblock %}
{% block data_content %}
{% load dataedit.taghandler %}
<div class="searchbox_container small">
    <form action="/dataedit/search" role="form" method="post">{% csrf_token %}
        <div class="inner-addon right-addon">
            <a href="" type="submit" class="glyphicon glyphicon-search"></a>
            <input type="text" name="string" placeholder="Search for datasets" class="form-control" />
        </div>
        <div class="well">
<h4>Select tag filter:</h4>
            <div>
                {% for t in tags %}
                <span>
                    <input type="checkbox" class="hidden" name="select_{{t.id}}" id="select_{{t.id}}">
                    <label style="background:{{ t.color }}; color:{% readable_text_color t.color %}" class="btn tag" for="select_{{t.id}}" {%if t.id in selected %} checked {%endif%}>{{t.name}}</label>
                </span>
                {% endfor %}
            </div>
        </div>
    </form>
</div>
{%if not results %}
No matches found
{% endif %}
<div class="list-group">
{% for r in results %}
    <div class="inner-addon right-addon">
        <a class="list-group-item list-group-item-action" href="/dataedit/view/{{r.schema}}/{{r.table}}">
            {% get_tags table=r.table schema=r.schema as table_tags%}
            {% include 'dataedit/tagged_field.html' with label=r.table tags=table_tags %}
        </a>
    </div>

{% endfor %}
</div>
{% endblock %}