{% extends "dataedit/base.html" %}

{% block data_search %} {# This replaces the tiny search bar in the default template #}
{% endblock %}
{% block data_content %}

<div class="searchbox_container small">
    <form action="/dataedit/search" method="post">{% csrf_token %}
        <div class="inner-addon right-addon">
            <a href="" type="submit" class="glyphicon glyphicon-search"></a>
            <input type="text" name="string" placeholder="Search for datasets" class="form-control" />
        </div>
    </form>
</div>
{% include 'dataedit/map.html' %}
{%if not results %}
No matches found
{% endif %}
<div class="list-group">
{% for schema, table in results %}
    <div class="inner-addon right-addon">

        <a class="list-group-item" href="/dataedit/view/{{schema}}/{{table}}">{{schema}}.{{table}}</a>
    </div>

{% endfor %}
</div>
{% endblock %}