{% extends "dataedit/base.html" %}
{% load bootstrap4 %}

{% block site-header %}
  <h2 class="site-header">Create Map View</h2>
{% endblock %}


{% block data_content %}
{% load static %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form latlonform %}
    <input type="hidden" name="maptype" value="latlon">
    <input class="btn btn-success" type="submit" value="Submit Form"/>
</form>

<hr>

<form method="post">
    {% csrf_token %}
    {% bootstrap_form geomform %}
    <input type="hidden" name="maptype" value="geom">
    <input class="btn btn-success" type="submit" value="Submit Form"/>
</form>

{% endblock %}