<!--
SPDX-FileCopyrightText: 2019 Pierre Francois <Bachibouzouk>
SPDX-FileCopyrightText: 2020 Martin Glauer <MGlauer>
SPDX-FileCopyrightText: 2020 Johann Wagner <johannwagner>
SPDX-FileCopyrightText: 2022 Bryan Lancien <bmlancien>
SPDX-FileCopyrightText: 2022 Christian Winger <wingechr>
SPDX-FileCopyrightText: oeplatform <https://github.com/OpenEnergyPlatform/oeplatform/>
SPDX-License-Identifier: MIT
-->

{% extends "dataedit/base.html" %}
{% load django_bootstrap5 %}


{% block site-header %}
  <h2 class="site-header">Create Graph View</h2>
{% endblock %}

{% block data_content %}
{% load static %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form formset %}
    <input class="btn btn-success" type="submit" value="Submit Form"/>
</form>
{% endblock %}
