{% extends "dataedit/base.html" %}
{% load static %}
{% block site-header %}
  <div class="main-header">
    <h1 class="main-header__title">Database</h1>
    <div class="main-header__wizard">
      {% if pk %}
        Edit Tag
      {% else %}
        Create Tag
      {% endif %}
    </div>
  </div>
{% endblock site-header %}
{% block data_content %}
  {# The standalone page: the same partial the overview's panel loads. #}
  <div class="row">
    <div class="col-lg-6">
      {% include "dataedit/partials/tag_editor_form.html" %}
    </div>
  </div>
{% endblock %}
{% block after-body-bottom-js %}
  {{ block.super }}
  <script src="{% static 'ontology/htmx.js' %}"></script>
{% endblock after-body-bottom-js %}
