<div class="tagcontainer">
    {% load dataedit.taghandler %}
    {% get_tags as all_tags %}
    {% if not selected %}
        No tags were added, yet.
    {% endif %}
    {% for t_id, t_name, t_color in selected %}
        <a href="" class="btn tag" style="background:{{t_color}};color:{% readable_text_color t_color %}">{{ tag.label }}</a>
    {% endfor %}
    {% if user.is_authenticated %}
    <button data-toggle="collapse"  data-target="#tag_handler" class="btn btn-add btn-circle glyphicon glyphicon-plus">
    </button>
    <div id="tag_handler" class="collapse">
        <form action="/dataedit/tags/add/" method="post">
            {% csrf_token %}
            <h4>Choose tags to attach:</h4>
            {% for t_id, t_name, t_color in all_tags %}
                <span  >
                    <input type="checkbox" class="hidden" name="tag_{{t_id}}" id="select_{{t_id}}" {% if t_id in selected %} checked {% endif %}>
                    <label style="background:{{t_color}};color:{% readable_text_color t_color %}" class="btn tag" for="select_{{t_id}}">{{t_name}}</label>
                </span>
            {% endfor %}
            <input type="hidden" name="schema" value="{{schema}}"/>
            {% if table %}
                <input type="hidden" name="table" value="{{table}}"/>
            {% endif %}
            <input type="submit" class="btn btn-success" value="Apply">
        </form>
    </div>
    {% endif %}
</div>