{% load dataedit.taghandler %}
{% if indication_color != None %}
    <button class="btn tag" style="background: {{ indication_color }};color: #FFFFFF;width: 15px; height: 15px; margin-right: 5px;"></button>
{% endif %}
<div style="display: inline-block;">
    {{label}}
</div>
<div style="display:inline-block; width:40%;">
    {% for t in tags %}
        <button class="btn tag" style="background:{{ t.color }};color:{% readable_text_color t.color %}">
            {{t.name}}
        </button>
    {%endfor%}

</div>
