{% load fontawesome_5 %}

<div class="tagcontainer">
    {% load dataedit.taghandler %}
    {% get_tags as all_tags %}
    {% if not selected %}
        No tags were added, yet.
    {% endif %}
    {% for t in selected %}
        <a href="" class="btn tag" style="background:{{t.color}};color:{% readable_text_color t.color %}">{{ t.name }}</a>
    {% endfor %}
    <button data-bs-toggle="collapse"  data-bs-target="#tag_handler" class="btn btn-add btn-circle">
        {% fa5_icon 'plus' 'fas' %}
    </button>
    <div id="tag_handler" class="collapse">
        <form action="/dataedit/tags/add/" method="post">
            {% csrf_token %}
            <h4>Choose tags to attach:</h4>
            {% for t in all_tags %}
                <span  >
                    <input type="checkbox" class="hidden" name="tag_{{t.id}}" id="select_{{t.id}}" {% if t in selected %} checked {% endif %}>
                    <label class="form-label" style="background:{{t.color}};color:{% readable_text_color t.color %}" class="btn tag" for="select_{{t.id}}">{{t.name}}</label>
                </span>
            {% endfor %}
            <input type="hidden" name="schema" value="{{schema}}"/>
            {% if table %}
                <input type="hidden" name="table" value="{{table}}"/>
            {% endif %}
            <input type="submit" class="btn btn-success" value="Apply">
            <a type="button" class="btn btn-info" href="/dataedit/tags">Edit</a>
        </form>
    </div>
</div>