<table style="width:100%">
    <tr><td><label class="form-label" for="{{id}}_container">{{name}}</label></td></tr>
    <tr>
        <td style="width:150px"></td>
        <td>
        <div id="{{id}}_container">
            {% for source in list %}
            <div id="{{id}}_wrapper_{{forloop.counter}}">
                <div class="mb-3">
                    <label class="form-label">Name</label>
                    <input class="form-control" name="{{id}}_name_{{forloop.counter}}" value="{{source.Name}}"/>
                </div>
                <div class="mb-3">
                    <label class="form-label">URL</label>
                    <input class="form-control" name="{{id}}_url_{{forloop.counter}}" value="{{source.URL}}"/>
                </div>
                <a onclick="$('#{{id}}_wrapper_{{forloop.counter}}').remove();"><span class="fas fas-minus"></span></a>
            </div>
            <hr>
            {% if forloop.last %}
                <script type="javascript/text">
                        {{id}}_counter={{ forloop.counter }};
                </script>
            {% endif %}
            {% endfor %}
        </div>
        <a onclick="add_url_list_field('{{id}}')">Add</a>
        </td>
    </tr>

</table>
