{% extends "dataedit/base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block main-content-body-data %}

<script type="text/javascript" src="{% static 'dataedit/views.js' %}"></script>

<script type="text/javascript" src="{% static 'dataedit/editors.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/backend.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/dumps.js' %}"></script>
<script type="text/javascript" src="{% static 'dataedit/views.js' %}"></script>

<!-- vendor css -->
<link href="https://rawgit.com/okfn/recline/master/vendor/leaflet/0.7.3/leaflet.css" rel="stylesheet">
<link href="https://rawgit.com/okfn/recline/master/vendor/leaflet.markercluster/MarkerCluster.css" rel="stylesheet">
<link href="https://rawgit.com/okfn/recline/master/vendor/leaflet.markercluster/MarkerCluster.Default.css" rel=
        "stylesheet">
<link rel="stylesheet" href="https://rawgit.com/okfn/recline/master/vendor/slickgrid/2.2/slick.grid.css">

<!-- recline css -->
<link href="https://rawgit.com/okfn/recline/master/css/map.css" rel="stylesheet">

<link href="https://rawgit.com/okfn/recline/master/css/multiview.css" rel="stylesheet">
<link href="https://rawgit.com/okfn/recline/master/css/slickgrid.css"rel="stylesheet">
<link href="https://rawgit.com/okfn/recline/master/css/flot.css" rel="stylesheet">
<link href="https://raw.githubusercontent.com/tobiasahlin/SpinKit/master/css/spinkit.css" rel="stylesheet">
<link href="{% static 'dataedit/metadata.css' %}" rel="stylesheet">
<!-- Vendor JS - general dependencies -->

<script type="text/javascript">
    var bs_jQuery = jQuery.noConflict(true);
</script>

<script src="https://rawgit.com/okfn/recline/master/vendor/jquery/1.7.1/jquery.js" type="text/javascript"></script>
<script src="https://rawgit.com/okfn/recline/master/vendor/underscore/1.4.4/underscore.js" type="text/javascript"></script>
<script src="https://rawgit.com/okfn/recline/master/vendor/backbone/1.0.0/backbone.js" type="text/javascript"></script>
<script src="https://rawgit.com/okfn/recline/master/vendor/mustache/0.5.0-dev/mustache.js" type="text/javascript"></script>
{#<script src="https://rawgit.com/okfn/recline/master/vendor/bootstrap/3.2.0/js/bootstrap.js" type="text/javascript"></script>#}

<!-- Vendor JS - view dependencies -->
<script src="https://rawgit.com/okfn/recline/master/vendor/leaflet/0.7.3/leaflet.js" type="text/javascript"></script>
<script src="https://rawgit.com/okfn/recline/master/vendor/leaflet.markercluster/leaflet.markercluster.js" type="text/javascript"></script>
<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/flot/jquery.flot.js"></script>
<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/flot/jquery.flot.time.js"></script>
<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/moment/2.0.0/moment.js"></script>
<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/slickgrid/2.2/jquery-ui-1.8.16.custom.min.js"></script>
<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/slickgrid/2.2/jquery.event.drag-2.2.js"></script>
<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/slickgrid/2.2/slick.core.js"></script>
<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/slickgrid/2.2/slick.formatters.js"></script>
<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/slickgrid/2.2/slick.editors.js"></script>
<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/slickgrid/2.2/slick.grid.js"></script>
<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/slickgrid/2.2/plugins/slick.rowselectionmodel.js"></script>
<script type="text/javascript" src="https://rawgit.com/okfn/recline/master/vendor/slickgrid/2.2/plugins/slick.rowmovemanager.js"></script>
<!-- Recline JS (combined distribution, all views) -->
<script type="text/javascript" src="{% static 'dataedit/recline/dist/recline.js' %}"></script>



<script>
    unchecked = false;
    function swap_checked(){
        unchecked = !unchecked;
        build_views();
    }
</script>
<script>
    // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }
    var csrftoken = getCookie('csrftoken');

    var preview_dataset = new recline.Model.Dataset({
        table: '{{ table }}',
        schema: '{{ schema }}',
        backend: 'OEP',
        has_row_comments: {% if has_row_comments %} true {% else %} false {% endif %}
    });

    var graph, map, table;

    var filter = [];
    {% if type == "graph" %}
        var graph_group;
        var graph_series = [];
        var toggle_all_y_axis_columns = false;
    {% endif %}

	{% for f in filter %}
		filter.push({ id: {{ f.id }},
		              column: "{{ f.column }}",
		              type: "{{ f.type }}",
		              value: {{ f.value|safe }} });
	{% endfor %}

	apply_filter();

    {% if filter %}
        window.onload = function() {
	    // page needs to be loaded to make changes in document
			show_filter();
			save_filter();
        }
    {% endif %}

    preview_dataset.fetch().done(function(dataset) {

        // fill select entries for filter column selection
        var id_filter_columns = $('#id_filter_columns');
        dataset.fields.each(function(field) {
            id_filter_columns.append('<option value=\"' + field.id + '\" style=\"border: none;"> ' + field.id + '</option>');
        });

        {% if type == "graph" %}

            // load variables
            {% if y_axis %}
                graph_series = {{ y_axis|safe }};
            {% endif %}
            {% if x_axis %}
                graph_group = "{{ x_axis }}";
            {% else %}
                graph_group = preview_dataset.fields.at(0).id;
            {% endif %}

            // init document

            // create checkboxes for y-axis
			var id_columns = document.getElementById("id_columns");
            var column_number = 0;
			var current_row;
            preview_dataset.fields.each(function(field) {
				if (column_number == 0) {
					current_row = document.createElement("tr");
				}

                var is_selected = false;
                for (var i = 0; i < graph_series.length; i++) {
                if (graph_series[i] == field.id) {
                    is_selected = true;
                    }
                }

				var td = document.createElement("td");
				var input = document.createElement("input");
				input.className = "column-checkbox";
				input.addEventListener('click', function() { update(false); });
				input.type = "checkbox";
				if (is_selected) input.checked = true;
				input.id = "y-" + field.id;
				input.name = "y-axis-" + field.id;
				td.appendChild(input);
				current_row.appendChild(td);

				td = document.createElement("td");
				var label = document.createElement("label");
				label.htmlFor = "y-" + field.id;
				label.appendChild(document.createTextNode(field.id));
				td.appendChild(label);
				current_row.appendChild(td);

                if (column_number == 3)
				{
					column_number = 0;
					id_columns.appendChild(current_row);
				}
                else column_number++;
            });
			if (column_number != 0)
				id_columns.appendChild(current_row);

			// create toggle-all checkbox
			var tr = document.createElement("tr");
			var td = document.createElement("td");
			var input = document.createElement("input");
			input.type = "checkbox";
			input.id = "toggle-all";
			input.addEventListener('click', function()
			{
                toggle_all_y_axis_columns = !toggle_all_y_axis_columns;
                $(".column-checkbox").each(function(nr, item) { item.checked = toggle_all_y_axis_columns; });
                update(false);
			});
			td.appendChild(document.createElement("br"));
			td.appendChild(input);
			tr.appendChild(td);
			var td2 = document.createElement("td");
			var label = document.createElement("label");
			label.htmlFor = "toggle-all";
			label.appendChild(document.createTextNode("Toggle all"));
			td2.appendChild(document.createElement("br"));
			td2.appendChild(label);
			tr.appendChild(td2);
			id_columns.appendChild(tr);

			// fill select entries for x-axis
            var id_x_axis = $('#id_x-axis');
            dataset.fields.each(function(field) {
                id_x_axis.append('<option value=\"' + field.id + '\" style=\"border: none;\"> ' + field.id + '</option>');
            });

            id_x_axis.val(graph_group);

        {% elif type == "map" %}

            // check radio buttons
            {% if geo_type == "single-column" %}
                document.getElementById("location_single_column").checked = true;
            {% elif geo_type == "lat_long" %}
                document.getElementById("location_lat_long").checked = true;
            {% endif %}

            // fill select entries for geo-fields
            var id_geo_data = $('#id_geo_data');
            var id_geo_lat = $('#id_geo_lat');
            var id_geo_long = $('#id_geo_long');
            dataset.fields.each(function(field) {
                id_geo_data.append('<option value=\"' + field.id + '\" style=\"border: none;\"> ' + field.id + '</option>');
                id_geo_lat.append('<option value=\"' + field.id + '\" style=\"border: none;\"> ' + field.id + '</option>');
                id_geo_long.append('<option value=\"' + field.id + '\" style=\"border: none;\"> ' + field.id + '</option>');
            });

            {% if geo_column %}
                id_geo_data.val("{{ geo_column }}");
            {% elif geo_long and geo_lat %}
                id_geo_long.val("{{ geo_long }}");
                id_geo_lat.val("{{ geo_lat }}");
            {% endif %}

        {% endif %}


        update(true); // initialize and draw preview
    });

    {% if type == "table" %}
    function update(initial)
    {
        grid = new recline.View.SlickGrid({
            model: preview_dataset,
            el: (initial)? $('#container') : grid.el
        });
        grid.visible = true;
        grid.render();
    }
    {% elif type == "graph" %}
    function update(initial)
    {
        if (!initial)
        {
            graph_group = document.getElementById("id_x-axis").value;
            graph_series = [];
            preview_dataset.fields.each(function(field) {
                var checkbox = document.getElementById("y-" + field.id);
                if (checkbox.checked) { graph_series.push(field.id); }
            });
        }

        graph = new recline.View.Graph({
            model: preview_dataset,
            el: (initial)? $('#container') : graph.el,
            state:
            {
                graphType: "lines-and-points",
                group: graph_group,
                series: graph_series
            }
        });
        graph.render();
        graph.redraw();
    }
    {% elif type == "map" %}
	function update(initial)
	{
        if (document.getElementById("location_single_column").checked)
			var state =
			{
				geomField: document.getElementById("id_geo_data").value
			}
        else
            var state =
			{
				lonField: document.getElementById("id_geo_long").value,
				latField: document.getElementById("id_geo_lat").value
			}
		map = new recline.View.Map({
			model: preview_dataset,
			el: (initial)? $('#container') : map.el,
			state: state
		});
		map.render();
	}
	{% endif %}

    function add_filter()
    {
        var id_filter_columns = document.getElementById("id_filter_columns");
        var id_filter_type_equal = document.getElementById("id_filter_type_equal");
        var id_filter_type_range = document.getElementById("id_filter_type_range");

        if (id_filter_type_equal.checked)
        {
            var id_filter_value = document.getElementById("id_filter_value");
            filter.push({ column: id_filter_columns.value,
                          type:   "equal",
                          value:  {
                              value: id_filter_value.value }});
            id_filter_value.value = "";
        }
        else if (id_filter_type_range.checked)
        {
            var id_filter_start = document.getElementById("id_filter_start");
            var id_filter_end = document.getElementById("id_filter_end");
            filter.push({ column: id_filter_columns.value,
                          type:   "range",
                          value: {
                              start:  id_filter_start.value,
                              end:    id_filter_end.value }});
            id_filter_start.value = "";
            id_filter_end.value = "";
        }
        id_filter_columns.selectedIndex = 0;

        show_filter();
        apply_filter();
		save_filter();
    }
    function remove_filter(index)
    {
        filter.splice(index, 1);
        show_filter();
        apply_filter();
        save_filter();
    }

    function show_filter()
    {
        var id_filter_list = document.getElementById("id_filter_list");
        while (id_filter_list.hasChildNodes()) {
            id_filter_list.removeChild(id_filter_list.lastChild);
        }

        for (var i = 0; i < filter.length; i++)
        {
            var filter_type = filter[i].type;

            if (filter_type === "equal")
            {
                var p = document.createElement("p");
                var a = document.createElement("a");
                let index = i;
                a.addEventListener('click', function(event) { event.preventDefault(); remove_filter(index); });
                a.href = "#";
                a.appendChild(document.createTextNode(" Remove"));
                p.appendChild(document.createTextNode(filter[i].column + " = " + filter[i].value.value));
                p.appendChild(a);
                id_filter_list.appendChild(p);
            }
            else if (filter_type === "range")
            {
                var p = document.createElement("p");
                var a = document.createElement("a");
                let index = i;
                a.addEventListener('click', function(event) { event.preventDefault(); remove_filter(index); });
                a.href = "#";
                a.appendChild(document.createTextNode(" Remove"));
                p.appendChild(document.createTextNode(filter[i].value.start + " ≤ " + filter[i].column + " ≤ " + filter[i].value.end));
                p.appendChild(a);
                id_filter_list.appendChild(p);
            }

        }
    }

    function apply_filter()
    {
        var query = new recline.Model.Query();
        for (var i = 0; i < filter.length; i++)
        {
            if (filter[i].type === "equal")
            {
                query.addFilter(
                {
                    type: 'term',
                    field: filter[i].column,
                    term: filter[i].value.value
                });
            }
            else if (filter[i].type === "range")
            {
                query.addFilter(
                {
                    type: 'range',
                    field: filter[i].column,
                    from: filter[i].value.start,
                    to: filter[i].value.end
                });
            }
        }
        preview_dataset.query(query);
    }
	function save_filter()
	{
        document.getElementById('id_filter_submit').value = JSON.stringify(filter);
	}

</script>

{% if not new %}
<h3>Modify {{ view.name }}</h3>
{% elif type == "table" %}
<h3>Create a new table</h3>
{% elif type == "graph" %}
<h3>Create a new graph</h3>
{% elif type == "map" %}
<h3>Create a new map</h3>
{% endif %}

<form action="{{ request.path }}/save" method="post">
    {% csrf_token %}
    <input type="hidden" name="type" value="{{ type }}">
    {% if not new %}
    <input type="hidden" name="id" value="{{ view.id }}">
    {% endif %}
    <table style="tabel-layout: fixed; width: 100%">
		<colgroup>
		   <col span="1" style="width: 20%;">
		   <col span="1" style="width: 80%;">
		</colgroup>
        <tr>
            <td>
                <label for="id_name">Name</label>
            </td>
            <td>
                <input required id="id_name" type="text" class="form-control"
                       value="{% if not new %}{{ view.name }}{% endif %}" name="name">
            </td>
        </tr>
        {% if type == "graph" %}
        <tr>
            <td>
                <br>
                <label for="id_x-axis">
                    Select x-axis
                </label>
            </td>
            <td>
                <br>
                <select id="id_x-axis" name="x-axis" class="form-control" onchange="update(false)"></select>
            </td>
        </tr>
        <tr>
            <td>
                <label for="id_columns">
                    Select y axis
                </label>
            </td>
            <td>
                <br>
                <table id="id_columns" style="table-layout: fixed; width: 100%">
					<colgroup>
						<col span="1" style="width: 5%">
						<col span="1" style="width: 20%">
						<col span="1" style="width: 5%">
						<col span="1" style="width: 20%">
						<col span="1" style="width: 5%">
						<col span="1" style="width: 20%">
						<col span="1" style="width: 5%">
						<col span="1" style="width: 20%">
					</colgroup>
                </table>
                <br>
                <br>
            </td>
        </tr>
        {% endif %}
        {% if type == "map" %}
        <tr>
            <td>
                <label>Location data</label>
            </td>
            <td>
                <br>
                <br>
                <table style="tabel-layout: fixed; width: 100%">
                    <colgroup>
                       <col span="1" style="width: 5%;">
                       <col span="1" style="width: 25%;">
                       <col span="1" style="width: 70%;">
                    </colgroup>
                    <tr>
                        <td>
                            <input type="radio" id="location_single_column" name="location_type"
                                   value="single-column" onchange="update(false)"
                                   {% if geo_type == "single-column" %}checked{% endif %}>
                        </td>
                        <td colspan="2">
                            <label for="location_single_column">Single column with geo_point or GeoJSON</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td colspan="2">
                            <select id="id_geo_data" name="geo_data" class="form-control" onchange="update(false)">
                            </select>
                            <br>
                        </td>
                    </tr>

                    <tr>
                        <td>
                            <input type="radio" id="location_lat_long" name="location_type"
                                   value="lat_long" onchange="update(false)"
                                   {% if geo_type == "lat_long" %}checked{% endif %}>
                        </td>
                        <td colspan="2">
                            <label for="location_lat_long">Latitude and longitude</label>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="id_geo_lat">Latitude</label></td>
                        <td>
                            <select id="id_geo_lat" name="geo_lat" class="form-control" onchange="update(false)">
                            </select>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><label for="id_geo_long">Longitude</label></td>
                        <td>
                            <select id="id_geo_long" name="geo_long" class="form-control" onchange="update(false)">
                            </select>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td>
                <br>
                <label>Filter</label>
                <input type="hidden" name="filter" id="id_filter_submit">
            </td>
            <td>
                <br>
                <div class="well" id="id_filter_list">
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <label>Add filter</label>
            </td>
            <td>
                <div class="well">
                    <table style="tabel-layout: fixed; width: 100%">
                        <tr>
                            <td colspan="4">
                                <select id="id_filter_columns" class="form-control"></select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <br>
                                <input type="radio" name="filter_type" id="id_filter_type_equal">
                                <label for="id_filter_type_equal"> Equals</label>
                            </td>
                            <td colspan="3">
                                <br>
                                <input type="text" formaction="javascript:void(0);" id="id_filter_value" class="form-control">
                            </td>

                        </tr>
                        <tr>
                            <td>
                                <br>
                                <input type="radio" name="filter_type" id="id_filter_type_range">
                                <label for="id_filter_type_range"> Between</label>
                            </td>
                            <td>
                                <br>
                                <input type="number" id="id_filter_start" class="form-control">
                            </td>
                            <td style="text-align: center;">
                                <br>
                                and
                            </td>
                            <td>
                                <br>
                                <input type="number" id="id_filter_end" class="form-control">
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4">
                                <br>
                                <button type="button" onclick="add_filter()" class="btn btn-default">Add filter</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </td>
        </tr>
    </table>

    <br>
    <label>Preview </label>
    <button class="btn btn-default" type="button" onclick="update()">Refresh</button>
    <br>

    <div id="container" style="min-height: 500px">
    </div>

    <br>

    <input type="submit" class="btn btn-success" value="Save">
    <a href="/dataedit/view/{{ schema }}/{{ table }}{% if not new %}?view={{ view.id }}{% endif %}"
       class="btn btn-default">Cancel</a>
    <br><br><br>
</form>

{% endblock %}
