{% extends "dataedit/base.html" %} {% load static %} {% load bootstrap4 %} {% block after-head %}
<link href="/static/wizard/wizard.css" rel="stylesheet"> {% endblock after-head %} {% block site-header %}
<h2 class="site-header"><i class="fa fa-hat-wizard"></i>Wizard</h2>
{% endblock site-header %} {% block main %}
<!-- inside bootstrap column -->

<div id="wizard-container" class="container-fluid">
    <!--{% csrf_token %}-->


    <div class="row">
        <div class="col">
            <input type="text" class="form-control" placeholder="table name" id="wizard-tablename" />
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div id="wizard-columns" class="row">


            </div>
        </div>

        <div class="row invisible wizard-column" id="wizard-column-template">
            <div class="col">
                <input type="text" class="form-control wizard-column-name" placeholder="column name" />
            </div>
            <div class="col">
                <input type="text" class="form-control wizard-column-type" placeholder="column type" />
            </div>
            <div class="col">
                <button class="btn btn-primary wizard-column-drop"><i class="fa fa-minus"></i></button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary" id="wizard-column-add"><i class="fa fa-plus"></i></button>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <button class="btn btn-primary" id="wizard-table-create"><i class="fa fa-table"></i></button>
            </div>
        </div>

    </div>


    <!--
{% if config.table %}{{ config.schema }}.{{ config.table }}{% else %}New Table{% endif %}
-->

</div>
<!-- id="wizard-container" class="container-fluid" -->

{% endblock main %} {% block after-body-bottom-js %}
<script src="/static/wizard/papaparse.min.js"></script>
<script src="/static/wizard/wizard.js"></script>
<script>
    var config = JSON.parse("{{ config|escapejs }}");
    var wizard = Wizard(config);
</script>
{% endblock after-body-bottom-js %}